<div class="product-card">
  <div class="product-card-top">
    <div class="product-card-gallery">
      <img [ngSrc]="'/assets/products/1.jpg'" [width]="342" [height]="322" alt="Product description">

      <div class="product-card-dots">
        <div class="product-card-dot"></div>
        <div class="product-card-dot active"></div>
        <div class="product-card-dot"></div>
        <div class="product-card-dot"></div>
        <div class="product-card-dot"></div>
      </div>

    </div>

    <div class="product-top-indicator">
      Топ
    </div>

    <button class="product-card-heart">
      <mat-icon svgIcon="icon:heart"></mat-icon>
    </button>

    <div class="product-card-percent">
      50%
    </div>
  </div>
</div>
