@import "variables";
@import "mixins";

.company-profile-bread-crumb {
  margin-bottom: 1rem;
}

.company-profile-banner {
  position: relative;
  aspect-ratio: 6;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: $background-grey-color;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.company-profile-banner-img {
  position: relative;
  z-index: 1;
}

.company-profile-top {
  @include grid(1fr 1fr, 1.5rem);
  padding: 1.5rem 0;
  border-bottom: 1px solid $border-grey-color;
}

.company-profile-main-left {
  @include grid(1fr 2.5fr, 1rem);
}

.company-profile-logo {
  position: relative;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  background-color: $background-grey-color;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.company-profile-brand-details {
  padding: 0.5rem 0;
  border-bottom: 1px solid $border-grey-color;
}

.company-profile-brand-name {
  margin-bottom: 0.125rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: $dialog-title-black;
}

.company-profile-username-views {
  @include flex-center-between;
  gap: 2rem;
}

.company-profile-username-views-item {
  @include flex-center(0.25rem);
  font-size: 0.875rem;
  font-weight: 400;
  color: $secondary-text-color;

  .mat-icon {
    width: 1.125rem;
  }
}

.company-profile-stats {
  @include flex-center(1rem);
  padding: 0.75rem 0 1rem;
}

.company-profile-stats-item {
  padding: 0.5rem 2rem 0.5rem 0;
  font-size: 0.875rem;
  color: $secondary-text-color;

  &:not(:last-child) {
    border-right: 1px solid $border-grey-color;
  }
}

.company-profile-stats-value {
  margin-bottom: 0.25rem;
  font-weight: 500;
  color: $dialog-title-black;
}

.company-profile-main-right {
  @include flex-column(0.75rem);
}

.company-profile-additional {
  @include flex-center(2rem);
}

.company-profile-additional-item {
  @include flex-center(0.5rem);
  font-size: 0.875rem;
}

.company-profile-additional-value {
  color: $secondary-text-color;
}

.company-profile-contact {
  @include grid(1fr 1fr, 0.5rem 1rem);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: $input-background;
}

.company-profile-contact-label {
  margin-bottom: 0.125rem;
  font-size: 0.875rem;
  color: $secondary-text-color;
}

.company-profile-contact-value {
  @include flex-center(0.25rem);
  flex-wrap: nowrap;

  .mat-icon {
    width: 1rem;
    flex-shrink: 0;
  }

  span {
    @include line-clamp(1);
  }
}

.company-profile-middle {
  @include grid(1fr 1fr, 1.5rem);
  padding-top: 1.5rem;
}

.company-profile-middle-heading {
  font-size: 1.25rem;
  font-weight: 500;
  color: $dialog-title-black;
}

.company-profile-about-text {
  padding-top: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $secondary-black-color
}

.company-profile-rate-header {
  @include flex-start-between(3rem);
}

.company-profile-rate-title {
  flex-grow: 1;
}

.company-profile-rate-description {
  padding-top: 0.75rem;
  font-size: 0.875rem;
  color: $secondary-black-color;
}

.company-profile-rate-body {
  @include flex-center(1.5rem);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.company-profile-rate-number {
  text-align: center;

  strong {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 3.5rem;
    font-weight: 500;
    color: $dialog-title-black;
  }

  span {
    display: block;
    font-size: 1rem;
    color: $secondary-text-color;
  }
}

.company-profile-rate-diagram {
  @include flex-column(0.5rem);
  flex-grow: 1;
}

.company-profile-rate-diagram-bar {
  @include flex-center(0.5rem);
}

.company-profile-rate-diagram-number {
  width: 1rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: $dialog-title-black;
  text-align: center;
}

.company-profile-rate-diagram-line {
  flex-grow: 1;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: $input-background;

  div {
    height: 100%;
    border-radius: 0.5rem;
    background-color: $primary-blue-color;
  }
}

.company-profile-tabs {
  padding-top: 1.5rem;
}

.company-profile-video {
  position: relative;
  aspect-ratio: 16/9;
  background-color: $background-grey-color;
  border-radius: 0.5rem;
}

@include media(1080px) {
  .company-profile {
    padding-top: 0;
  }

  .company-profile-top {
    @include grid(1fr, 1rem);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .company-profile-main-left {
    @include flex-start(0.75rem);
  }

  .company-profile-logo {
    width: 8rem;
    border-radius: 50%;
  }

  .company-profile-brand-stats {
    @include flex-start(1.5rem);
    flex-grow: 1;

    ui-button {
      flex-grow: 1;
    }
  }

  .company-profile-contact {
    @include grid(repeat(3, 1fr), 0.5rem);
    padding: 0.75rem;
  }

  .company-profile-stats {
    padding: 0.5rem 0;
  }

  .company-profile-stats-item {
    padding: 0.5rem 1rem 0.5rem 0;
  }

  .company-profile-middle {
    grid-gap: 1rem;
    padding-top: 0.75rem;
  }

  .company-profile-middle-heading {
    font-size: 1rem;
  }

  .company-profile-tabs {
    padding-top: 0.75rem;
  }

  .company-profile-rate-description, .company-profile-about-text {
    padding-top: 0.5rem;
  }
}

@include media(780px) {
  .company-profile-brand-stats {
    display: block;
  }

  .company-profile-username-views {
    justify-content: flex-start;
  }

  .company-profile-contact {
    @include grid(repeat(2, 1fr), 0.5rem);
  }

  .company-profile-middle {
    @include grid(1fr, 0.5rem);
  }
}

@include media(620px) {
  .company-profile-main-left {
    @include grid(1fr, 0.5rem);
  }

  .company-profile-logo {
    width: 60%;
    margin: 0 auto;
  }

  .company-profile-brand-name, .company-profile-stats-value {
    text-align: center;
  }

  .company-profile-username-views, .company-profile-stats {
    justify-content: center;
  }
}

@include media(450px) {
  .company-profile-contact {
    @include grid(1fr, 0.5rem);
  }
}
