<section class="company-profile section">
  @if (store) {
    <div class="container">
      <div class="company-profile-banner">
        <img [ngSrc]="store?.banner" [fill]="true" [alt]="">
      </div>

      <div class="company-profile-top">
        <div class="company-profile-main-left">
          <div class="company-profile-logo">
            <img [ngSrc]="store?.logo" [fill]="true" [alt]="store?.name">
          </div>

          <div class="company-profile-brand-stats">
            <div>
              <div class="company-profile-brand-details">
                <h2 class="company-profile-brand-name">{{ store?.name }}</h2>

                <div class="company-profile-username-views">
                  <div class="company-profile-username-views-item">
                    {{ '@' + store?.shortname }}
                  </div>

                  <div class="company-profile-username-views-item">
                    <mat-icon [svgIcon]="'icon:eye'"/>
                    <span>11</span>
                  </div>

                  <div class="company-profile-username-views-item">
                    {{ 'since.registered.date'| translate: { registeredDate: store?.created_at| date: 'dd.MM.YYYY' } }}
                  </div>
                </div>
              </div>

              <div class="company-profile-stats">
                <div class="company-profile-stats-item">
                  <div class="company-profile-stats-value">{{ store?.followers| number}}</div>
                  <div class="company-profile-stats-label">{{ 'subscribers'| translate }}</div>
                </div>

                <div class="company-profile-stats-item">
                  <div class="company-profile-stats-value">{{ store?.likes| number }}</div>
                  <div class="company-profile-stats-label">{{ 'likes'| translate }}</div>
                </div>

                <div class="company-profile-stats-item">
                  <div class="company-profile-stats-value">{{ store?.comments| translate }}</div>
                  <div class="company-profile-stats-label">{{ 'comments'| translate }}</div>
                </div>
              </div>
            </div>

            <ui-button
              [type]="store?.user_follow ? 'gray-outline' : 'blue'"
              [text]="store?.user_follow ? 'unsubscribe': 'subscribe'"
              [full]="true"
              (click)="subscribeToStore()"
            />
          </div>
        </div>

        <div class="company-profile-main-right">
          <div class="company-profile-additional">
            <div class="company-profile-additional-item">
              <span class="company-profile-additional-label">ID:</span>
              <span class="company-profile-additional-value">{{ store?.pk }}</span>
            </div>

            @if (store?.is_verified) {
              <div class="company-profile-additional-item">
                <mat-icon [svgIcon]="'icon:verified'"/>
                <span class="company-profile-additional-label">{{ 'verified'| translate }}</span>
              </div>
            }

            <div class="company-profile-additional-item">
              <span class="company-profile-additional-label">{{ 'delivery'| translate }}:</span>
              <span class="company-profile-additional-value">{{ (store?.delivery ? 'available' : 'no')| translate| lowercase }}</span>
            </div>

            <!--<div class="company-profile-additional-item">
              <span class="company-profile-additional-label">{{ 'category'| translate }}:</span>
              <span class="company-profile-additional-value">Мобильные телефоны</span>
            </div>-->
          </div>
          <div class="company-profile-contact">
            <div class="company-profile-contact-item">
              <div class="company-profile-contact-label">{{ 'phone.number'| translate }}</div>
              <div class="company-profile-contact-value">
                <mat-icon [svgIcon]="'icon:phone'"/>
                <span>{{ store?.main_phone_number| phoneNumber }}</span>
              </div>
            </div>

            <div class="company-profile-contact-item">
              <div class="company-profile-contact-label">{{ 'working.time'| translate }}</div>
              <div class="company-profile-contact-value">
                <mat-icon [svgIcon]="'icon:clock'"/>
                <span>{{ weekdays[+store?.working_day_start]?.name| translate }} - {{ weekdays[+store?.working_day_end]?.name| translate }},
                  {{ store?.working_time_start }} - {{ store?.working_time_end }}</span>
              </div>
            </div>

            <div class="company-profile-contact-item">
              <div class="company-profile-contact-label">{{ 'address'| translate }}</div>
              <div class="company-profile-contact-value" [title]="store?.address">
                <mat-icon [svgIcon]="'icon:location-outline'"/>
                <span>{{ store?.address }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      @defer (on viewport) {
        <div class="company-profile-middle">
          <div class="company-profile-about">
            <h3 class="company-profile-middle-heading">{{ 'store.information'| translate }}</h3>
            <p class="company-profile-about-text">
              {{ store?.desc }}
            </p>
          </div>

          <div class="company-profile-rate">
            <div class="company-profile-rate-header">
              <div class="company-profile-rate-title">
                <h3 class="company-profile-middle-heading">{{ 'rating'| translate }}</h3>
                <p class="company-profile-rate-description">{{ 'the.rating.is.formed.as.a.result.of.votes.cast.by.system.users'| translate }}</p>
              </div>

              <ui-button
                [text]="'rate'"
                (click)="openRateModal()"
              />
            </div>

            <div class="company-profile-rate-body">
              <div class="company-profile-rate-diagram">
                <div class="company-profile-rate-diagram-bar">
                  <div class="company-profile-rate-diagram-number">5</div>
                  <div class="company-profile-rate-diagram-line">
                    <div [ngStyle]="{
                    width: (store?.total_ratings_count > 0 ? +store?.rating5 / store?.total_ratings_count : 0) * 100 + '%'
                  }"></div>
                  </div>
                </div>

                <div class="company-profile-rate-diagram-bar">
                  <div class="company-profile-rate-diagram-number">4</div>
                  <div class="company-profile-rate-diagram-line">
                    <div [ngStyle]="{
                    width: (store?.total_ratings_count > 0 ? +store?.rating4 / store?.total_ratings_count : 0) * 100 + '%'
                  }"></div>
                  </div>
                </div>

                <div class="company-profile-rate-diagram-bar">
                  <div class="company-profile-rate-diagram-number">3</div>
                  <div class="company-profile-rate-diagram-line">
                    <div [ngStyle]="{
                    width: (store?.total_ratings_count > 0 ? +store?.rating3 / store?.total_ratings_count : 0) * 100 + '%'
                  }"></div>
                  </div>
                </div>

                <div class="company-profile-rate-diagram-bar">
                  <div class="company-profile-rate-diagram-number">2</div>
                  <div class="company-profile-rate-diagram-line">
                    <div [ngStyle]="{
                    width: (store?.total_ratings_count > 0 ? +store?.rating2 / store?.total_ratings_count : 0) * 100 + '%'
                  }"></div>
                  </div>
                </div>

                <div class="company-profile-rate-diagram-bar">
                  <div class="company-profile-rate-diagram-number">1</div>
                  <div class="company-profile-rate-diagram-line">
                    <div [ngStyle]="{
                    width: (store?.total_ratings_count > 0 ? +store?.rating1 / store?.total_ratings_count : 0) * 100 + '%'
                  }"></div>
                  </div>
                </div>
              </div>

              <div class="company-profile-rate-number">
                <strong>{{ store?.avg_rating }}</strong>

                <span>{{ 'n.ratings'| translate: { count: store?.total_ratings_count } }}</span>
              </div>
            </div>

            @if (store?.video_link) {
              <div class="company-profile-video">
                <video-player
                  [videoURL]="store?.video_link"
                />
              </div>
            }
          </div>
        </div>
      } @placeholder {
        <spinner-loader/>
      }

      @defer (on viewport) {
        <div class="company-profile-tabs">
          <tabs [tabs]="tabs"/>
        </div>
      } @placeholder {
        <spinner-loader/>
      }

    </div>
  }
</section>
