@import "variables";
@import "mixins";

.company-profile-bread-crumb {
  margin-bottom: 1rem;
}

.company-profile-banner {
  position: relative;
  aspect-ratio: 4.38;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: $background-grey-color;
}

.company-profile-banner.edit-mode {
  border: 1px dashed $border-grey-color;
}

.company-profile-banner-img {
  position: relative;
  z-index: 1;
}

.company-profile-banner-requirements {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include flex-column(1rem);
  align-items: center;
}

.company-profile-banner-requirements-icon {
  position: relative;
  width: 5rem;
  aspect-ratio: 19/12;
}

.company-profile-banner-requirements-text {
  color: $secondary-text-color;
}

.company-profile-banner-actions {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 2;
  @include flex-center(0.5rem);
}

.company-profile-banner-button {
  @include flex-center-center(0.5rem);
  height: 2.75rem;
  background-color: $white-color;
  border: 1px solid $border-grey-color;
  border-radius: 0.25rem;
  color: $dialog-title-black;

  &.camera {
    padding: 0 0.75rem;
  }

  &.trash {
    aspect-ratio: 1;
  }

  .mat-icon {
    height: 1.25rem;
    color: $secondary-text-color;
  }
}

.company-profile-top {
  @include grid(1fr 1fr, 1.5rem);
  padding: 1.5rem 0;
  border-bottom: 1px solid $border-grey-color;
}

.company-profile-main-left {
  @include grid(1fr 2.5fr, 1rem);
}

.company-profile-logo {
  position: relative;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  background-color: $background-grey-color;

  img {
    object-fit: none;
  }
}

.company-profile-brand-details {
  padding: 0.5rem 0;
  border-bottom: 1px solid $border-grey-color;
}

.company-profile-brand-name {
  margin-bottom: 0.125rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: $dialog-title-black;
}

.company-profile-username-views {
  @include flex-center(4rem);
  gap: 2rem;
}

.company-profile-username-views-item {
  @include flex-center(0.25rem);
  font-size: 0.875rem;
  font-weight: 400;
  color: $secondary-text-color;

  .mat-icon {
    width: 1.125rem;
  }
}

.company-profile-stats {
  @include flex-center(1rem);
  padding: 0.75rem 0 1rem;
}

.company-profile-stats-item {
  padding: 0.5rem 2rem 0.5rem 0;
  font-size: 0.875rem;
  color: $secondary-text-color;

  &:not(:last-child) {
    border-right: 1px solid $border-grey-color;
  }
}

.company-profile-stats-value {
  margin-bottom: 0.25rem;
  font-weight: 500;
  color: $dialog-title-black;
}

.company-profile-main-right {
  @include flex-column(0.75rem);
}

.company-profile-additional {
  @include flex-center-between;
  gap: 1.5rem;
}

.company-profile-additional-item {
  @include flex-center(0.5rem);
  font-size: 0.875rem;
}

.company-profile-additional-value {
  color: $secondary-text-color;
}

.company-profile-contact {
  @include flex-start-between(1rem);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: $input-background;
}

.company-profile-contact-label {
  margin-bottom: 0.125rem;
  font-size: 0.875rem;
  color: $secondary-text-color;
}

.company-profile-contact-value {
  @include flex-center(0.25rem);

  .mat-icon {
    width: 1rem;
  }
}

.company-profile-balance {
  @include flex-center-between;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid $border-grey-color;
}

.company-profile-balance-label {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  color: $secondary-text-color;
}

.company-profile-balance-value {
  font-size: 1.25rem;
  font-weight: 500;
  color: $logo-black-color;
}

.company-profile-middle {
  @include grid(1fr 1fr, 1.5rem);
  padding-top: 1.5rem;
}

.company-profile-middle-heading {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: $dialog-title-black;
}

.company-profile-about-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $secondary-black-color
}

.company-profile-rate-header {
  @include flex-start-between(3rem);
}

.company-profile-rate-title {
  width: 60%;
}

.company-profile-rate-description {
  font-size: 0.875rem;
  color: $secondary-black-color;
}

.company-profile-rate-body {
  @include grid(1fr 5.76fr, 1.5fr);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.company-profile-rate-number {
  strong {
    display: block;
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 500;
    color: $dialog-title-black;
  }

  span {
    display: block;
    font-size: 1rem;
    color: $secondary-text-color;
  }
}

.company-profile-rate-diagram {
  @include flex-column(0.5rem);
}

.company-profile-rate-diagram-bar {
  @include flex-center(0.5rem);
}

.company-profile-rate-diagram-number {
  width: 1rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: $dialog-title-black;
  text-align: center;
}

.company-profile-rate-diagram-line {
  flex-grow: 1;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: $input-background;

  div {
    height: 100%;
    border-radius: 0.5rem;
    background-color: $primary-blue-color;
  }
}

.company-profile-tabs {
  padding-top: 1.5rem;
}

.company-profile-video {
  position: relative;
  padding-top: 1.5rem;
  aspect-ratio: 16/9;
  background-color: $background-grey-color;
  border-radius: 0.5rem;
}

.company-profile-video-player {
  position: relative;
  z-index: 1;
}

.company-profile-video-requirements {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include flex-column(1rem);
  align-items: center;
}

.company-profile-video-requirements-icon {
  position: relative;
  width: 5rem;
  aspect-ratio: 7/5;
}

.company-profile-video-requirements-text {
  color: $secondary-text-color;
}
