<div class="tab" color="accent" mat-tab-nav-bar [tabPanel]="tabPanel">
  <a
    [routerLink]="['active']"
    class="tab-item"
    [routerLinkActive]="'active'" #rla="routerLinkActive"
    [active]="rla.isActive"
    [ariaCurrentWhenActive]="true"
    mat-tab-link
  >
    Активный
  </a>
  <a
    [routerLink]="['pending']"
    class="tab-item"
    [routerLinkActive]="'active'" #rla="routerLinkActive"
    [active]="rla.isActive"
    mat-tab-link>
    Ожидающий
  </a>
  <a
    [routerLink]="['not-payed']"
    class="tab-item"
    [routerLinkActive]="'active'" #rla="routerLinkActive"
    [active]="rla.isActive"
    mat-tab-link>
    Неоплачиваемый
  </a>
  <a
    [routerLink]="['not-active']"
    class="tab-item"
    [routerLinkActive]="'active'" #rla="routerLinkActive"
    [active]="rla.isActive"
    mat-tab-link>
    Неактивный
  </a>
  <a
    [routerLink]="['rejected']"
    class="tab-item"
    [routerLinkActive]="'active'" #rla="routerLinkActive"
    [active]="rla.isActive"
    mat-tab-link>
    Отклоненный
  </a>
</div>

<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
