@import "variables";
@import "mixins";

:host {
  display: block;
}

.ui-button {
  @include flex-center-center(0.5rem);
  height: 2.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.5rem;
  font-family: "Inter", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;

  &.font-14 {
    font-size: 0.875rem;
  }

  &.font-12 {
    font-size: 0.75rem;
  }

  &.gray {
    background-color: $input-background;
    color: $dialog-title-black;
  }

  &.red {
    background-color: $primary-red-color;
    color: $white-color;
  }

  &.blue {
    background-color: $primary-blue-color;
    color: $white-color;

    &[disabled] {
      background-color: $secondary-text-color;
      color: $white-color;
      cursor: default;
    }
  }

  &.gray-outline {
    background-color: $white-color;
    border: 1px solid $border-grey-color;
    color: $dialog-title-black
  }

  &.green-outline {
    background-color: rgba($success-green, 0.1);
    border: 1px solid $success-green;
    color: $success-green
  }

  &.full {
    width: 100%;
  }

  &.with-icon {
    @include flex-center-center(0.675rem);
  }

  &.loading {
    cursor: wait;
  }

  .mat-icon {
    width: 1.25rem;
  }
}

@include media(1080px) {
  .ui-button {
    height: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 0.75rem;
  }
}
