<button
  [type]="actionType"
  [title]="title ? (title| translate) : ''"
  [disabled]="disabled"
  class="ui-button {{ type }} {{ textSizeClass }}"
  [class.full]="full"
  [ngClass]="{
   'full': full,
   'with-icon': icon,
   'loading': loading
  }"
  mat-ripple
  [matRippleDisabled]="loading"
>
  @if (icon) {
    <mat-icon [svgIcon]="icon"/>
  }
  @if (!loading) {
    <span>{{ text| translate }}</span>
  }

  @if (loading) {
    <mat-spinner
      class="ui-button-spinner"
      [diameter]="22"/>
  }
</button>
