@import "variables";
@import "mixins";

.branches {
  padding: 1.25rem;
  border-radius: 0.5rem;
  border: 1px solid $border-grey-color;
}

.branches-heading {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.branches-list {
  @include flex-column(1.5rem)
}

.branches-item {
  @include flex-start(1rem);
  padding-bottom: 0.75rem;
  border-bottom: 1px solid $border-grey-color;
}

.branch-info {
  flex-grow: 1;
}

.branch-name {
  font-size: 1.125rem;
  font-weight: 500;
  color: $dialog-title-black;
}

.branch-details {
  @include grid(1fr 1fr, 0.75rem 1.5rem);
  align-items: start;
  padding-top: 0.75rem;
}

.branch-details-item {
  font-size: 0.875rem;
}

.branch-details-label {
  color: $secondary-text-color;
}

.branch-details-value {
  font-weight: 500;
  color: $dialog-title-black;
}

.branch-actions {
  @include flex-column(0.25rem);
  flex-shrink: 0;
}

.branch-new {
  @include flex-center-end;
  padding-top: 1.25rem;
}

@include media(1080px) {
  .branches {
    padding: 0.75rem;
  }

  .branches-heading {
    margin-bottom: 1rem;
  }

  .branch-details {
    @include grid(1fr, 0.5rem);
    padding-top: 0;
  }
}
