<div class="branches">
  @if (loading && !branches.length) {
    <spinner-loader/>
  }

  @if (!loading && !branches.length) {
    <profile-empty-list
      [emptyListText]="'if.you.have.branches.add.them'"
      [emptyListImg]="'/assets/empty-list-icons/branches.svg'"
      [emptyListButton]="'add'"
      (onEmptyListButtonClick)="openBranchActionDialog()"
    />
  }

  @if (branches.length) {
    <h2 class="branches-heading">{{ 'my.branches'| translate }}</h2>
    <ul class="branches-list">
      @for (branch of branches; track branch) {
        <li class="branches-item">
          <div class="branch-info">
            <h3 class="branch-name">{{ branch.name }}</h3>

            <div class="branch-details">
              <div class="branch-details-item">
                <span class="branch-details-label">{{ 'working.time'| translate }}: </span>
                <span class="branch-details-value">
                  {{ weekdays[+branch.working_day_start].name| translate }} - {{ weekdays[+branch.working_day_end].name| translate }},
                  {{ branch.working_time_start }} - {{ branch.working_time_end }}
                </span>
              </div>
              <div class="branch-details-item">
                <span class="branch-details-label">{{ 'delivery'| translate }}: </span>
                <span class="branch-details-value">{{ (branch.delivery ? 'available' : 'no')| translate| lowercase }}</span>
              </div>
              <div class="branch-details-item">
                <span class="branch-details-label">{{ 'phone.number'| translate }}: </span>
                <span class="branch-details-value">{{ branch.main_phone_number| phoneNumber }}</span>
              </div>
              <div class="branch-details-item">
                <span class="branch-details-label">{{ 'address'| translate }}: </span>
                <span class="branch-details-value">{{ branch.address }}</span>
              </div>
            </div>
          </div>
          <div class="branch-actions">
            <icon-button
              [buttonType]="'blue'"
              [icon]="'icon:pencil'"
              (click)="openBranchActionDialog(branch.pk)"
            />

            <icon-button
              [buttonType]="'red'"
              [icon]="'icon:trash'"
              (click)="deleteBranch(branch.pk)"
            />
          </div>
        </li>
      }
    </ul>

    <div class="branch-new">
      <ui-button
        [text]="'add'"
        (click)="openBranchActionDialog()"
      />
    </div>
  }
</div>
