<div class="branches">
  <h2 class="branches-heading">Филиалы</h2>

  <profile-empty-list
    [emptyListText]="'Если у вашей компании несколько филиалов, укажите и их'"
    [emptyListImg]="'/assets/empty-list-icons/branches.svg'"
    [emptyListButton]="'Добавить'"
    (onEmptyListButtonClick)="openBranchActionDialog()"
  />

  <ul class="branches-list">
    @for (i of [1, 2, 3]; track i) {
      <li class="branches-item">
        <div class="branch-info">
          <h3 class="branch-name">Чиланзарский филиал</h3>

          <div class="branch-details">
            <div class="branch-details-item">
              <div class="branch-details-label">Рабочее время:</div>
              <div class="branch-details-value">Пон. - Пят. 09:00 - 18:00</div>
            </div>
            <div class="branch-details-item">
              <div class="branch-details-label">Доставка:</div>
              <div class="branch-details-value">есть</div>
            </div>
            <div class="branch-details-item">
              <div class="branch-details-label">Номер телефона:</div>
              <div class="branch-details-value">+998 33 695 95 50</div>
            </div>
            <div class="branch-details-item">
              <div class="branch-details-label">Адрес:</div>
              <div class="branch-details-value">улица Ислама Каримова, 51</div>
            </div>
          </div>
        </div>
        <div class="branch-actions">
          <icon-button
            [type]="'blue'"
            [icon]="'icon:pencil'"
          />

          <icon-button
            [type]="'red'"
            [icon]="'icon:trash'"
            (click)="openConfirmation()"
          />
        </div>
      </li>
    }
  </ul>
</div>
