@import 'variables';
@import 'mixins';

.header-top {
  position: relative;
  z-index: 2;
  background-color: $background-grey-color;
}

.header-top-inner {
  @include flex-center-between;
  padding: 0.25rem 0;
}

.header-top-right {
  @include flex-center(1.5rem);
}

@include media(1080px) {
  .header-top-links {
    display: none;
  }
}
