<div class="create-announcement-header">
  <icon-button
    [buttonType]="'gray'"
    [icon]="'icon:arrow-back'"
    (click)="back()"
  />

  <h2 class="create-announcement-heading">{{ 'edit.announcement'| translate }}</h2>
</div>

<div class="create-announcement-tabs">
  <button
    class="create-announcement-tabs-item active"
    mat-ripple
    [matRippleColor]="'#F1F5F990'"
    (click)="changeTab(1)"
  >
    <div class="create-announcement-tabs-index">
      1
    </div>

    <div class="create-announcement-tabs-title">{{ 'main.information'| translate }}</div>
  </button>

  <div class="create-announcement-tabs-decoration">
    <ng-container
      *ngTemplateOutlet="decorationItems"
    />
  </div>

  <button
    class="create-announcement-tabs-item"
    mat-ripple
    [matRippleColor]="'#F1F5F990'"
    (click)="changeTab(2)"
    [disabled]="!data['1'] || data['1'] && data['1'].invalid"
    [ngClass]="{
      'enabled': data['1'] && data['1'].valid,
      'disabled': !data['1'] || data['1'] && data['1'].invalid,
      'active': currentTab >= 2
    }"
  >
    <div class="create-announcement-tabs-index">
      2
    </div>

    <div class="create-announcement-tabs-title">{{ 'discount.details'| translate }}</div>
  </button>

  <div class="create-announcement-tabs-decoration">
    <ng-container
      *ngTemplateOutlet="decorationItems"
    />
  </div>

  <button
    class="create-announcement-tabs-item"
    mat-ripple
    [matRippleColor]="'#F1F5F990np'"
    (click)="changeTab(3)"
    [disabled]="(!data['1'] || data['1'] && data['1'].invalid) || (!data['2'] || data['2'] && data['2'].invalid)"
    [ngClass]="{
      'enabled': data['1'] && data['1'].valid && data['2'] && data['2'].valid,
      'disabled': (!data['1'] || data['1'] && data['1'].invalid) || (!data['2'] || data['2'] && data['2'].invalid),
      'active': currentTab >= 3
    }"
  >
    <div class="create-announcement-tabs-index">
      3
    </div>

    <div class="create-announcement-tabs-title">{{ 'product.features'| translate }}</div>
  </button>
</div>

@if (details) {
  <edit-announcement-first-step
    [hidden]="currentTab !== 1"
    (onFormStateChanged)="onFormStateChanged($event)"
    (onStepChanged)="changeTab($event)"
    [productDetails]="details"
  />
  <edit-announcement-second-step
    [hidden]="currentTab !== 2"
    (onFormStateChanged)="onFormStateChanged($event)"
    (onStepChanged)="changeTab($event)"
    [productDetails]="details"
  />
  <edit-announcement-third-step
    [hidden]="currentTab !== 3"
    (onFormStateChanged)="onFormStateChanged($event)"
    (onStepChanged)="changeTab($event)"
    [productDetails]="details"
  />
}

<ng-template #decorationItems>
  @for (i of Array(20).fill(1); track i) {
    <div class="create-announcement-tabs-decoration-item"></div>
  }
</ng-template>
