@import "mixins";
@import "variables";

.mobile-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  background-color: $white-color;
  border-radius: 0.5rem 0.5rem 0 0;
  border-top: 1px solid #DBDBDB;
}

.mobile-menu-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-icon {
  width: 1.4rem;
  height: 1.4rem;

  &.heart {
    width: 1.65rem;
    height: 1.65rem;
  }

  &.store {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.active-icon {
  display: none;
}

.mobile-menu-li {
  padding: 1rem;
  border-radius: 0.25rem;
  color: $dialog-title-black;

  &.active .active-icon {
    display: block;
  }

  &.active .inactive-icon {
    display: none;
  }
}
