@import "mixins";
@import "variables";

.mobile-menu-ul {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white-color;
  border-radius: 0.5rem 0.5rem 0 0;
  border-top: 1px solid #DBDBDB;
  z-index: 3;
}

.mobile-menu-icon {
  width: 1.5rem;
  height: 1.5rem;

  &.heart {
    width: 1.75rem;
    height: 1.75rem;
  }

  &.bell {
    width: 1.7rem;
    height: 1.7rem;
  }
}

.active-icon {
  display: none;
}

.mobile-menu-li {
  padding: 1rem;
  border-radius: 0.25rem;
  color: $primary-blue-color;

  &.active .active-icon {
    display: block;
  }

  &.active .inactive-icon {
    display: none;
  }
}
