<nav class="mobile-menu">
  <ul class="mobile-menu-ul">
    <li
      class="mobile-menu-li"
      mat-ripple
      [routerLink]="['/']"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon class="mobile-menu-icon active-icon" [svgIcon]="'icon:home-active'"/>
      <mat-icon class="mobile-menu-icon inactive-icon" [svgIcon]="'icon:home-inactive'"/>
    </li>

    <li
      class="mobile-menu-li"
      mat-ripple
      [routerLink]="['/categories-mobile']"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon class="mobile-menu-icon active-icon" [svgIcon]="'icon:categories-active'"/>
      <mat-icon class="mobile-menu-icon inactive-icon" [svgIcon]="'icon:categories-inactive'"/>
    </li>

    <li
      class="mobile-menu-li"
      mat-ripple
      [routerLink]="['/', 'wish-list']"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon class="mobile-menu-icon heart active-icon" [svgIcon]="'icon:solid-heart'"/>
      <mat-icon class="mobile-menu-icon heart inactive-icon" [svgIcon]="'icon:outlined-heart'"/>
    </li>

    @if (currentUser) {
      <li
        class="mobile-menu-li"
        mat-ripple
        [routerLink]="['/', 'profile', 'my-information']"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon class="mobile-menu-icon active-icon" [svgIcon]="'icon:avatar-active'"/>
        <mat-icon class="mobile-menu-icon inactive-icon" [svgIcon]="'icon:avatar-inactive'"/>
      </li>
    } @else {
      <li
        class="mobile-menu-li"
        mat-ripple
        (click)="openLoginProfileModal()"
      >
        <mat-icon class="mobile-menu-icon inactive-icon" [svgIcon]="'icon:avatar-inactive'"/>
      </li>
    }

  </ul>
</nav>
