.site-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo__img {
  margin-right: 8px;
}

.site-logo__text {
  font-size: 1.4rem;
  font-weight: 600;
  color: #010101;
}
