@import "variables";
@import "general";

.site-logo {
  @extend .flex-center-between;

  &-img {
    margin-right: 0.5rem;
  }

  &-text {
    font-size: 1.4rem;
    font-weight: 600;
    color: $logo-black-color;
  }
}
