.site-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-img {
    margin-right: 0.5rem;
  }

  &-text {
    font-size: 1.4rem;
    font-weight: 600;
    color: #010101;
  }
}
