@import "variables";
@import "mixins";

.branch-action-header {
  @include flex-center-between;
  padding: 1.5rem 2rem 1rem;
}

.branch-action-heading {
  font-size: 1.5rem;
  color: $dialog-title-black;
}

.branch-action-form {
  padding: 0 2rem;
}

.branch-action-fields {
  @include grid(repeat(3, 1fr), 0.75rem 1rem);
}

.branch-action-times {
  @include grid(repeat(4, 1fr), 1rem);
}

.branch-action-times-input {
  text-align: center;
}

.branch-action-delivery {
  @include grid(1fr 1fr, 1rem);
}

.branch-action-location {
  padding-top: 1rem;
}

.branch-action-map {
  aspect-ratio: 3;
  border-radius: 0.5rem;
  overflow: hidden;
}

.branch-action-submit {
  @include flex-center-end;
  padding: 1.5rem 2rem;
}

@include media(1080px) {
  .branch-action-header {
    @include flex-center-between;
    padding: 1.5rem;
  }

  .branch-action-heading {
    font-size: 1.25rem;
  }

  .working-time {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .branch-action-form {
    padding: 0 1.5rem;
  }

  .branch-action-fields {
    grid-gap: 0.5rem;
  }

  .branch-action-submit {
    padding: 1.25rem 1.5rem;
  }

  .branch-action-delivery, .branch-action-times {
    grid-gap: 0.5rem;
  }
}

@include media(720px) {
  .branch-action-fields {
    @include grid(1fr, 0.5rem);
  }

  .working-time {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

