<aside class="category-filter">
  <button class="category-filter-reset">Сбросить фильтр</button>

  <mat-accordion class="category-filter-accordion">
    <mat-expansion-panel class="category-filter-panel" [hideToggle]="true" #matExpansionPanel>
      <mat-expansion-panel-header>
        <div class="category-filter-header">
          <h3 class="category-filter-heading">Цена</h3>
          <span class="category-filter-heading-postfix">(сум)</span>

          <mat-icon
            class="category-filter-arrow"
            [class.open]="matExpansionPanel.expanded"
            [svgIcon]="'icon:arrow-down'"
          ></mat-icon>
        </div>
      </mat-expansion-panel-header>

      <div class="category-filter-body">
        <div class="category-filter-inputs">
          <label class="category-filter-label">
            <input class="category-filter-input" type="text" placeholder="100 000" [mask]="'00000000'">
            <span class="category-filter-input-prefix">от</span>
          </label>

          <label class="category-filter-label">
            <input class="category-filter-input" type="text" placeholder="50 000 000" [mask]="'00000000'">
            <span class="category-filter-input-prefix">до</span>
          </label>
        </div>

        <mat-slider class="category-filter-range" [min]="0" [max]="50" [disableRipple]>
          <input [value]="0" matSliderStartThumb>
          <input [value]="25" matSliderEndThumb>
        </mat-slider>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</aside>
