<section class="category">
  <div class="container">
    <bread-crumbs
      [breadCrumbs]="breadCrumbs"
    />

    <div class="category-header">
      <h1 class="category-heading">Мобильные телефоны</h1>
    </div>

    <!--<div class="category-brands">
      <button class="category-brand" mat-ripple>Samsung</button>
      <button class="category-brand" mat-ripple>Huawei</button>
      <button class="category-brand" mat-ripple>Apple</button>
      <button class="category-brand" mat-ripple>Honor</button>
      <button class="category-brand" mat-ripple>Nokia</button>
      <button class="category-brand" mat-ripple>Xiaomi</button>
      <button class="category-brand" mat-ripple>Realmi</button>
      <button class="category-brand" mat-ripple>ZTE</button>
      <button class="category-brand" mat-ripple>BYD</button>
      <button class="category-brand" mat-ripple>Mercedes</button>
      <button class="category-brand" mat-ripple>Motorola</button>
      <button class="category-brand" mat-ripple>Sony</button>
      <button class="category-brand" mat-ripple>Canon</button>
    </div>-->

    <div class="category-content">
      <category-filter />
      <category-products-list />
    </div>
  </div>
</section>
