<div class="product-details-side-info">
  <div class="product-details-seller">
    <div class="product-details-seller-header">
      <div class="product-details-seller-brand">
        <div class="product-details-seller-logo">
          <img src="/assets/logos/mac-bro.svg" alt="MacBro logo">
        </div>

        <div class="product-details-seller-name">
          <h3>MacBro</h3>
          <p>Mc Bro онлайн</p>
        </div>
      </div>

      <div class="product-details-seller-followers">
        <div class="product-details-seller-followers-item">
          <mat-icon [svgIcon]="'icon:gradient-man'"></mat-icon>
          <span>11.2 тыс</span>
        </div>
        <div class="product-details-seller-followers-item">
          <mat-icon [svgIcon]="'icon:gradient-heart'"></mat-icon>
          <span>11.2 тыс</span>
        </div>
      </div>
    </div>

    <div class="product-details-seller-body">
      <rating-stars class="product-details-seller-rating" [rate]="4.4"/>

      <div class="product-details-seller-phone">
        <span class="product-details-seller-phone-code">+998 33</span>
        <u class="product-details-seller-phone-hidden">Показать телефон</u>
      </div>

      <div class="product-details-seller-description-text">
        По своей сути рыбатекст является альтернативой традиционному,
        который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
        В отличии от.
      </div>

      <ui-button
        [text]="'Подписаться'"
        [full]="true"
      />
    </div>
  </div>

  <ul class="product-details-quantity">
    <li class="product-details-quantity-item">
      <div class="product-details-quantity-name">Скидочные товары</div>
      <div class="product-details-quantity-dashes"></div>
      <div class="product-details-quantity-value">149/200 шт.</div>
    </li>

    <li class="product-details-quantity-item">
      <div class="product-details-quantity-name">Доставкаы</div>
      <div class="product-details-quantity-dashes"></div>
      <div class="product-details-quantity-value">Нет</div>
    </li>

    <li class="product-details-quantity-item">
      <div class="product-details-quantity-name">Рассрочка</div>
      <div class="product-details-quantity-dashes"></div>
      <div class="product-details-quantity-value green">Есть</div>
    </li>
  </ul>
</div>
