<div class="product-details-side-info">
  <div class="product-details-seller">
    <div
      class="product-details-seller-header"
      [routerLink]="['/store', details.store.pk]"
    >
      <div class="product-details-seller-brand">
        <div class="product-details-seller-logo">
          <img-wrapper
            [src]="details.store.logo"
          />
        </div>

        <div class="product-details-seller-name">
          <h3>{{ details.store.shortname| titlecase }}</h3>
          <p>{{ details.store.name }}</p>
        </div>
      </div>

      <div class="product-details-seller-followers">
        <div class="product-details-seller-followers-item" [matTooltip]="'subscribers'| translate">
          <mat-icon [svgIcon]="'icon:gradient-man'"></mat-icon>
          <span>{{ details.store.followers }}</span>
        </div>
        <div class="product-details-seller-followers-item" [matTooltip]="'likes'| translate">
          <mat-icon [svgIcon]="'icon:gradient-heart'"></mat-icon>
          <span>{{ details.store.likes }}</span>
        </div>
      </div>
    </div>

    <div class="product-details-seller-body">
      <rating-stars class="product-details-seller-rating" [rate]="details.store| averageRate"/>

      <a class="product-details-seller-phone" [href]="'tel:' + details.store.main_phone_number">
        {{ details.store.main_phone_number| phoneNumber }}
      </a>

      <div class="product-details-seller-description-text">
        {{ details.store.desc }}
      </div>

      <ui-button
        [type]="details.store.user_follow ? 'gray-outline' : 'blue'"
        [text]="details.store.user_follow ? 'unsubscribe': 'subscribe'"
        [full]="true"
        (click)="subscribeToStore()"
      />
    </div>
  </div>

  <ul class="product-details-quantity">
    <li class="product-details-quantity-item">
      <div class="product-details-quantity-name">{{ 'available.at.discount'| translate }}</div>
      <div class="product-details-quantity-dashes"></div>
      <div class="product-details-quantity-value">
        {{ details.product_counts ? details.remainder + ' ' + ('pcs'| translate) : ('no.entered'| translate)}}
      </div>
    </li>

    <li class="product-details-quantity-item">
      <div class="product-details-quantity-name">{{ 'delivery'| translate }}</div>
      <div class="product-details-quantity-dashes"></div>
      <div class="product-details-quantity-value">
        {{ (details.store.delivery ? 'available' : 'no')| translate }}
      </div>
    </li>

    <li class="product-details-quantity-item">
      <div class="product-details-quantity-name">{{ 'installment.plan'| translate }}</div>
      <div class="product-details-quantity-dashes"></div>
      <div class="product-details-quantity-value green">
        {{ (details.store.term_payment ? 'available' : 'no')| translate }}
      </div>
    </li>
  </ul>
</div>
