<div class="categories-panel">
  <div class="container">
    <div class="categories-wrapper">
      <div class="parent-categories">
        <ng-container
          *ngTemplateOutlet="parentCategoriesList"
        />
      </div>

      @if (selectedCategory) {
        <div class="category-groups">
          <h2 class="category-groups-parent">{{ selectedCategory.name| translate }}</h2>

          <div class="category-groups-grid">
            <div class="category-groups-column">
              @for (categoryGroup of selectedCategory.children; track categoryGroup) {
                <div class="category-groups-item">
                  <h3 class="category-groups-heading">{{ categoryGroup.name }}</h3>

                  <ul class="category-groups-list">
                    @for (category of categoryGroup.children; track category) {
                      <li class="category-groups-category-name">{{ category.name }}</li>
                    }
                  </ul>
                </div>
              }

            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>

<ng-template #parentCategoriesList>
  <ul class="parent-categories-list">
    @for(category of categories; track category) {
      <li
        class="parent-categories-item"
        [class.active]="category.active"
        mat-ripple
        [matRippleColor]="'#4755691a'"
        (mouseenter)="selectParentCategory(category)"
      >
        <mat-icon class="parent-categories-icon" [svgIcon]="'icon:' + category.name" />
        <span class="parent-categories-name">{{ category.name| translate }}</span>

        <mat-icon class="parent-categories-arrow" [svgIcon]="'icon:arrow-right'" />
      </li>
    }
  </ul>
</ng-template>
