<div class="categories-panel">
  <div class="container">
    <div class="categories-wrapper">
      <div class="parent-categories">
        <ng-container
          *ngTemplateOutlet="parentCategoriesList"
        />
      </div>

      @if (selectedCategory) {
        <div class="category-groups">
          <h2
            class="category-groups-parent"
            [routerLink]="['/category', 'list-view']"
            [queryParams]="{
              main_category: selectedCategory.id,
              page: 1,
              page_size: 12
            }"
          >{{ selectedCategory.name| translate }}</h2>

          <div class="category-groups-grid">
            @for (i of [1, 2, 3]; track i) {
              <ng-container
                *ngTemplateOutlet="categoryColumn; context: { $implicit: i }"
              />
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>

<ng-template #parentCategoriesList>
  <ul class="parent-categories-list">
    @for (category of categories; track category) {
      <li
        class="parent-categories-item"
        [class.active]="category.active"
        mat-ripple
        [matRippleColor]="'#4755691a'"
        (mouseenter)="selectParentCategory(category)"
        [routerLink]="['/category', 'list-view']"
        [queryParams]="{
          main_category: category.id,
          page: 1,
          page_size: 12
        }"
      >
        <span class="parent-categories-icon">
          <mat-icon class="" [svgIcon]="'icon:' + category.name"/>
        </span>

        <span class="parent-categories-name">{{ category.name| translate }}</span>

        <mat-icon class="parent-categories-arrow" [svgIcon]="'icon:arrow-right'"/>
      </li>
    }
  </ul>
</ng-template>

<ng-template #categoryColumn let-i>
  <div class="category-groups-column">
    @for (categoryGroup of selectedCategory?.children[i]; track categoryGroup) {
      <div class="category-groups-item">
        <h3
          class="category-groups-heading"
          [routerLink]="['/category', 'list-view']"
          [queryParams]="{
            main_category: selectedCategory.id,
            second_category: categoryGroup.pk,
            page: 1,
            page_size: 12
          }"
        >{{ categoryGroup.name }}</h3>

        <ul class="category-groups-list">
          @for (category of categoryGroup.children; track category) {
            <li
              class="category-groups-category-name"
              [routerLink]="['/category', 'list-view']"
              [queryParams]="{
                main_category: selectedCategory.id,
                second_category: categoryGroup.pk,
                category: category.pk,
                page: 1,
                page_size: 12
              }"
            >{{ category.name }}</li>
          }
        </ul>
      </div>
    }
  </div>
</ng-template>


