@import "variables";
@import "mixins";

.categories-panel {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  min-height: calc(100vh - 108px);
  padding-top: 1rem;
  background-color: $white-color;
  z-index: 1;

  .container {
    height: 100%;
  }
}

.categories-wrapper {
  @include grid(1fr 3fr, 1.5rem);
  height: 100%;
}

.parent-categories {
  padding-right: 0.5rem;
  border-right: 1px solid $border-grey-color
}

.parent-categories-item {
  @include flex-center(0.5rem);
  padding: 0.75rem 1rem 0.75rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: $secondary-black-color;
  cursor: pointer;

  &.active {
    background-color: rgba($primary-blue-color, 0.1);
    color: $primary-blue-color;
  }
}

.parent-categories-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.parent-categories-arrow {
  width: 0.5rem;
  margin-left: auto;
}

.category-groups {
  padding-top: 1rem;
}

.category-groups-parent {
  font-size: 1.25rem;
  font-weight: 600;
  color: $dialog-title-black;
}

.category-groups-grid {
  @include grid(repeat(3, 1fr), 9rem);
  padding-top: 2rem;
}

.category-groups-item {
  margin-bottom: 2rem;
}

.category-groups-heading {
  font-size: 1rem;
  font-weight: 600;
  color: $dialog-title-black;
}

.category-groups-list {
  @include flex-column(0.875rem);
  padding-top: 1rem;
}

.category-groups-category-name {
  font-size: 0.875rem;
  color: $global-search-text;
  cursor: pointer;

  &:hover {
    color: $primary-blue-color;
  }
}
