@import "variables";
@import "mixins";

.notifications-button {
  @include flex-center-center;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.5rem;

  &:hover, &.active {
    background-color: rgba($primary-blue-color, 0.1);
    color: $primary-blue-color;
  }
}

.notifications-icon {
  width: 1.2rem;
}

.notifications-overlay {
  width: 21.125rem;
  padding: 0.75rem 0;
  background-color: $white-color;
  border-radius: 0.5rem;
  filter: drop-shadow(0px 4px 24px rgba(176, 176, 176, 0.16)) drop-shadow(0px 4px 24px rgba(176, 176, 176, 0.16));
}

.notifications-list {
  max-height: 24rem;
}

.notifications-item {
  padding: 0 1rem;
  cursor: pointer;

  &:hover {
    background-color: $background-grey-color;
  }
}

.notifications-item-inner {
  @include flex-start(0.75rem);
  padding: 0.5rem 0;
  border-bottom: 0.5px solid $border-grey-color;
}

.notifications-img {
  position: relative;
  flex-shrink: 0;
  width: 4rem;
  height: 4.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.notifications-title {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
  color: $dialog-title-black;
  @include line-clamp(2);
}

.notifications-brand {
  @include flex-center(0.25rem);
  padding-top: 0.5rem;
}

.notifications-brand-logo {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: $input-background;
}

.notifications-empty {
  @include flex-column(1rem);
  align-items: center;
  justify-content: center;
  height: 15rem;
  padding: 1rem;
}

.notifications-empty-img {
  position: relative;
  width: 5.3rem;
  height: 5.5rem;
}

.notifications-empty-text {
  font-size: 0.875rem;
  font-weight: 500;
  color: $dialog-title-black;
  text-align: center;
}
