<div class="similar-products">
  <section-header [heading]="'similar.announcements'"/>

  @if (params.loading) {
    <spinner-loader/>
  }

  @if (!params.loading && similarDiscounts?.length) {
    <div class="similar-products-grid">
      @for (discount of similarDiscounts; track discount) {
        <product-card
          [product]="discount"
        />
      }
    </div>

    <mat-paginator
      class="wish-list-paginator"
      [pageSize]="params.page_size"
      [pageIndex]="params.page"
      [length]="params.total"
      (page)="onPageChange($event)"
      [hidePageSize]="true"
    />
  }

  @if (!params.loading && !similarDiscounts?.length) {
    <profile-empty-list/>
  }
</div>
