@import "variables";
@import "mixins";

.my-announcements-filter {
  @include flex-center(4rem);
  padding-top: 1rem;
}

.my-announcements-search {
  @include flex-center(0.75rem);
  flex-grow: 1;

  .form-input {
    width: auto;
    flex-grow: 1;
    background-color: $white-color;
    border-color: $border-grey-color
  }
}

@include media(1080px) {
  .my-announcements-filter {
    display: block !important;
    padding-top: 0.5rem;
  }

  .my-announcements-search {
    padding-top: 0.5rem;
  }
}
