<tabs [tabs]="tabs"/>

<div class="my-announcements-filter">
  <ui-button
    [icon]="'icon:solid-plus'"
    [text]="'add.new.announcement'"
    [routerLink]="['../../create']"
  />

  <label class="my-announcements-search">
    <input
      class="form-input"
      type="text"
      [placeholder]="'search'| translate"
      [(ngModel)]="params.search"
      (keydown.enter)="searchAnnouncement()"
    >

    <ui-button
      [type]="'gray-outline'"
      [text]="'search'"
      [icon]="'icon:search'"
    />
  </label>
</div>

@if (loading) {
  <spinner-loader/>
}

@if (!loading && announcements?.length) {
  @for (product of announcements; track product) {
    <product-horizontal-card
      [product]="product"
      (onProductDeleted)="searchAnnouncement()"
    />
  }
  <mat-paginator
    class="wish-list-paginator"
    [pageSize]="params.page_size"
    [pageIndex]="params.page"
    [length]="params.total"
    (page)="onPageChange($event)"
  />
}

@if (!loading && !announcements?.length) {
  <profile-empty-list
    [emptyListText]="'no.data.found'"
    [emptyListImg]="'/assets/empty-list-icons/announcements.svg'"
  />
}
