<div class="create-announcement-information">
  <form class="create-announcement-information-inner" [formGroup]="firstStepForm">
    <div class="create-announcement-information-fields">
      <label class="create-announcement-information-field form-label">
        <span class="create-announcement-information-field-title form-label-text">{{ 'title'| translate }} (o'zb) *</span>
        <input
          class="create-announcement-information-input form-input"
          type="text"
          trim
          [placeholder]="'enter.title'| translate"
          [maxlength]="255"
          [formControlName]="'title_uz'"
          [class.invalid]="firstStepForm.get('title_uz').invalid && firstStepForm.get('title_uz').touched"
        >
        <ng-container
          *ngTemplateOutlet="requiredErrors; context: { $implicit: 'title_uz' }"
        />
      </label>

      <label class="create-announcement-information-field form-label">
        <span class="create-announcement-information-field-title form-label-text">{{ 'title'| translate }} (rus) *</span>
        <input
          class="create-announcement-information-input form-input"
          type="text"
          trim
          [placeholder]="'enter.title'| translate"
          [maxlength]="255"
          [formControlName]="'title_ru'"
          [class.invalid]="firstStepForm.get('title_ru').invalid && firstStepForm.get('title_ru').touched"
        >
        <ng-container
          *ngTemplateOutlet="requiredErrors; context: { $implicit: 'title_ru' }"
        />
      </label>

      <label class="create-announcement-information-field form-label">
        <span class="create-announcement-information-field-title form-label-text">{{ 'main.category'| translate}} *</span>

        <mat-select
          class="solid-select"
          [placeholder]="'select.main.category'| translate"
          (selectionChange)="onMainCategoryChanged()"
          [formControlName]="'main_category'"
          [class.invalid]="firstStepForm.get('main_category').invalid && firstStepForm.get('main_category').touched"
        >
          @for (category of categories; track category) {
            <mat-option [value]="category.id">{{ category.name| translate }}</mat-option>
          }
        </mat-select>

        <ng-container
          *ngTemplateOutlet="requiredErrors; context: { $implicit: 'main_category' }"
        />
      </label>

      <label class="create-announcement-information-field form-label">
        <span class="create-announcement-information-field-title form-label-text">Ссылка на видео</span>
        <input class="create-announcement-information-input form-input" type="url" placeholder="Ссылка на видео">
      </label>
    </div>

    <div class="grid-2">
      <label class="form-label">
        <span class="form-label-text">Описание (UZ)</span>
        <textarea class="form-textarea" placeholder="Описание (UZ)"></textarea>
      </label>

      <label class="form-label">
        <span class="form-label-text">Описание (RU)</span>
        <textarea class="form-textarea" placeholder="Описание (RU)"></textarea>
      </label>
    </div>

    <div class="create-announcement-dropzone" dragAndDrop (fileDropped)="onImagesDropped($event)">
      <mat-icon class="create-announcement-upload-icon" [svgIcon]="'icon:drag-drop-images'"/>

      <h3 class="create-announcement-drop-title">Перетащите изображения сюда</h3>

      <p class="create-announcement-drop-or-text">или</p>

      <label class="create-announcement-show-images" mat-ripple>
        <p>Укажите изображения (.jpg, .png, .webp)</p>
        <input
          #fileInput
          type="file"
          multiple
          (change)="onImagesSelectedByFileInput($event)"
          [accept]="'.jpg, .png, .webp'"
        >
      </label>

    </div>

    @if (imagesList.length) {
      <div
        cdkDropList
        cdkDropListOrientation="horizontal"
        class="create-announcement-images"
        (cdkDropListDropped)="drop($event)"
      >
        @for (img of imagesList; track img; let i = $index) {
          <div class="create-announcement-image" cdkDrag>
            <div class="create-announcement-image-placeholder" *cdkDragPlaceholder></div>

            <img class="create-announcement-image-original" [src]="img.buffer" [alt]="">


            <icon-button
              class="create-announcement-image-remove"
              [buttonType]="'red'"
              [icon]="'icon:trash'"
              (click)="removeImage(i)"
            />
          </div>
        }
      </div>
    }

    <div class="create-announcement-information-submit">
      <ui-button
        [text]="'next'"
        [actionType]="'submit'"
      />
    </div>
  </form>
</div>

<ng-template #requiredErrors let-controlName>
  @if (firstStepForm.get(controlName).invalid && firstStepForm.get(controlName).touched) {
    <span class="form-error">{{ 'required.field'| translate }}</span>
  }
</ng-template>
