@import "variables";
@import "mixins";

.my-announcements-filter {
  @include flex-center(0.5rem);
  padding-top: 1rem;
}

.my-announcements-search {
  position: relative;
  flex-grow: 1;

  .form-input {
    background-color: $white-color;
    padding-right: 2.75rem;
    border-color: $border-grey-color
  }

  .mat-icon {
    position: absolute;
    right: 0.875rem;
    top: 50%;
    width: 1rem;
    transform: translateY(-50%);
  }
}
