<div class="create-announcement-features">
  <div class="create-announcement-features-form">
    @for (featureTemplate of featureTemplates; track featureTemplate) {
      <fieldset class="create-announcement-features-fieldset">
        <legend class="create-announcement-features-legend">{{ featureTemplate?.name }}</legend>

        @for (featureItem of featureTemplate.selected; track featureItem; let i = $index) {
          <div class="create-announcement-features-item">
            <mat-select
              class="create-announcement-features-select solid-select"
              [placeholder]="featureTemplate?.name"
              [(ngModel)]="featureItem.feature_value"
            >
              @for (item of featureTemplate.values; track item) {
                <mat-option [value]="item.pk">{{ item.value }} {{ featureTemplate.value_extra_type }}</mat-option>
              }

              <mat-option (click)="addNewOption()" [value]="null">{{ 'other'| translate }}</mat-option>
            </mat-select>

              <div class="create-announcement-features-price-difference">
                <input
                  class="form-input"
                  type="number"
                  [placeholder]="'price'| translate"
                  [(ngModel)]="featureItem.price"
                >

                <div class="create-announcement-features-price-difference-toggle">
                  <div
                    class="create-announcement-features-price-difference-toggle-item"
                    [class.active]="featureItem.sign === '-'"
                    (click)="featureItem.sign = '-'"
                  >-
                  </div>
                  <div
                    class="create-announcement-features-price-difference-toggle-item"
                    [class.active]="featureItem.sign === '+'"
                    (click)="featureItem.sign = '+'"
                  >+
                  </div>
                </div>
              </div>

              <icon-button
                [buttonType]="'red'"
                [icon]="'icon:trash'"
                (click)="removeFeatureItem(featureTemplate.selected, i)"
              />
          </div>
        }

        @if (featureTemplate.selected.length < 5) {
          <ui-button
            [actionType]="'button'"
            [type]="'gray-outline'"
            [icon]="'icon:outline-plus'"
            [text]="'add'"
            (click)="addNewFeature(featureTemplate.selected)"
          />
        }
      </fieldset>
    }
  </div>

  <div class="create-announcement-features-footer">
    <ui-button
      [type]="'gray-outline'"
      [icon]="'icon:outline-plus'"
      [text]="'add.new.feature'"
      (click)="cons()"
    />
    <ui-button
      [text]="'next'"
    />
  </div>
</div>

<ng-template #requiredErrors let-controlName>
  @if (secondStepForm.get(controlName).invalid && secondStepForm.get(controlName).touched) {
    <span class="form-error">{{ 'required.field'| translate }}</span>
  }
</ng-template>
