@import "variables";
@import "general";

.notifications-button {
  @extend .flex-center-center;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.5rem;
  background-color: $background-grey-color;

  &:hover {
    background-color: $background-grey-color;
  }

  &.active, &.active:hover {
    background-color: rgba($primary-brand-color, 0.12);
  }
}

.notifications-icon {
  width: 2rem;
}
