@import "variables";
@import "mixins";

.notifications-button {
  @include flex-center-center;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.5rem;

  &:hover {
    background-color: $background-grey-color;
  }

  &.active, &.active:hover {
    background-color: rgba($primary-brand-color, 0.12);
  }
}

.notifications-icon {
  width: 2rem;
}
