@import "variables";
@import "mixins";

.notifications-button {
  @include flex-center-center;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.5rem;

  &:hover {
    background-color: rgba($primary-blue-color, 0.1);
    color: $primary-blue-color;
  }
}

.notifications-icon {
  width: 1.2rem;
}
