<main class="category-products-list">
  <div class="category-products-list-header">
    <div class="category-products-list-filter">
      <div class="category-products-list-date-sort">
        <div class="category-products-list-date">
          <mat-date-range-input
            [rangePicker]="picker">
            <input
              matStartDate
              [(ngModel)]="filter.startDate"
              [readonly]="true"
              (ngModelChange)="dateRangeChange()"
            >
            <input
              matEndDate
              [(ngModel)]="filter.endDate"
              [readonly]="true"
              [placeholder]="'-'"
              (ngModelChange)="dateRangeChange()"
            >
          </mat-date-range-input>

          <mat-icon
            [svgIcon]="'icon:calendar'"
            (click)="picker.open()"
          ></mat-icon>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </div>

        <div class="category-products-list-common-sort">
          <mat-select
            class="outlined-select"
            [hideSingleSelectionIndicator]="true"
            [(ngModel)]="filter.ordering"
            (ngModelChange)="order()"
          >
            @for (order of ordering; track order) {
              <mat-option
                [value]="order.value"
                [title]="order.label| translate"
              >{{ order.label| translate}}
              </mat-option>
            }
          </mat-select>
        </div>
      </div>

      <div class="category-products-list-count">
        {{ 'n.announcements'| translate: { count: params?.total || 0 } }}
      </div>

<!--      <button-->
<!--        class="category-products-list-map"-->
<!--        mat-ripple-->
<!--        [matRippleColor]="'#0CA4FA10'"-->
<!--        [routerLink]="['/category', 'map-view']"-->
<!--      >-->
<!--        <mat-icon [svgIcon]="'icon:location'"></mat-icon>-->
<!--        <span>На карте</span>-->
<!--      </button>-->
    </div>

    <div class="category-products-list-grid">
      @for (product of products; track product) {
        <product-card [product]="product"/>
      }
    </div>

    <mat-paginator
      [pageIndex]="params.page - 1"
      [pageSize]="params.page_size"
      [length]="params.total"
      [showFirstLastButtons]="true"
      (page)="changePage($event)"
      [hidePageSize]="true"
    />
  </div>
</main>


