<main class="category-products-list">
  <div class="category-products-list-header">
    <div class="category-products-list-filter">
      <div class="category-products-list-date-sort">
        <div class="category-products-list-date">
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [(ngModel)]="startDate" [readonly]="true">
            <input matEndDate [(ngModel)]="endDate" [readonly]="true">
          </mat-date-range-input>

          <mat-icon
            [svgIcon]="'icon:calendar'"
            (click)="picker.open()"
          ></mat-icon>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </div>

        <div class="category-products-list-common-sort">
          <mat-select class="outlined-select" [value]="1" [hideSingleSelectionIndicator]="true">
            <mat-option [value]="0" [title]="'Самые новые'">Самые новые</mat-option>
            <mat-option [value]="1" [title]="'Самые дешевые'">Самые дешевые</mat-option>
            <mat-option [value]="2" [title]="'Самые дорогие'">Самые дорогие</mat-option>
            <mat-option [value]="3" [title]="'Близка'">Близка</mat-option>
            <mat-option [value]="4" [title]="'Наиболее просматриваемые'">Наиболее просматриваемые</mat-option>
            <mat-option [value]="5" [title]="'Больше всего лайков'">Больше всего лайков</mat-option>
          </mat-select>
        </div>

      </div>

<!--      <button-->
<!--        class="category-products-list-map"-->
<!--        mat-ripple-->
<!--        [matRippleColor]="'#0CA4FA10'"-->
<!--        [routerLink]="['/category', 'map-view']"-->
<!--      >-->
<!--        <mat-icon [svgIcon]="'icon:location'"></mat-icon>-->
<!--        <span>На карте</span>-->
<!--      </button>-->
    </div>

    <div class="category-products-list-grid">
      @for (product of products; track product) {
        <product-card [product]="product"/>
      }
    </div>

    <mat-paginator
      [pageIndex]="params.page - 1"
      [pageSize]="params.page_size"
      [length]="params.total"
      [showFirstLastButtons]="true"
      (page)="changePage($event)"
    />
  </div>
</main>


