<div class="login-dialog-actions" [class.code]="step === 'code'">
  @if (step === 'code') {
    <icon-button
      (click)="back()"
      [iconWidth]="1.25"
      [icon]="'icon:arrow-back'"
    />
  }

  <icon-button
    (click)="back()"
    [iconWidth]="0.875"
    mat-dialog-close
  />
</div>
<mat-dialog-content>
  @if (step === 'phone') {
    <div class="login-dialog-content">
      <h2 class="login-dialog-title">{{ 'enter.phone.number'| translate }}</h2>
      <p class="login-dialog-text">{{ 'we.will.send.sms.with.code'| translate }}</p>

      <form class="login-dialog-form" [formGroup]="phoneForm" (ngSubmit)="sendPhoneNumber()">
        <label class="login-dialog-label form-label">
          <span class="login-dialog-label-text form-label-text">{{ 'phone.number'| translate }}</span>
          <input
            class="login-dialog-phone-input form-input"
            type="text"
            [mask]="' 00 000 00 00'"
            [prefix]="'+998'"
            [formControlName]="'phoneNumber'">
        </label>

        <ui-button
          [text]="'get.code'"
          [full]="true"
          [actionType]="'submit'"
          [disabled]="phoneForm.invalid"
          [title]="phoneForm.invalid ? 'enter.your.phone.number.correctly' : ''"
          [loading]="phoneForm.disabled"
        />
      </form>
    </div>
  }

  @if (step === 'code') {
    <div class="login-dialog-content">
      <h2 class="login-dialog-title">{{ 'enter.code'| translate }}</h2>
      <p class="login-dialog-text">
        {{ 'we.sent.five.digit.code.to'| translate:
        { phone: ('+998' + phoneForm.get('phoneNumber').value)| phoneNumber } }}
      </p>

      <form class="login-dialog-form" [formGroup]="codeForm" (ngSubmit)="sendCode()">
        <div class="login-dialog-code" [class.invalid-code]="codeForm.get('invalidCode').value">
          <input class="login-dialog-code-input" #codeInput [formControlName]="'0'" [mask]="'0'">
          <input class="login-dialog-code-input" #codeInput [formControlName]="'1'" [mask]="'0'">
          <input class="login-dialog-code-input" #codeInput [formControlName]="'2'" [mask]="'0'">
          <input class="login-dialog-code-input" #codeInput [formControlName]="'3'" [mask]="'0'">
          <input class="login-dialog-code-input" #codeInput [formControlName]="'4'" [mask]="'0'">
        </div>

        <ui-button
          [text]="'send'"
          [full]="true"
          [loading]="codeForm.disabled"
          [actionType]="'submit'"
          [disabled]="codeForm.invalid"
        />

        <div class="login-dialog-timer">
          @if (codeForm.get('remainedTime').value) {
            <p class="login-dialog-timer-text">
              {{ 'if.you.do.not.receive.verification.code.you.can.get.new.code.after.few.seconds'| translate:
              { remainedTime: codeForm.get('remainedTime').value }
              }}
            </p>
          }
          @else {
            <button
              type="button"
              (click)="sendPhoneNumber()"
              class="login-dialog-timer-resend">
              {{ 'resend.the.code'| translate }}
            </button>
          }
        </div>
      </form>
    </div>
  }
</mat-dialog-content>
