<mat-dialog-content>
  <div class="login-dialog-actions" [class.code]="step === 'code'">
    @if (step === 'code') {
      <icon-button
        (click)="back()"
        [iconWidth]="1.25"
        [icon]="'icon:arrow-back'"
      />
    }

    <icon-button
      (click)="back()"
      [iconWidth]="0.875"
      mat-dialog-close
    />
  </div>

  @if (step === 'phone') {
    <div class="login-dialog-content">
      <h2 class="login-dialog-title">{{ 'enter.phone.number'| translate }}</h2>
      <p class="login-dialog-text">{{ 'we.will.send.sms.with.code'| translate }}</p>

      <form class="login-dialog-form" [formGroup]="phoneForm" (ngSubmit)="sendPhoneNumber()">
        <label class="login-dialog-label form-label">
          <span class="login-dialog-label-text form-label-text">{{ 'phone.number'| translate }}</span>
          <input
            class="login-dialog-phone-input form-input"
            type="text"
            [mask]="' 00 000 00 00'"
            [prefix]="'+998'"
            [formControlName]="'phoneNumber'">
        </label>

        <ui-button
          [text]="'get.code'"
          [full]="true"
          [actionType]="'submit'"
          [disabled]="phoneForm.invalid"
          [title]="phoneForm.invalid ? 'enter.your.phone.number.correctly' : ''"
          [loading]="phoneForm.disabled"
        />
      </form>
    </div>
  }

  @if (step === 'code') {
    <div class="login-dialog-content">
      <h2 class="login-dialog-title">{{ 'enter.code'| translate }}</h2>
      <p class="login-dialog-text">
        @if (activeLang === 'uz') {
          <strong>+998{{ phoneForm.get('phoneNumber').value }}</strong>
        }
        {{ 'we.sent.five.digit.code.to'| translate }}

        @if (activeLang === 'ru') {
          <strong>+998{{ phoneForm.get('phoneNumber').value }}</strong>
        }
      </p>

      <form class="login-dialog-form">
        <div class="login-dialog-code">
          <input #codeInput class="login-dialog-code-input" type="text" mask="0">
          <input #codeInput class="login-dialog-code-input" type="text" mask="0">
          <input #codeInput class="login-dialog-code-input" type="text" mask="0">
          <input #codeInput class="login-dialog-code-input" type="text" mask="0">
          <input #codeInput class="login-dialog-code-input" type="text" mask="0">
        </div>

        <ui-button
          (click)="sendCode()"
          [text]="'send'"
          [full]="true"
        />

        <div class="login-dialog-timer">
          <p class="login-dialog-timer-text">Если код не придёт, можно получить новый через 36 сек</p>

          <!--<button class="login-dialog-timer-resend">Отправить код повторно</button>-->
        </div>
      </form>
    </div>
  }

  @if (step === 'name') {
    <div class="login-dialog-content">
      <h2 class="login-dialog-title">Введите имя</h2>

      <form class="login-dialog-form">
        <label class="login-dialog-label form-label">
          <input class="login-dialog-phone-input form-input" type="text" placeholder="Имя">
        </label>

        <ui-button
          [text]="'Продолжать'"
          [full]="true"
        />
      </form>
    </div>
  }
</mat-dialog-content>
