<mat-dialog-content>
  <div class="login-dialog-actions" [class.code]="selectedTab === 'code'">
    @if (selectedTab === 'code') {
      <icon-button
        (click)="back()"
        [iconWidth]="1.25"
        [icon]="'icon:arrow-back'"
      />
    }

    <icon-button
      (click)="back()"
      [iconWidth]="0.875"
      mat-dialog-close
    />
  </div>

  @if (selectedTab === 'phone') {
    <div class="login-dialog-content">
      <h2 class="login-dialog-title">Введите номер телефона</h2>
      <p class="login-dialog-text">Отправим смс с кодом подтверждения</p>

      <form class="login-dialog-form">
        <label class="login-dialog-label form-label">
          <span class="login-dialog-label-text form-label-text">Номер телефона</span>
          <input class="login-dialog-phone-input form-input" type="text" mask="00 000 00 00" prefix="+998 ">
        </label>

        <ui-button
          (click)="sendPhoneNumber()"
          [text]="'Получить код'"
          [full]="true"
        />
      </form>
    </div>
  }

  @if (selectedTab === 'code') {
    <div class="login-dialog-content">
      <h2 class="login-dialog-title">Введите код</h2>
      <p class="login-dialog-text">Для подтверждения телефона отправили 5-значный код на <strong>+998 33
        695-95-50</strong></p>

      <form class="login-dialog-form">
        <div class="login-dialog-code">
          <input class="login-dialog-code-input" type="text" mask="0">
          <input class="login-dialog-code-input" type="text" mask="0">
          <input class="login-dialog-code-input" type="text" mask="0">
          <input class="login-dialog-code-input" type="text" mask="0">
          <input class="login-dialog-code-input" type="text" mask="0">
        </div>

        <ui-button
          (click)="sendCode()"
          [text]="'Отправить'"
          [full]="true"
        />

        <div class="login-dialog-timer">
          <p class="login-dialog-timer-text">Если код не придёт, можно получить новый через 36 сек</p>

          <!--<button class="login-dialog-timer-resend">Отправить код повторно</button>-->
        </div>
      </form>
    </div>
  }

  @if (selectedTab === 'name') {
    <div class="login-dialog-content">
      <h2 class="login-dialog-title">Введите имя</h2>

      <form class="login-dialog-form">
        <label class="login-dialog-label form-label">
          <input class="login-dialog-phone-input form-input" type="text" placeholder="Имя">
        </label>

        <ui-button
          [text]="'Продолжать'"
          [full]="true"
        />
      </form>
    </div>
  }
</mat-dialog-content>
