@import "variables";
@import "mixins";

.login-dialog-content {
  position: relative;
  padding: 0 3.5rem 3.5rem;
}

.login-dialog-actions {
  @include flex-center-end;
  height: 4rem;
  padding: 0 1rem;

  &.code {
    justify-content: space-between;
  }

  button {
    padding: 0;
  }
}

.login-dialog-title {
  margin-bottom: 0.5rem;
  text-align: center;
  color: $dialog-title-black;
  font-size: 1.25rem;
  font-weight: 600;
}

.login-dialog-text {
  color: $secondary-black-color;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
}

.login-dialog-form {
  padding-top: 1.25rem;
}

.login-dialog-label {
  margin-bottom: 1.75rem;
}

.login-dialog-code {
  @include flex-center-center(0.5rem);

  &.invalid-code .login-dialog-code-input {
    border: 1px solid $primary-red-color;
    color: $primary-red-color;
  }
}

.login-dialog-code-input {
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  background-color: $input-background;
  color: $dialog-title-black;
  font-size: 0.875rem;
  text-align: center;
}

.login-dialog-timer {
  padding-top: 2rem;
  text-align: center;
}

.login-dialog-timer-text {
  color: $secondary-black-color;
  font-size: 0.875rem;
  line-height: 1.2;
}

.login-dialog-timer-resend {
  color: $primary-blue-color;
  font-size: 0.875rem;
  line-height: 1.2;
  text-decoration-line: underline;
}
