@import "variables";
@import "mixins";

.my-store {
  padding: 1.25rem;
  border-radius: 0.5rem;
  border: 1px solid $border-grey-color;
}

.register-heading {
  font-size: 1.25rem;
  font-weight: 500;
}

.register-fieldset {
  margin: 0;
  padding: 1.25rem 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $border-grey-color;
}

.register-info {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $dialog-title-black;

  a {
    color: $primary-red-color;
    text-decoration: underline;
  }
}

.register-main-fields {
  @include grid(repeat(3, 1fr), 1rem);
}

.register-legend {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: $dialog-title-black;
}

.register-company-info {
  @include flex-column(1rem);
}

.register-company-info-top, .register-company-address {
  @include grid(2fr 1fr, 1rem);
}

.register-company-info-fields {
  @include grid(1fr 1fr, 1rem);
}

.register-company-shortname {
  position: relative;
}

.register-company-shortname-error {
  position: absolute;
  top: 2.6rem;
  right: 0.75rem;
  transform: translateY(-50%);
}

.register-company-shortname-error-icon {
  width: 1.25rem;
  color: $primary-red-color;
  cursor: pointer;
}

.register-company-shortname-error-panel {
  max-width: 18rem;
  padding: 1rem;
  border-radius: .5rem;
  background-color: $white-color;
  box-shadow: 0 0.25rem 1.5rem 0 rgba(51, 51, 51, 0.12);
}

.register-company-shortname-error-info {
  @include flex-start(0.5rem);

  .mat-icon {
    width: 1.25rem;
    flex-shrink: 0;
    color: $primary-red-color;
  }

  p {
    color: $dialog-title-black;
  }
}

.register-company-shortname-error-report {
  @include flex-center-end;
  padding-top: 0.5rem;
}

.register-work-times {
  @include grid(repeat(4, 1fr), 0.5rem);
}

.register-work-times-input {
  text-align: center;
}

.register-delivery-type {
  @include grid(1fr 1fr, 0.5rem);
}

.register-company-upload-logo {
  @include flex-column(1rem);
  align-items: center;
  cursor: pointer;
}

.register-company-logo-preview {
  position: relative;
  @include flex-center-center;
  width: 60%;
  aspect-ratio: 1;
  background-color: $input-background;
  border-radius: 50%;
  color: $secondary-text-color;
  overflow: hidden;
  //box-shadow: 0 0.25rem 1.5rem 0 rgba(51, 51, 51, 0.12);

  &.invalid {
    border: 1px solid $primary-red-color;
    color: $primary-red-color;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.register-company-logo-delete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-company-logo-requirements {
  padding: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}

.register-company-logo-file-input, .store-banner-file-input {
  @include visually-hidden;
}

.register-company-descriptions {
  @include grid(1fr 1fr, 1rem);
}

.register-map {
  aspect-ratio: 2.5;
  border-radius: 0.5rem;
  overflow: auto;
}

.register-submit {
  @include flex-center-end();
  padding-top: 1rem;
}

.store-banner {
  position: relative;
  aspect-ratio: 4.36;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px dashed $border-grey-color;

  &.no-border {
    border: none;
  }
}

.store-banner-requirements {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include flex-column(1rem);
  align-items: center;
}

.store-banner-requirements-icon {
  position: relative;
  width: 4rem;
  aspect-ratio: 19/12;
}

.store-banner-requirements-text {
  color: $secondary-text-color;
}

.store-banner-actions {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 2;
  @include flex-center(0.5rem);
}

.store-banner-button {
  @include flex-center-center(0.5rem);
  height: 2.75rem;
  background-color: $white-color;
  border: 1px solid $border-grey-color;
  border-radius: 0.25rem;
  color: $dialog-title-black;

  &.camera {
    padding: 0 0.75rem;
  }

  &.trash {
    aspect-ratio: 1;
  }

  .mat-icon {
    height: 1.25rem;
    color: $secondary-text-color;
  }
}

.store-banner-img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
