<section class="product-details section">
  <div class="container">
    <div class="product-details-crumbs">
      <a class="product-details-crumbs-link" href="#">
        <span class="product-details-crumbs-text">Главная</span>

        <mat-icon class="product-details-crumbs-arrow" [svgIcon]="'icon:arrow-right'"></mat-icon>
      </a>

      <a class="product-details-crumbs-link" href="#">
        <span class="product-details-crumbs-text">Смартфоны</span>

        <mat-icon class="product-details-crumbs-arrow" [svgIcon]="'icon:arrow-right'"></mat-icon>
      </a>

      <a class="product-details-crumbs-link" href="#">
        <span class="product-details-crumbs-text">Apple</span>

        <mat-icon class="product-details-crumbs-arrow" [svgIcon]="'icon:arrow-right'"></mat-icon>
      </a>

      <a class="product-details-crumbs-link last">
        <span class="product-details-crumbs-text">Смартфон iPhone 15 Pro 256GB Синий Титан</span>
      </a>
    </div>

    <div class="product-details-main">
      <div class="product-details-main-info">
        <div class="product-details-photo-gallery">
          <div class="product-details-photo-display">
            <img [ngSrc]="selectedImageUrl" [fill]="true" [alt]="">

            <div class="product-details-photo-navs">
              <button class="carousel-navigation-button" (click)="navigateCarousel('prev')">
                <mat-icon [svgIcon]="'icon:arrow-left'"></mat-icon>
              </button>

              <button class="carousel-navigation-button" (click)="navigateCarousel('next')">
                <mat-icon [svgIcon]="'icon:arrow-right'"></mat-icon>
              </button>
            </div>
          </div>

          <div class="product-details-photo-thumbs">
            <owl-carousel-o [options]="thumbsCarouselOption" #thumbsCarousel>
              @for (imgUrl of productImages; track imgUrl; let i = $index) {
                <ng-template carouselSlide id="{{ imgUrl }}">
                  <div
                    class="product-details-photo-thumb"
                    [class.active]="selectedImageIndex === i"
                    [id]="i"
                    (click)="selectThumb(i)"
                  >
                    <img [ngSrc]="imgUrl" [fill]="true" [alt]="imgUrl">
                  </div>
                </ng-template>
              }
            </owl-carousel-o>
          </div>
        </div>
        <div class="product-details-info-block">
          <div class="product-details-info-header">
            <div class="product-details-date-view">
              <div class="product-details-date-view-item">
                ID: 120334
              </div>

              <div class="product-details-date-view-item">
                <mat-icon [svgIcon]="'icon:calendar'"></mat-icon>

                <span>Осталось 12 дней</span>
              </div>

              <div class="product-details-date-view-item views">
                <mat-icon [svgIcon]="'icon:eye'"></mat-icon>

                <span>122</span>
              </div>
            </div>

            <button class="product-details-info-heart" mat-icon-button>
              <mat-icon [svgIcon]="'icon:heart'"></mat-icon>
            </button>
          </div>

          <h2 class="product-details-product-title">Смартфон Apple iPhone 13 256 ГБ, Dual: nano SIM + eSIM</h2>

          <div class="product-details-price-change">
            <div class="product-details-price-old">
              <del class="">15 000 000 сум</del>

              <div class="product-details-price-discount">10%</div>
            </div>

            <strong class="product-details-price-new">13 499 000 сум</strong>
          </div>

          <div class="product-details-characteristics">
            <div class="product-details-characteristics-item">
              <div class="product-details-characteristics-label">Встроенная память (ROM)</div>
              <div class="product-details-characteristics-options">
                <div class="product-details-characteristics-option">64 ГБ</div>
                <div class="product-details-characteristics-option">128 ГБ</div>
                <div class="product-details-characteristics-option">256 ГБ</div>
                <div class="product-details-characteristics-option">512 ГБ</div>
                <div class="product-details-characteristics-option">1024 ГБ</div>
              </div>
            </div>

            <div class="product-details-characteristics-item">
              <div class="product-details-characteristics-label">Цвет товара: Черный</div>
              <div class="product-details-characteristics-options">
                <div class="product-details-characteristics-color"></div>
                <div class="product-details-characteristics-color"></div>
                <div class="product-details-characteristics-color"></div>
                <div class="product-details-characteristics-color"></div>
              </div>
            </div>

            <div class="product-details-characteristics-item">
              <div class="product-details-characteristics-label">Слот для SIM:</div>
              <div class="product-details-characteristics-options">
                <div class="product-details-characteristics-option">1 SIM</div>
                <div class="product-details-characteristics-option">2 SIM</div>
                <div class="product-details-characteristics-option">3 SIM</div>
                <div class="product-details-characteristics-option">4 SIM</div>
                <div class="product-details-characteristics-option">eSIM</div>
              </div>
            </div>
          </div>

          <div class="product-details-dates-like-report">
            <div class="product-details-dates">
              <div class="product-details-dates-title">Дата начала и окончания скидки</div>

              <div class="product-details-dates-interval">
                <span>с 20.10.2023</span> - <strong>до 20.10.2023</strong>
              </div>
            </div>

            <div class="product-details-like-report">
              <div class="product-details-like-dislike">
                <button class="product-details-like-button">
                  <mat-icon [svgIcon]="'icon:like'"></mat-icon>

                  <span>1 200</span>
                </button>

                <div class="product-details-like-dislike-divider"></div>

                <button class="product-details-dislike-button">
                  <mat-icon [svgIcon]="'icon:dislike'"></mat-icon>
                </button>
              </div>

              <button class="product-details-report-button">
                <span>Жалоба</span>

                <mat-icon [svgIcon]="'icon:info'"></mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <product-details-seller-info />
    </div>

    <div class="product-details-additional-info">
      <product-details-tabs />
    </div>
  </div>
</section>

