<section class="banner">
  <div class="container">
    <div class="banner-wrapper">
      <div class="banner-carousel">
        <ng-container *ngTemplateOutlet="carousel"></ng-container>

        <div class="banner-carousel-navs">
          <button class="carousel-navigation-button" (click)="navigateCarousel('prev')">
            <mat-icon [svgIcon]="'icon:arrow-left'"></mat-icon>
          </button>

          <button class="carousel-navigation-button" (click)="navigateCarousel('next')">
            <mat-icon [svgIcon]="'icon:arrow-right'"></mat-icon>
          </button>
        </div>
      </div>

      <a [href]="banners?.large_banners[0]?.url" class="banner-right banner-right-top">
        <img [ngSrc]="banners?.large_banners[0]?.image" [fill]="true" alt="">
      </a>

      <a [href]="banners?.large_banners[0]?.url" class="banner-right banner-right-bottom">
        <img [ngSrc]="banners?.large_banners[1]?.image" [fill]="true" alt="">
      </a>
    </div>
  </div>
</section>

<ng-template #carousel>
  <owl-carousel-o [options]="carouselOptions" #carouselComponent>
    @for (banner of banners?.banners; track banner) {
      <ng-template carouselSlide>
        <a class="banner-slide" [href]="banner.url">
          <img [ngSrc]="banner?.image" [fill]="true" [alt]="banner.desc">
        </a>
      </ng-template>
    }
  </owl-carousel-o>
</ng-template>


