<section class="product-details section">
  <div class="container">
    <bread-crumbs [breadCrumbs]="breadCrumbs"/>

    <div class="product-details-main">
      <div class="product-details-main-info">
        <product-details-gallery />
        <product-details-info-block />
      </div>

      <product-details-seller-info />
    </div>

    <div class="product-details-additional-info">
      <product-details-tabs />

      <product-details-map />
    </div>

    <div class="product-details-other-products">
      <product-details-other-shops />

      <product-details-similar-products />
    </div>
  </div>
</section>

