<section class="product-details section">
  <div class="container">
    <bread-crumbs [breadCrumbs]="breadCrumbs"/>

    <div class="product-details-main">
      <div class="product-details-main-info">
        <product-details-gallery
          [details]="details"
        />
        <product-details-info-block
          [details]="details"
          [currentUser]="currentUser"
        />
      </div>

      <product-details-seller-info
        [details]="details"
        [currentUser]="currentUser"
      />
    </div>

    @defer (on viewport) {
      <div class="product-details-additional-info">
        <product-details-tabs
          [details]="details"
          [currentUser]="currentUser"
        />

        <product-details-map
          [branches]="details.store_branches"
        />
      </div>
    } @placeholder {
      <spinner-loader/>
    }

    @defer (on viewport) {
      <product-details-similar-products
        [discountId]="details?.pk"
      />
    } @placeholder {
      <spinner-loader/>
    }
  </div>
</section>

