@import "variables";
@import "mixins";

::ng-deep {
  .mat-mdc-tab-link:hover .mdc-tab__ripple::before {
    display: none;
  }
}

.header-bottom-li {
  height: 2rem !important;
}

.header-bottom-link {
  font-family: "Inter", Arial, sans-serif;
  letter-spacing: 0;
  color: $secondary-black-color;
  font-size: 0.875rem;

  &.active {
    color: $primary-blue-color;
  }
}
