<div class="balance">
  <div class="balance-header">
    <h2 class="balance-heading">{{ 'balance'| translate }}</h2>

    <ui-button
      [text]="'topping.up.balance'"
      [icon]="'icon:outline-plus'"
    />
  </div>
  <table class="balance-table">
    <thead>
      <tr>
        <th class="balance-th">Номер карта</th>
        <th class="balance-th">Дата создания</th>
        <th class="balance-th">Сумма</th>
      </tr>
    </thead>
    <tbody>
    <tr class="balance-tr">
      <td class="balance-td">
        <div class="balance-data">8600 **** **** 9510</div>
      </td>
      <td class="balance-td">
        <div class="balance-data">07.01.2024</div>
      </td>
      <td class="balance-td">
        <div class="balance-data">120 000 сум</div>
      </td>
    </tr>
    <tr class="balance-tr">
      <td class="balance-td">
        <div class="balance-data">8600 **** **** 9510</div>
      </td>
      <td class="balance-td">
        <div class="balance-data">07.01.2024</div>
      </td>
      <td class="balance-td">
        <div class="balance-data">120 000 сум</div>
      </td>
    </tr>
    <tr class="balance-tr">
      <td class="balance-td">
        <div class="balance-data">8600 **** **** 9510</div>
      </td>
      <td class="balance-td">
        <div class="balance-data">07.01.2024</div>
      </td>
      <td class="balance-td">
        <div class="balance-data">120 000 сум</div>
      </td>
    </tr>
    <tr class="balance-tr">
      <td class="balance-td">
        <div class="balance-data">8600 **** **** 9510</div>
      </td>
      <td class="balance-td">
        <div class="balance-data">07.01.2024</div>
      </td>
      <td class="balance-td">
        <div class="balance-data">120 000 сум</div>
      </td>
    </tr>
    <tr class="balance-tr">
      <td class="balance-td">
        <div class="balance-data">8600 **** **** 9510</div>
      </td>
      <td class="balance-td">
        <div class="balance-data">07.01.2024</div>
      </td>
      <td class="balance-td">
        <div class="balance-data">120 000 сум</div>
      </td>
    </tr>
    <tr class="balance-tr">
      <td class="balance-td">
        <div class="balance-data">8600 **** **** 9510</div>
      </td>
      <td class="balance-td">
        <div class="balance-data">07.01.2024</div>
      </td>
      <td class="balance-td">
        <div class="balance-data">120 000 сум</div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
