<div class="balance">
  <div class="balance-header">
    <h2 class="balance-heading">{{ 'balance'| translate }}: {{ balance| number }} {{ 'sum'| translate }}</h2>

    <ui-button
      [text]="'topping.up.balance'"
      (click)="overlayPanel.openPanel()"
      #paymentButton
    />
  </div>

  @if (loading) {
    <spinner-loader/>
  }

  @if (!loading && !paymentHistory?.length) {
    <profile-empty-list/>
  }

  @if (!loading && paymentHistory.length) {
    <table class="balance-table">
      <thead>
      <tr>
        <th class="balance-th">{{ 'type'| translate }}</th>
        <th class="balance-th">{{ 'amount'| translate }}</th>
        <th class="balance-th">{{ 'date'| translate }}</th>
      </tr>
      </thead>

      <tbody>
        @for (history of paymentHistory; track history) {
          <tr class="balance-tr">
            <td class="balance-td">
              <div class="balance-data">
                @if (history.payment_type === 0) {
                  {{ 'account.has.been.filled'| translate }}
                }
                @if (history.payment_type === 1) {
                  {{ 'advertising'| translate }}
                }
                @if (history.payment_type === 2) {
                  {{ 'package'| translate }}
                }
              </div>
            </td>
            <td class="balance-td">
              <div
                class="balance-data"
                [ngClass]="{
                'input': history.payment_type === 0,
                'output': [1, 2].includes(history.payment_type)
              }"
              >
                {{ [ 1, 2 ].includes(history.payment_type) ? '-' : '+' }} {{ history.amount| number }} {{ 'sum'| translate }}
              </div>
            </td>
            <td class="balance-td">
              <div class="balance-data">{{ history.created_at| date: 'dd.MM.YYYY' }}</div>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <mat-paginator
      [pageIndex]="params.page"
      [pageSize]="params.page_size"
      [length]="params.total"
      [showFirstLastButtons]="true"
      (page)="changePage($event)"
    />
  }
</div>

<overlay-panel [originElement]="paymentButton.uiButton" #overlayPanel>
  <form
    [formGroup]="paymentForm"
    class="payment-form"
    overlay-content
    (ngSubmit)="payment()"
  >
    <label class="form-label">
      <span class="form-label-text">{{ 'amount'| translate }} (1 000 {{ 'sum' |translate }} - 1 000 000 {{ 'sum' |translate }})</span>
      <input
        class="form-input"
        type="number"
        [formControlName]="'amount'"
        [placeholder]="'enter.amount'| translate"
      >
    </label>

    <ui-button
      class="payment-form-submit"
      [disabled]="paymentForm.invalid"
      [loading]="paymentForm.disabled"
      [actionType]="'submit'"
      [text]="'pay'"
    />
  </form>
</overlay-panel>
