@import "variables";
@import "mixins";

.balance {
  padding: 1.25rem;
  border-radius: 0.5rem;
  border: 1px solid $border-grey-color;
}

.balance-header {
  @include flex-center-between;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.balance-heading {
  font-size: 1.25rem;
  font-weight: 500;
}

.balance-table-wrapper {
  overflow: auto;
}

.balance-table {
  width: 100%;
  min-width: 560px;
  border: none;
  border-collapse: collapse;
}

.balance-tr {
  border-bottom: 0.25rem solid transparent;
}

.balance-th {
  padding: 0.5rem 1rem;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 400;
  color: $secondary-black-color;
}

.balance-data {
  height: 100%;
  padding: 1.25rem 1rem;
  background-color: $background-grey-color;

  &.input {
    color: $green-color;
  }

  &.output {
    color: $primary-red-color;
  }
}

.balance-td {
  padding: 0;

  &:first-child .balance-data {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  &:last-child .balance-data {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}

.payment-form {
  @include flex-column(0.75rem);
  width: 20rem;
  margin-top: 0.5rem;
  padding: 1.25rem;
  background-color: $white-color;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 1.5rem 0 rgba(51, 51, 51, 0.12);
}

.payment-form-submit {
  margin-left: auto;
}

@include media(1080px) {
  .balance {
    padding: 0.75rem;
  }

  .balance-heading {
    font-size: 1rem;
  }
}
