<section class="profile">
  <div class="container">
    <div class="profile-header">
      <section-header
        [heading]="'my.profile'"
        (click)="isProfileMenuOpened = true"
      />

      <ui-button
        class="profile-menu-toggle"
        (click)="isProfileMenuOpened = true"
        [text]="'menu'"
        [icon]="'icon:hamburger'"
        [type]="'gray-outline'"
      />
    </div>

    <div class="profile-inner">
      <aside
        class="profile-menu"
        [ngClass]="{
          'opened': isProfileMenuOpened,
          'closed': !isProfileMenuOpened,
        }"
      >
        <ng-container
          *ngTemplateOutlet="profileMenu"
        />
      </aside>
      <main class="profile-main">
        <router-outlet />
      </main>
    </div>
  </div>
</section>

<ng-template #profileMenu>
  <ul class="profile-menu-list">
    @for (menuItem of menu; track menuItem) {
      @if (menuItem.isStoreRequired && currentUser?.store_id) {
        <ng-container
          *ngTemplateOutlet="menuItemElement; context: { $implicit: menuItem }"
        />
      }
      @if (!menuItem.isStoreRequired) {
        <ng-container
          *ngTemplateOutlet="menuItemElement; context: { $implicit: menuItem }"
        />
      }
    }

    <li class="profile-menu-item exit" mat-ripple (click)="signOut()">
      <a class="profile-menu-link">
        <mat-icon [svgIcon]="'icon:logout'"/>
        <span>{{ 'exit'| translate }}</span>
      </a>
    </li>
  </ul>
</ng-template>

<ng-template #menuItemElement let-item>
  <li
    class="profile-menu-item"
    mat-ripple
    [routerLink]="[item.link]"
    [routerLinkActive]="'active'"
  >
    <a class="profile-menu-link">
      <mat-icon [svgIcon]="item.icon"/>
      <span>{{ item.name| translate }}</span>
    </a>
  </li>
</ng-template>

@if (isProfileMenuOpened) {
  <div
    (click)="isProfileMenuOpened = false"
    class="profile-menu-backdrop"></div>
}

