@import "mixins";
@import "variables";

.profile {
  padding-top: 1.5rem;
}

.profile-inner {
  @include grid(1fr 3.5fr, 1.25rem);
  align-items: start;
}

.profile-header {
  @include flex-center-between;
  margin-bottom: 0.5rem;
}

.profile-menu {
  position: sticky;
  top: 1rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  border: 1px solid $border-grey-color;
}

.profile-menu-item {
  padding: 0 1.25rem;
  cursor: pointer;

  &:hover {
    background-color: $background-grey-color;
  }

  &.active .profile-menu-link {
    color: $primary-blue-color
  }

  &.exit .profile-menu-link {
    color: $primary-red-color
  }

  &:not(:last-child) .profile-menu-link {
    border-bottom: 1px solid $border-grey-color;
  }
}

.profile-menu-link {
  @include flex-center(0.5rem);
  padding: 1rem 0;
  font-size: 0.875rem;
  color: $dialog-title-black;

  .mat-icon {
    width: 1.25rem;
  }
}

.profile-menu-backdrop {
  position: fixed;
  inset: 0;
  z-index: 4;
  background: rgba(178, 183, 208, 0.30);
  backdrop-filter: blur(3px);
}

.profile-menu-toggle {
  display: none;
}

@include media(1080px) {
  .profile {
    padding-top: 0.25rem;
  }

  .profile-inner {
    @include grid(1fr 2fr, 0.75rem);
    align-items: start;
  }

  .profile-menu-item {
    padding: 0 0.75rem;
  }
}

@include media(780px) {
  .profile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 18rem;
    background-color: $white-color;
    z-index: 5;
    transition: all 325ms cubic-bezier(0.4, 0, 0.2, 1);

    &.opened {
      left: 0;
    }

    &.closed {
      left: -100%;
    }
  }

  .profile-menu {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .profile-inner {
    @include grid(1fr, 0.75rem);
  }

  .profile-menu-toggle {
    display: block;
  }
}
