<section class="profile section">
  <div class="container">
    <section-header [heading]="'Мой кабинет'"/>

    <div class="profile-inner">
      <aside class="profile-menu">
        <ng-container
          *ngTemplateOutlet="profileMenu"
        />
      </aside>

      <main class="profile-main">
        <router-outlet />
      </main>
    </div>
  </div>
</section>

<ng-template #profileMenu>
  <ul class="profile-menu-list">
    @for (menuItem of menu; track menuItem) {
      <li class="profile-menu-item" mat-ripple [routerLink]="[menuItem.link]" [routerLinkActive]="'active'">
        <a class="profile-menu-link">
          <mat-icon [svgIcon]="menuItem.icon"/>
          <span>{{ menuItem.name }}</span>
        </a>
      </li>
    }

    <li class="profile-menu-item exit" mat-ripple>
      <a class="profile-menu-link">
        <mat-icon [svgIcon]="'icon:logout'"/>
        <span>Выход</span>
      </a>
    </li>
  </ul>
</ng-template>
