@import "mixins";
@import "variables";

.profile {
  padding-top: 1.5rem;
}

.profile-inner {
  @include grid(1fr 3.5fr, 1.25rem);
  align-items: start;
}

.profile-menu {
  position: sticky;
  top: 1rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  border: 1px solid $border-grey-color;
}

.profile-menu-item {
  padding: 0 1.25rem;
  cursor: pointer;

  &:hover {
    background-color: $background-grey-color;
  }

  &.active .profile-menu-link {
    color: $primary-blue-color
  }

  &.exit .profile-menu-link {
    color: $primary-red-color
  }

  &:not(:last-child) .profile-menu-link {
    border-bottom: 1px solid $border-grey-color;
  }
}

.profile-menu-link {
  @include flex-center(0.5rem);
  padding: 1rem 0;
  font-size: 0.875rem;
  color: $dialog-title-black;

  .mat-icon {
    width: 1.25rem;
  }
}

@include media(1080px) {
  .profile {
    padding-top: 0.25rem;
  }

  .profile-inner {
    @include grid(1fr 2fr, 0.75rem);
    align-items: start;
  }

  .profile-menu-item {
    padding: 0 0.75rem;
  }
}
