@import "mixins";
@import "variables";

.partners-info {
  padding: 2rem;
  border-radius: 1rem;
  background-color: $background-grey-color;
  overflow: hidden;
}

.partners-info-header {
  @include flex-start-between;
}

.partners-info-heading {
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: $secondary-black-color;
  }
}

.partners-info-button {
  @include blue-button;
  @include flex-center-center(0.5rem);

  span {
    white-space: nowrap;
  }

  .mat-icon {
    width: 0.5rem;
  }

  &.mobile {
    display: none;
    margin-top: 1rem;
  }
}

.partners-info-list {
  @include grid(repeat(8, 1fr), 1rem);
  padding-top: 2.5rem;
}

.partners-info-item {
  @include flex-center-center;
  padding: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: $white-color;
}

@include media(1280px) {
  .partners-info {
    padding: 1.5rem;
  }

  .partners-info-list {
    @include grid(repeat(6, 1fr), 1rem);
    padding-top: 1.5rem;
  }
}

@include media(920px) {
  .partners-info-list {
    @include grid(repeat(5, 1fr), 1rem);
  }
}

@include media(780px) {
  .partners-info-list {
    @include grid(repeat(4, 1fr), 1rem);
  }

  .partners-info-button {
    &.desktop {
      display: none;
    }

    &.mobile {
      display: flex;
      width: 100%;
    }
  }
}

@include media(580px) {
  .partners-info-list {
    @include grid(repeat(3, 1fr), 1rem);
  }
}
