@import "variables";
@import "mixins";

.category-products-list-filter {
  @include flex-center-between;
}

.category-products-list-date {
  @include flex-center;
  height: 2.75rem;
  padding: 0 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid $border-grey-color;

  .mat-date-range-input {
    width: 11rem;
  }

  .mat-icon {
    cursor: pointer;
  }
}

.category-products-list-map {
  @include flex-center-center(0.5rem);
  height: 2.75rem;
  padding: 0 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid $primary-blue-color;
  font-size: 1rem;
  font-weight: 500;
  color: $primary-blue-color;

  .mat-icon {
    width: 0.875rem;
  }

  &:hover {
    background-color: rgba($primary-blue-color, 0.1);
  }

  &.active {
    background-color: $primary-blue-color;
    color: $white-color;
  }
}

.category-products-list-sort {
  @include flex-center(0.5rem);
  padding-top: 1rem;
}

.category-products-list-sort-button {
  height: 2rem;
  padding: 0 1rem;
  border-radius: 0.25rem;
  background-color: $background-grey-color;
  font-size: 0.875rem;
  color: $dialog-title-black
}

.category-products-list-grid {
  @include grid(repeat(3, 1fr), 1.5rem);
  padding-top: 1.5rem;
}
