@import "variables";
@import "mixins";

.stores {
  padding-top: 1rem;
}

.stores-header {
  @include flex-center-between;
}

.stores-search {
  max-width: 50%;
}

.stores-grid {
  @include grid(repeat(3, 1fr), 1rem);
  padding-top: 1rem;
}

.stores-item {
  @include flex-start(1rem);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: $input-background;
}

.stores-logo {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  width: 3.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-color: $white-color;
  color: $secondary-text-color;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.stores-info {
  flex-grow: 1;
  padding-top: 0.5rem;
}

.stores-name {
  font-size: 0.875rem;
  font-weight: 500;
  color: $secondary-black-color;
  @include line-clamp(1)
}

.stores-statistics {
  @include flex-center(1rem);
  padding-top: 0.25rem;
}

.stores-statistics-item {
  @include flex-center(0.25rem);

  span {
    color: $secondary-text-color;
  }
}

.icon-star {
  width: 1.35rem;
  height: 1.35rem;
}

.icon-avatar {
  width: 1.125rem;
  height: 1.125rem;
}

@include media(1400px) {
  .stores-grid {
    @include grid(repeat(2, 1fr), 1rem);
  }
}

@include media(1080px) {
  .stores {
    padding-top: 0;
  }

  .stores-grid {
    @include grid(1fr, 0.5rem);
    padding-top: 0.5rem;
  }

  .stores-item {
    padding: 0.5rem;
    gap: 0.5rem
  }
}
