<div class="my-information">
  <div class="my-information-header">
    <h2 class="my-information-heading">{{ 'my.information'| translate }}</h2>

    @if (!currentUser.store_id) {
      <button
        class="my-information-add-company"
        mat-ripple
        [matRippleColor]="'#0CA4FA12'"
        [routerLink]="['../my-store']"
      >
        <mat-icon [svgIcon]="'icon:solid-plus'"/>
        <span>{{ 'store.registration'| translate }}</span>
      </button>
    }
  </div>

  <form class="my-information-form" [formGroup]="myInfoForm" (ngSubmit)="updateInformation()">
    <div class="my-information-fields">
      <label class="my-information-label form-label">
        <span class="my-information-label-text form-label-text">{{ 'name'| translate }} *</span>
        <input
          class="my-information-input form-input"
          [class.invalid]="myInfoForm.get('full_name').invalid && myInfoForm.get('full_name').touched"
          trim
          type="text"
          [placeholder]="'name'| translate"
          [formControlName]="'full_name'"
        >
        @if (myInfoForm.get('full_name').invalid && myInfoForm.get('full_name').touched) {
          <span class="form-error">{{ 'required.field'| translate }}</span>
        }
      </label>

      <label class="my-information-label form-label">
        <span class="my-information-label-text form-label-text">{{ 'date.of.birth'| translate }}</span>
        <input
          class="my-information-input form-input"
          type="text"
          [readOnly]="true"
          [placeholder]="'dd.mm.yyyy'| translate"
          [matDatepicker]="fromDatePicker"
          [formControlName]="'birthday'"
          [max]="maxBirthday"
        >

        <mat-icon
          class="my-information-calendar-icon"
          [svgIcon]="'icon:calendar'"
          (click)="fromDatePicker.open()"
        ></mat-icon>
        <mat-datepicker #fromDatePicker></mat-datepicker>
      </label>

      <label class="my-information-label form-label">
        <span class="my-information-label-text form-label-text">{{ 'gender'| translate }}</span>

        <mat-select
          class="solid-select"
          [formControlName]="'gender'"
          [placeholder]="'gender'| translate"
        >
          <mat-option [value]="0">{{ 'male'| translate }}</mat-option>
          <mat-option [value]="1">{{ 'female'| translate }}</mat-option>
        </mat-select>
      </label>

      <label class="my-information-label form-label">
        <span class="my-information-label-text form-label-text">{{ 'region'| translate }}</span>

        <mat-select
          class="solid-select"
          [formControlName]="'region'"
          [placeholder]="'region'| translate"
          (selectionChange)="onRegionSelected()"
        >
          @for (region of regions; track region) {
            <mat-option [value]="region.id">{{ region.name| translate }}</mat-option>
          }
        </mat-select>
      </label>

      <label class="my-information-label form-label">
        <span class="my-information-label-text form-label-text">{{ 'district'| translate }}</span>

        <mat-select
          class="solid-select"
          [formControlName]="'district'"
          [placeholder]="'district'| translate"
          (click)="onClickDistrictsSelect()"
        >
          @for (district of districts; track district) {
            <mat-option [value]="district.pk">{{ district | showByLang: activeLang }}</mat-option>
          }
        </mat-select>
      </label>

      <label class="my-information-label form-label">
        <span class="my-information-label-text form-label-text">{{ 'phone.number'| translate }}</span>
        <input
          class="my-information-input form-input"
          type="text"
          [readOnly]="true"
          [formControlName]="'phone_number'"
        >
      </label>

      <label class="my-information-label form-label">
        <span class="my-information-label-text form-label-text">{{ 'email'| translate }}</span>
        <input
          class="my-information-input form-input"
          [class.invalid]="myInfoForm.get('email').invalid && myInfoForm.get('email').touched"
          type="text"
          [mask]="'A*@A*.SSS'"
          [validation]="true"
          [dropSpecialCharacters]="false"
          [placeholder]="'email'| translate"
          [formControlName]="'email'"
        >
        @if (myInfoForm.get('email').invalid && myInfoForm.get('email').touched) {
          <span class="form-error">{{ 'enter.valid.email'| translate }}</span>
        }
      </label>
    </div>

    <ui-button
      class="my-information-submit"
      [actionType]="'submit'"
      [loading]="myInfoForm.disabled"
    />
  </form>
</div>
