<div class="global-search"
     matAutocompleteOrigin
     #globalSearchWrapper="matAutocompleteOrigin"
>
  <input
    class="global-search-input"
    [matAutocomplete]="globalSearchInput"
    [matAutocompleteConnectedTo]="globalSearchWrapper"
    type="text"
    [placeholder]="'search'| translate"
    trim
    [(ngModel)]="params.search"
    (keydown.enter)="search()"
    #searchInput
  >
  <button class="global-search-location" #locationButton (click)="overlayPanel.openPanel()">
    <span>
    @if (params.region !== null) {
      {{ regions[params.region].name| translate }}{{ params.district !== null ? ', ' +  regions[params.region].districts[params.district].name : ''}}
    } @else {
      {{ 'whole.country' | translate }}
    }
      </span>
    <mat-icon [svgIcon]="'icon:arrow-down'"></mat-icon>
  </button>
  <button class="global-search-submit" (click)="search()">
    <mat-icon [svgIcon]="'icon:search'"></mat-icon>
  </button>
</div>


<mat-autocomplete
  [class]="'global-search-result'"
  [hideSingleSelectionIndicator]="true"
  #globalSearchInput="matAutocomplete"
>

  @for (result of searchResults; track result) {
    <mat-option
      [routerLink]="['/product-details', result?.pk]"
      class="global-search-option" [value]="result?.title">
      <div class="global-search-item">
        <div class="global-search-img">
          @if (result?.store?.logo) {
            <img-wrapper
              [src]="result?.store?.logo"
            />
          } @else {
            <mat-icon [svgIcon]="'icon:store-active'"/>
          }
        </div>

        <div class="global-search-info">
          <div class="global-search-title">
            {{ result?.title }}
          </div>
          <div class="global-search-text">
            {{ result?.store?.name }}
          </div>
        </div>
      </div>
    </mat-option>
  }
</mat-autocomplete>

<overlay-panel [originElement]="locationButton" #overlayPanel>
  <div
    class="global-search-location-panel"
    overlay-content
  >
    @if (tab === 'regions') {
      <ul class="global-search-location-list" scrollbar>
        <li class="global-search-location-item" mat-ripple (click)="selectWholeCountry()">
          <div>
            <span>{{ 'whole.country'| translate }}</span>

            <mat-icon [svgIcon]="'icon:arrow-right'"></mat-icon>
          </div>
        </li>
        @for (region of regions; track region; let i = $index) {
          <li class="global-search-location-item" mat-ripple (click)="selectRegion(i)">
            <div>
              <span>{{ region.name | translate }}</span>

              <mat-icon [svgIcon]="'icon:arrow-right'"></mat-icon>
            </div>
          </li>
        }
      </ul>
    } @else {
      <div class="global-search-location-region">
        <icon-button
          [buttonType]="'gray'"
          [icon]="'icon:arrow-back'"
          (click)="backToRegions()"
        />

        <h2 class="global-search-location-region-name">
          {{ regions[params.region].name | translate }}
        </h2>
      </div>
      <ul class="global-search-location-list districts" scrollbar>
        <li
          (click)="selectWholeRegion()"
          class="global-search-location-item" mat-ripple>
          <div>{{ 'whole.region'| translate }}</div>
        </li>
        @for (district of regions[params.region].districts; track district; let i = $index) {
          <li
            (click)="selectDistrict(i)"
            class="global-search-location-item" mat-ripple>
            <div>{{ district.name }}</div>
          </li>
        }
      </ul>
    }
  </div>
</overlay-panel>


