<section class="partners section">
  <div class="container">
    <div class="partners-inner">
      <div class="partners-owner-img">
        <img src="/assets/partners/owner.png" alt="Owner image">
      </div>

      <div class="partners-info">
        <div class="partners-info-header">
          <div class="partners-info-heading">
            <h2>Наши партнеры</h2>
            <p>Сотрудничая с нами, вы можете увеличить продажи своего магазина.</p>
          </div>

          <button class="partners-info-button">
            <span>Смотреть все</span>
            <mat-icon [svgIcon]="'icon:arrow-right'"></mat-icon>
          </button>
        </div>

        <ul class="partners-info-list">
          <li class="partners-info-item">
            <img src="/assets/partners/makro.svg" alt="Makro logo">
          </li>
          <li class="partners-info-item">
            <img src="/assets/partners/samsung.svg" alt="Makro logo">
          </li>
          <li class="partners-info-item">
            <img src="/assets/partners/smart.svg" alt="Makro logo">
          </li>
          <li class="partners-info-item">
            <img src="/assets/partners/terra-pro.svg" alt="Makro logo">
          </li>
          <li class="partners-info-item">
            <img src="/assets/partners/samsung.svg" alt="Makro logo">
          </li>
          <li class="partners-info-item">
            <img src="/assets/partners/smart.svg" alt="Makro logo">
          </li>
          <li class="partners-info-item">
            <img src="/assets/partners/makro.svg" alt="Makro logo">
          </li>
          <li class="partners-info-item">
            <img src="/assets/partners/samsung.svg" alt="Makro logo">
          </li>
          <li class="partners-info-item">
            <img src="/assets/partners/terra-pro.svg" alt="Makro logo">
          </li>
          <li class="partners-info-item">
            <img src="/assets/partners/samsung.svg" alt="Makro logo">
          </li>
          <li class="partners-info-item">
            <img src="/assets/partners/makro.svg" alt="Makro logo">
          </li>
          <li class="partners-info-item">
            <img src="/assets/partners/samsung.svg" alt="Makro logo">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


