@import "variables";
@import "mixins";

.header-middle {
  position: relative;
  z-index: 2;
}

.header-middle-inner {
  @include flex-center(0.5rem);
  padding: 0.75rem 0;
}

.header-middle-logo {
  @include flex-center(0.5rem);
  margin-right: 0.5rem;

  &-text {
    font-size: 1.4rem;
    font-weight: 600;
    color: $logo-black-color;
  }
}

.header-middle-search {
  flex-grow: 1;
}

.header-middle-catalog {
  margin-right: 0.5rem;
}

.header-middle-catalog-button {
  position: relative;
  @include flex-center-center;
  height: 2.75rem;
  padding: 0 1.25rem 0 3rem;
  border-radius: 0.5rem;
  background-color: rgba($primary-blue-color, 0.12);
  color: $primary-blue-color;
}

.header-middle-catalog-text {
  font-size: 0.875rem;
  font-weight: 500;
}

.header-middle-catalog-hamburger {
  width: 3.75rem;
  height: 2.8125rem;
  position: absolute;
  left: 0;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg) scale(0.3);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.header-middle-catalog-hamburger div {
  display: block;
  position: absolute;
  height: 0.375rem;
  width: 100%;
  background: $primary-blue-color;
  border-radius: 0.375rem;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.header-middle-catalog-hamburger div:nth-child(1) {
  top: 0;
}

.header-middle-catalog-hamburger div:nth-child(2),.header-middle-catalog-hamburger div:nth-child(3) {
  top: 1.125rem;
}

.header-middle-catalog-hamburger div:nth-child(4) {
  top: 2.25rem;
}

.header-middle-catalog-hamburger.open div:nth-child(1) {
  top: 1.125rem;
  width: 0;
  left: 50%;
}

.header-middle-catalog-hamburger.open div:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-middle-catalog-hamburger.open div:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-middle-catalog-hamburger.open div:nth-child(4) {
  top: 1.125rem;
  width: 0;
  left: 50%;
}

@include media(1536px) {

}

@include media(1440px) {

}

@include media(1366px) {

}

@include media(1280px) {

}

@include media(1180px) {
  .header-middle-search {
    width: 100%;
    order: 1;
  }

  .header-middle-notifications {
    margin-left: auto;
  }
}

@include media(1060px) {

}
