@import "mixins";
@import "variables";

.download-app-inner {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 2rem;
  background-image: linear-gradient(90deg, #ACB6E5 0%, #86FDE8 100%);
}

.download-app-left {
  flex-grow: 1;
  padding: 3.5rem;
}

.download-app-decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}

.download-app-heading {
  margin-bottom: 3rem;
  color: $white-color;
  font-size: 2.5rem;
  font-weight: 600;
}

.download-app-right {
  padding: 2.5rem 2.5rem 0 0;

  img {
    width: auto;
    height: 100%;
  }
}
