<div class="product-details-photo-gallery">
  <div class="product-details-photo-display">
    <img
      [ngSrc]="selectedImageUrl"
      [fill]="true"
      [alt]="">

    <div class="product-details-photo-navs">
      <button class="carousel-navigation-button" (click)="navigateCarousel('prev')">
        <mat-icon [svgIcon]="'icon:arrow-left'"></mat-icon>
      </button>

      <button class="carousel-navigation-button" (click)="navigateCarousel('next')">
        <mat-icon [svgIcon]="'icon:arrow-right'"></mat-icon>
      </button>
    </div>

    <div class="product-details-scale-actions">
      <button class="product-details-scale-button video">
        <mat-icon [svgIcon]="'icon:play'"/>
        <span>Видео</span>
      </button>
      <button class="product-details-scale-button scale" (click)="openGalleryModal()">
        <mat-icon [svgIcon]="'icon:full-screen'"/>
      </button>
    </div>
  </div>

  <div class="product-details-photo-thumbs">
    <owl-carousel-o [options]="thumbsCarouselOption" #thumbsCarousel>
      @for (imgUrl of productImages; track imgUrl; let i = $index) {
        <ng-template carouselSlide id="{{ imgUrl }}">
          <div
            class="product-details-photo-thumb"
            [class.active]="selectedImageIndex === i"
            [id]="i"
            (click)="selectThumb(i)"
          >
            <img [ngSrc]="imgUrl" [fill]="true" [alt]="imgUrl">
          </div>
        </ng-template>
      }
    </owl-carousel-o>
  </div>
</div>
