<div class="product-details-photo-gallery">
  <div class="product-details-photo-display">
    @if (selectedItemUrl.startsWith('https://api.chegirmada.uz')) {
      <img
        [ngSrc]="selectedItemUrl"
        [fill]="true"
        [alt]="">
    } @else {
      <video-player
        [videoURL]="selectedItemUrl"
        [aspectRatio]="1"
      />
    }

    <button class="carousel-navigation-button prev" (click)="navigateCarousel('prev')">
      <mat-icon [svgIcon]="'icon:arrow-left'"></mat-icon>
    </button>

    <button class="carousel-navigation-button next" (click)="navigateCarousel('next')">
      <mat-icon [svgIcon]="'icon:arrow-right'"></mat-icon>
    </button>

    <div class="product-details-scale-actions">
      <button class="product-details-scale-button" (click)="openGalleryModal()">
        <mat-icon [svgIcon]="'icon:full-screen'"/>
      </button>
    </div>
  </div>

  <div class="product-details-photo-thumbs">
    <owl-carousel-o [options]="thumbsCarouselOption" #thumbsCarousel>
      @for (imgUrl of productImages; track imgUrl; let i = $index) {
        <ng-template carouselSlide id="{{ imgUrl }}">
          <div
            class="product-details-photo-thumb"
            [class.active]="selectedImageIndex === i"
            [id]="i"
            (click)="selectThumb(i)"
          >
            @if (imgUrl.startsWith('https://api.chegirmada.uz')) {
              <img [ngSrc]="imgUrl" [fill]="true" [alt]="imgUrl">
            } @else {
              <div class="product-details-video-thumb">
                <mat-icon [svgIcon]="'icon:play'"/>
              </div>
            }
          </div>
        </ng-template>
      }
    </owl-carousel-o>
  </div>
</div>
