@import "variables";
@import "mixins";

.product-details-photo-gallery {
  overflow: hidden;
}

.product-details-photo-display {
  position: relative;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid $border-grey-color;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel-navigation-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #B2B7D066;

  &.prev {
    left: 1rem;
  }

  &.next {
    right: 1rem;
  }
}

.product-details-scale-actions {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  @include flex-center-end;
  padding: 1rem;
}

.product-details-scale-button {
  @include flex-center-center(0.25rem);
  width: 2rem;
  height: 2rem;
  padding: 0.35rem;
  border-radius: 0.25rem;
  background-color: #B2B7D066;
  font-size: 0.875rem;
  color: $white-color;
}

.product-details-photo-thumbs {
  padding-top: 1rem;
}

.product-details-photo-thumb {
  position: relative;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid $border-grey-color;

  &.active {
    border: 0.125rem solid $primary-blue-color;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product-details-video-thumb {
  @include flex-center-center;
  width: 100%;
  height: 100%;
  color: $secondary-black-color;

  .mat-icon {
    width: 2rem;
    height: 2rem;
  }
}

::ng-deep {
  .owl-item {
    max-width: 25% !important;
  }
}
