@import "variables";
@import "mixins";

.header-middle-inner {
  @include flex-center(0.5rem);
  padding: 0.75rem 0;
}

.header-middle-search {
  flex-grow: 1;
}

.header-middle-logo {
  margin-right: 0.5rem;
}

.header-middle-catalog {
  margin-right: 0.5rem;
}
