<div class="header-middle">
    <div class="container">
        <div class="header-middle__inner">
            <a class="header-middle__inner-logo site-logo" routerLink="/">
                <img class="site-logo__img" ngSrc="assets/logos/aksiyamix-logo.svg" width="178" height="40" alt="Asiya Mix logo">
            </a>

            <button class="header-middle__inner-catalog catalog-button">
                <mat-icon svgIcon="icon:hamburger"></mat-icon>
            </button>
        </div>
    </div>
</div>
