@import "variables";

.header-middle__inner {
   display: flex;
   align-items: center;
   padding: 1.5rem 0;

   &-logo {
      margin-right: 1.5rem;
   }

   &-catalog {
      margin-right: 0.5rem;
   }

   &-search {
      flex-grow: 1;
   }
}



