@import "variables";
@import "mixins";

::ng-deep {
  .product-details-gallery-modal .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }
}

.gallery-modal {
  position: relative;
  @include flex-column(1rem);
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5rem 1rem;
  overflow: auto;
}

.gallery-modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  @include flex-center-center();
  width: 3rem;
  aspect-ratio: 1;
  background-color: $white-color;
  border-radius: 50%;
  border: 1px solid $border-grey-color;
  color: $dialog-title-black;

  .mat-icon {
    width: 0.875rem;
  }
}

.gallery-modal-counter {
  font-size: 1.125rem;
}

.gallery-modal-carousel {
  position: relative;
  flex-grow: 1;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  overflow: hidden;
}

.gallery-modal-img {
  position: relative;
  aspect-ratio: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gallery-modal-navigations {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translateY(-50%);
  @include flex-center-between;
  width: 100%;
  padding: 0 2rem;

  .mat-icon {
    width: 0.75rem;
  }
}

.gallery-modal-navigation {
  @include flex-center-center();
  width: 3rem;
  aspect-ratio: 1;
  background-color: $white-color;
  border-radius: 50%;
  border: 1px solid $border-grey-color;
  color: $dialog-title-black;
}

@include media(1080px) {
  .gallery-modal-close {
    width: 2rem;

    .mat-icon {
      width: 0.75rem;
    }
  }

  .gallery-modal-counter {
    font-size: 1rem;
  }

  .gallery-modal-navigation {
    width: 2rem;

    .mat-icon {
      width: 0.5rem;
    }
  }
}
