::ng-deep {
  .product-details-gallery-modal .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }
}

