@import "variables";
@import "mixins";
@import "buttons";

.favourite-companies-heading {
  font-size: 1.25rem;
  font-weight: 500;
}

.favourite-products-list {
  @include grid(repeat(3, 1fr), 1.5rem);
  padding-top: 1.5rem;
}
