@import "variables";
@import "general";

.catalog-button {
  @extend .flex-center-center;
  height: 2.75rem;
  margin-right: 0.5rem;
  padding: 0 1.25rem;
  border-radius: 0.5rem;
  background-color: rgba($primary-blue-color, 0.12);
  color: $primary-blue-color;

  &-icon {
    width: 1rem;
    margin-right: 0.5rem;
  }

  &-text {
    font-size: 0.875rem;
    font-weight: 500;
  }
}
