<section>
  <div class="container banner">
    <owl-carousel-o [options]="carouselOptions" #carouselComponent>
      @for (banner of banners?.banners; track banner) {
        <ng-template carouselSlide>
          <a class="banner-slide" [href]="banner.url">
            <img [ngSrc]="banner?.image" [fill]="true" [alt]="banner.desc">
          </a>
        </ng-template>
      }
    </owl-carousel-o>

    <div class="banner-carousel-navs">
      <button class="carousel-navigation-button" (click)="navigateCarousel('prev')">
        <mat-icon [svgIcon]="'icon:arrow-left'"></mat-icon>
      </button>

      <button class="carousel-navigation-button" (click)="navigateCarousel('next')">
        <mat-icon [svgIcon]="'icon:arrow-right'"></mat-icon>
      </button>
    </div>
  </div>
</section>


