<div class="create-announcement-header">
  <icon-button
    [buttonType]="'gray'"
    [icon]="'icon:arrow-back'"
  />

  <h2 class="create-announcement-heading">Добавить объявление</h2>
</div>

<div class="create-announcement-tabs">
  <div class="create-announcement-tabs-item active" mat-ripple [matRippleColor]="'#F1F5F955'">
    <div class="create-announcement-tabs-index">
      1
    </div>

    <div class="create-announcement-tabs-title">Информация о продукте</div>
  </div>

  <div class="create-announcement-tabs-decoration">
    <ng-container
      *ngTemplateOutlet="decorationItems"
    />
  </div>

  <div class="create-announcement-tabs-item enabled" mat-ripple [matRippleColor]="'#F1F5F955'">
    <div class="create-announcement-tabs-index">
      2
    </div>

    <div class="create-announcement-tabs-title">Особенности продукта</div>
  </div>

  <div class="create-announcement-tabs-decoration">
    <ng-container
      *ngTemplateOutlet="decorationItems"
    />
  </div>

  <div class="create-announcement-tabs-item disabled" mat-ripple [matRippleColor]="'#F1F5F955'" [matRippleDisabled]="true" >
    <div class="create-announcement-tabs-index">
      3
    </div>

    <div class="create-announcement-tabs-title">Дополнительная информация</div>
  </div>
</div>

<div class="create-announcement-information">
  <div class="create-announcement-information-inner">
    <div class="create-announcement-information-fields">
      <label class="create-announcement-information-field form-label">
        <span class="create-announcement-information-field-title form-label-text">Заголовок (UZ)</span>
        <input class="create-announcement-information-input form-input" type="text" placeholder="Введите заголовок">
      </label>

      <label class="create-announcement-information-field form-label">
        <span class="create-announcement-information-field-title form-label-text">Заголовок (RU)</span>
        <input class="create-announcement-information-input form-input" type="text" placeholder="Введите заголовок">
      </label>

      <label class="create-announcement-information-field form-label">
        <span class="create-announcement-information-field-title form-label-text">Категория</span>
        <input class="create-announcement-information-input form-input" type="text" placeholder="Добавить категория">
      </label>

      <div class="create-announcement-information-field date-interval">
        <label class="form-label date-interval-label">
          <span class="create-announcement-information-field-title form-label-text">Дата начала</span>
          <input
            class="create-announcement-information-input form-input"
            [matDatepicker]="fromDatePicker"
            [(ngModel)]="date"
          >
          <mat-icon
            class="date-interval-calendar-icon"
            [svgIcon]="'icon:calendar'"
            (click)="fromDatePicker.open()"
          ></mat-icon>
          <mat-datepicker #fromDatePicker></mat-datepicker>
        </label>

        <label class="form-label date-interval-label">
          <span class="create-announcement-information-field-title form-label-text">Дата окончания</span>
          <input
            class="create-announcement-information-input form-input"
            [matDatepicker]="toDatePicker"
            [(ngModel)]="date"
          >
          <mat-icon
            class="date-interval-calendar-icon"
            [svgIcon]="'icon:calendar'"
            (click)="toDatePicker.open()"
          ></mat-icon>
          <mat-datepicker #toDatePicker></mat-datepicker>
        </label>
      </div>
    </div>

    <div class="create-announcement-dropzone" dragAndDrop (fileDropped)="onImagesDropped($event)">
      <mat-icon class="create-announcement-upload-icon" [svgIcon]="'icon:drag-drop-images'"/>

      <h3 class="create-announcement-drop-title">Перетащите изображения сюда</h3>

      <p class="create-announcement-drop-or-text">или</p>

      <label class="create-announcement-show-images" mat-ripple>
        <p>Укажите изображения (.jpg, .png, .webp)</p>
        <input
          #fileInput
          type="file"
          multiple
          (change)="onImagesSelectedByFileInput($event)"
          [accept]="'.jpg, .png, .webp'"
        >
      </label>

    </div>

    <div cdkDropList cdkDropListOrientation="horizontal" class="create-announcement-images" (cdkDropListDropped)="drop($event)">
      @for (img of imagesList; track img; let i = $index) {
        <div class="create-announcement-image" cdkDrag>
          <div class="create-announcement-image-placeholder" *cdkDragPlaceholder></div>
          <img [src]="img.buffer" [alt]="">

          <button
            class="create-announcement-image-remove"
            (click)="removeImage(i)"
          >
            <mat-icon [svgIcon]="'icon:x'"/>
          </button>
        </div>
      }
    </div>
  </div>
</div>



<ng-template #decorationItems>
  @for(i of Array(20).fill(1); track i) {
    <div class="create-announcement-tabs-decoration-item"></div>
  }
</ng-template>
