@import "variables";

.global-search {
   display: flex;
   height: 3rem;
   border: 1px solid $border-grey-color;
   border-radius: 0.5rem;
   overflow: hidden;
}


.global-search__input {
   flex-grow: 1;
   padding: 0 0.75rem;
   text-align: left;
   font-size: 0.875rem;

   &::placeholder {
      color: $placeholder-grey-color;
   }
}

.global-search__location-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 0.25rem 0 0.75rem;
   border-left: 1px solid $border-grey-color;
   border-right: 1px solid $border-grey-color;
   font-size: 0.875rem;
}

.global-search__search-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 0.75rem;
}

div.mat-mdc-autocomplete-panel {
   border-radius: 0.5rem;
   box-shadow: 0 4px 24px 0 rgba(51, 51, 51, 0.12);
}

