@import "variables";
@import "mixins";

:host {
  @include flex-column;
  flex-grow: 1;
}

.not-found-page {
  @include flex-column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 2rem;
  text-align: center;
}

.not-found-page-img {
  position: relative;
  width: 43rem;
  aspect-ratio: 2.03;
  margin-bottom: 3rem;
}

.not-found-page-heading {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: $dialog-title-black;
}

.not-found-page-text {
  margin-bottom: 2rem;
  font-size: 0.875rem;
  color: $secondary-black-color;
}
