<div class="header-middle">
  <div class="container">
    <div class="header-middle-inner">
      <a class="header-middle-logo"
         routerLink="/">
        <img
          class="header-middle-logo-img"
          [ngSrc]="'assets/logos/logo.svg'"
          [width]="30"
          [height]="30"
          [alt]="'Aksiya Mix logo'"
        >
        <span class="header-middle-logo-text">aksiyamix</span>
      </a>

      <button class="header-middle-catalog-button" (click)="toggleCatalogPanel()">
        <div class="header-middle-catalog-hamburger" [class.open]="isCatalogPanelOpen">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>

        <span class="header-middle-catalog-text">{{ 'catalog'| translate }}</span>
      </button>
      <global-search class="header-middle-search"/>
      <notifications class="header-middle-notifications"/>
      <wish-list-button class="header-middle-wish-list"/>
      <login-button class="header-middle-login-button"/>
    </div>
  </div>

  @if (isCatalogPanelOpen) {
    <categories-panel/>
  }
</div>
