@if (loading) {
  <spinner-loader/>
}

@if (!loading && branches?.length) {
  <ul class="company-profile-branches-list">
    @for (branch of branches; track branch) {
      <li class="company-profile-branches-item">
        <h3 class="company-branch-name">{{ branch?.name }}</h3>

        <div class="company-branch-details">
          <div class="company-branch-details-item">
            <div class="company-branch-details-label">{{ 'working.time'| translate }}:</div>
            <div class="company-branch-details-value">
              {{ weekdays[+branch.working_day_start].name| translate }} - {{ weekdays[+branch.working_day_end].name| translate }},
              {{ branch.working_time_start }} - {{ branch.working_time_end }}
            </div>
          </div>
          <div class="company-branch-details-item">
            <div class="company-branch-details-label">{{ 'delivery'| translate }}:</div>
            <div class="company-branch-details-value">
              {{ (branch?.delivery ? 'available' : 'no')| translate| lowercase }}
            </div>
          </div>
          <div class="company-branch-details-item">
            <div class="company-branch-details-label">{{ 'phone.number'| translate }}:</div>
            <div class="company-branch-details-value">{{ branch?.main_phone_number| phoneNumber }}</div>
          </div>
          <div class="company-branch-details-item">
            <div class="company-branch-details-label">{{ 'address'| translate }}:</div>
            <div class="company-branch-details-value">{{ branch?.address }}</div>
          </div>
        </div>
      </li>
    }
  </ul>
}

@if (!loading && !branches?.length) {
  <profile-empty-list/>
}
