<ul class="company-profile-branches-list">
  @for (i of [1, 2, 3]; track i) {
    <li class="company-profile-branches-item">
      <h3 class="company-branch-name">Чиланзарский филиал</h3>

      <div class="company-branch-details">
        <div class="company-branch-details-item">
          <div class="company-branch-details-label">Рабочее время:</div>
          <div class="company-branch-details-value">Пон. - Пят. 09:00 - 18:00</div>
        </div>
        <div class="company-branch-details-item">
          <div class="company-branch-details-label">Доставка:</div>
          <div class="company-branch-details-value">есть</div>
        </div>
        <div class="company-branch-details-item">
          <div class="company-branch-details-label">Номер телефона:</div>
          <div class="company-branch-details-value">+998 33 695 95 50</div>
        </div>
        <div class="company-branch-details-item">
          <div class="company-branch-details-label">Адрес:</div>
          <div class="company-branch-details-value">улица Ислама Каримова, 51</div>
        </div>
      </div>
    </li>
  }
</ul>
