@import "variables";
@import "mixins";

.company-profile-branches-list {
  @include grid(1fr 1fr, 1rem);
  padding-top: 1.5rem;
}

.company-profile-branches-item {
  padding: 1rem;
  border: 1px solid $border-grey-color;
  border-radius: 0.5rem;
}

.company-branch-name {
  font-size: 1rem;
  font-weight: 500;
  color: $dialog-title-black;
}

.company-branch-details {
  @include grid(1fr 1fr, 0.75rem 1.5rem);
  padding-top: 1rem;
}

.company-branch-details-item {
  @include flex-center(0.25rem);
  flex-wrap: nowrap;
  font-size: 0.875rem;
}

.company-branch-details-label {
  white-space: nowrap;
  color: $secondary-text-color;
}

.company-branch-details-value {
  font-weight: 500;
  color: $dialog-title-black;
  @include line-clamp(1)
}

@include media(1080px) {
  .company-profile-branches-list {
    padding-top: 0.75rem;
    grid-gap: 0.75rem;
  }

  .company-profile-branches-item {
    padding: 0.75rem;
  }
}

@include media(780px) {
  .company-profile-branches-list {
    @include grid(1fr, 0.5rem);
  }
}

@include media(620px) {
  .company-branch-details {
    @include grid(1fr, 0.5rem);
  }
}
