<div class="product-horizontal-card">
  <div class="product-horizontal-card-body">
    <div class="product-horizontal-card-images">
      <div class="product-horizontal-card-gallery">
        <img [ngSrc]="product.images[activeIndex]" [fill]="true" [alt]="product.title">

        <div class="product-card-dots">
          @for (item of product.images; track item; let i = $index) {
            <div
              class="product-card-dot"
              [class.active]="activeIndex === i"
            ></div>
          }
        </div>

        <div class="product-card-hover-blocks">
          @for (item of product.images; track item; let i = $index) {
            <div
              class="product-card-hover-block"
              (mouseenter)="activeIndex = i"
            ></div>
          }
        </div>
      </div>

      @if (product.is_advertised) {
        <div class="product-top-indicator">
          {{ 'top'| translate }}
        </div>
      }


      <div class="product-horizontal-card-percent">
        @if (product.discount_amount_is_percent) {
          {{ product.discount_amount| number }}
        } @else {
          {{ (+product.discount_amount / +product.price * 100)| number: '1.0-0' }}
        }%
      </div>
    </div>

    <div class="product-horizontal-card-right">
      <div class="product-horizontal-card-main">
        <div class="product-horizontal-card-main-info">
          <h3 class="product-horizontal-card-title">{{ product.title }}</h3>

          <div class="product-horizontal-card-price">
            <del class="product-horizontal-card-price-old">{{ product.price }}</del>
            <strong class="product-horizontal-card-price-new">
              @if (product.discount_amount_is_percent) {
                {{ (+product.price * (100 - +product.discount_amount) / 100)| number }}
              } @else {
                {{ (+product.price - +product.discount_amount)| number }}
              } {{ (1 === 1 ? 'sum': 'dollar')| translate }}
            </strong>
          </div>

<!--          <div class="product-horizontal-card-brand">-->
<!--            <div class="product-horizontal-card-brand-logo">-->
<!--              <img [ngSrc]="product.s.logo" [fill]="true" [alt]="product.store.name">-->
<!--            </div>-->

<!--            <div class="product-horizontal-card-brand-name">{{ product.store.name }}</div>-->
<!--          </div>-->

          <div class="product-horizontal-card-breadcrumb">
            @for (category of product.categories; track category) {
              <div class="product-horizontal-card-breadcrumb-item">{{ category.name }}</div>
            }
          </div>

<!--          <div class="product-horizontal-card-address">-->
<!--            <mat-icon [svgIcon]="'icon:location'"/>-->

<!--            <span>{{ product.store.full_address.address }}</span>-->
<!--          </div>-->
        </div>

        <div class="product-horizontal-card-main-actions">
          <icon-button
            [buttonType]="'blue'"
            [icon]="'icon:pencil'"
          />

          <icon-button
            (click)="confirmationDelete()"
            [buttonType]="'red'"
            [icon]="'icon:trash'"
          />
        </div>
      </div>

      <div class="product-horizontal-card-secondary">
        <div class="product-horizontal-card-secondary-left">
          <div class="product-horizontal-card-secondary-item">
            <button class="product-horizontal-card-secondary-btn">
              <mat-icon [svgIcon]="'icon:like'"></mat-icon>
              <span>{{ product.likes }}</span>
            </button>

            <div class="product-horizontal-card-secondary-divider"></div>

            <button class="product-horizontal-card-secondary-btn">
              <mat-icon [svgIcon]="'icon:dislike'"></mat-icon>
              <span>{{ product.dislikes }}</span>
            </button>
          </div>

          <div class="product-horizontal-card-secondary-item">
            <mat-icon [svgIcon]="'icon:eye'"></mat-icon>
            <span>{{ product.views }}</span>
          </div>

          <div class="product-horizontal-card-secondary-item">
            {{ product.start_date| date: 'dd.MM.YYYY' }} -  {{ product.end_date| date: 'dd.MM.YYYY' }}
          </div>
        </div>

        @if (product.images[activeIndex].includes('1')) {
          <div class="product-horizontal-card-status success">
            <mat-icon [svgIcon]="'icon:success'"/>
            <span>Актив</span>
          </div>
        } @else {
          <ui-button
            [text]="'Активация рекламы'"
            (click)="openModal()"
          />
        }

      </div>
    </div>
  </div>

  <div class="product-horizontal-card-footer">
    <div class="product-horizontal-card-footer-item">
      <div class="product-horizontal-card-footer-label">ID:</div>
      <div class="product-horizontal-card-footer-value">{{ product._id }}</div>
    </div>
    <div class="product-horizontal-card-footer-item">
      <div class="product-horizontal-card-footer-label">{{ 'created.date'| translate }}:</div>
      <div class="product-horizontal-card-footer-value">{{ product.created_at| date: 'dd.MM.YYYY' }}</div>
    </div>
    <div class="product-horizontal-card-footer-item">
      <div class="product-horizontal-card-footer-label">{{ 'start.and.end.date'| translate }}:</div>
      <div class="product-horizontal-card-footer-value">{{ product.start_date| date: 'dd.MM.YYYY' }} -  {{ product.end_date| date: 'dd.MM.YYYY' }}</div>
    </div>
    <div class="product-horizontal-card-footer-item">
      <div class="product-horizontal-card-footer-label">{{ 'category'| translate }}:</div>
      <div class="product-horizontal-card-footer-value">{{ product.categories[0].name }}</div>
    </div>
  </div>
</div>
