@import "variables";
@import "mixins";

.product-horizontal-card {
  padding: 1rem 0;
  border-bottom: 1px solid $border-grey-color;
}

.product-horizontal-card-body {
  @include grid(1fr 3fr, 1rem)
}

.product-horizontal-card-images {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.product-horizontal-card-gallery {
  position: relative;
  aspect-ratio: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product-horizontal-card-dots {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  @include flex-center(0.25rem);
  height: 0.875rem;
  padding: 0.25rem;
  border-radius: calc(0.875rem / 2);
  background-color: rgba(178, 183, 208, 0.32);
  backdrop-filter: blur(12px);
}

.product-horizontal-card-dot {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: $white-color;

  &.active {
    background-color: $primary-red-color;
  }
}

.product-card-hover-blocks {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.product-card-hover-block {
  flex-grow: 1;
}

.product-top-indicator {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1;
  padding: 0.3rem 0.5rem;
  border-radius: 0.25rem;
  background-color: $primary-red-color;
  color: $white-color;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.product-horizontal-card-percent {
  position: absolute;
  bottom: 0.5rem;
  z-index: 1;
  right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: $primary-red-color;
  text-align: center;
  line-height: 2.5rem;
  font-size: 0.75rem;
  color: $white-color;
}

.product-horizontal-card-right {
  @include flex-column;
  justify-content: space-between;
}

.product-horizontal-card-main {
  @include flex-start(1.5rem);
}

.product-horizontal-card-main-info {
  flex-grow: 1;
}

.product-horizontal-card-main-actions {
  @include flex-column(0.5rem)
}

.product-horizontal-card-brand {
  @include flex-center(0.5rem);
  padding-top: 0.75rem;
}

.product-horizontal-card-brand-logo {
  position: relative;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: $input-background;
}

.product-horizontal-card-brand-name {
  color: $secondary-black-color;
  font-size: 0.875rem;
}

.product-horizontal-card-breadcrumb {
  @include flex-center(1.5rem);
  padding-top: 0.75rem;
  color: $secondary-black-color;
}

.product-horizontal-card-breadcrumb-item {
  position: relative;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    top: calc(50% - 0.125rem);
    right: -0.875rem;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: $secondary-black-color;
  }
}

.product-horizontal-card-address {
  @include flex-center(.25rem);
  padding-top: 0.75rem;
  color: $secondary-black-color;

  .mat-icon {
    width: 1rem;
  }
}

.product-horizontal-card-view {
  @include flex-center(0.25rem);
  color: $secondary-black-color;

  span {
    font-size: 0.875rem;
  }

  .mat-icon {
    width: 1.2rem;
  }
}

.product-horizontal-card-title {
  padding-top: 0.5rem;
  color: $dialog-title-black;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  @include line-clamp(2);
}

.product-horizontal-card-price {
  padding-top: 0.75rem;
}

.product-horizontal-card-price-old {
  display: block;
  font-size: 0.875rem;
  color: $secondary-black-color;
}

.product-horizontal-card-price-new {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: $primary-red-color;
}

.product-horizontal-card-secondary {
  @include flex-end-between();
}

.product-horizontal-card-secondary-left {
  @include flex-center(0.5rem);
}

.product-horizontal-card-secondary-item {
  @include flex-center(0.25rem);
  height: 1.75rem;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  background-color: $input-background;
  color: $secondary-black-color;

  .mat-icon {
    width: 1.125rem;
  }
}

.product-horizontal-card-secondary-btn {
  @include flex-center(0.25rem);
  padding: 0;
  color: $secondary-black-color;
}

.product-horizontal-card-secondary-divider {
  width: 0.5px;
  margin: 0 0.25rem;
  height: 100%;
  background-color: $secondary-black-color;
}

.product-horizontal-card-status {
  @include flex-center(0.5rem);
  height: 2.75rem;
  border-radius: 0.5rem;
  padding: 0 1rem;

  &.success {
    border: 1px solid $success-green;
    background-color: rgba($success-green, .1);
    color: $success-green;
  }
}

.product-horizontal-card-footer {
  @include flex-center(3.5rem);
  padding-top: 1.25rem;
}

.product-horizontal-card-footer-item {
  @include flex-center(.25rem);
}

.product-horizontal-card-footer-label {
  color: $secondary-text-color;
}

.product-horizontal-card-footer-value {
  font-weight: 500;
  color: $dialog-title-black;
}

@include media(1080px) {
  .product-horizontal-card-footer {
    @include flex-center(1rem);
    padding-top: 1rem;
  }
}

@include media(620px) {
  .product-horizontal-card-body {
    @include flex-center(1rem);
    padding-top: 1rem;
  }
}
