<nav class="header-bottom-nav">
  <div class="container">
    <ul class="header-bottom-ul">
      <li class="header-bottom-li">
        <a class="header-bottom-link" [routerLink]="['/category']">Категории</a>
      </li>
      <li class="header-bottom-li">
        <a class="header-bottom-link" [routerLink]="['/category']">Лучшие объявления</a>
      </li>
      <li class="header-bottom-li">
        <a class="header-bottom-link" [routerLink]="['/category']">Объявления о начале скидки</a>
      </li>
      <li class="header-bottom-li">
        <a class="header-bottom-link active" [routerLink]="['/category']">Для тебя</a>
      </li>
      <li class="header-bottom-li">
        <a class="header-bottom-link" [routerLink]="['/category']">Скидки рядом</a>
      </li>
      <li class="header-bottom-li">
        <a class="header-bottom-link" [routerLink]="['/category']">Последние просмотренные объявления</a>
      </li>
      <li class="header-bottom-li">
        <a class="header-bottom-link" [routerLink]="['/category']">Остановленные объявления</a>
      </li>
    </ul>
  </div>
</nav>
