@import "variables";
@import "mixins";

.header-bottom-ul {
  @include flex-center-between;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.header-bottom-link {
  color: $secondary-black-color;
  font-size: 0.875rem;

  &.active {
    color: $primary-blue-color;
  }
}
