<main>
  <intro-banner/>
  <categories-carousel/>

  <products-section
    [heading]="'Лучшие объявления'"
    [url]="'some-url'"
  />

  <products-section
    [heading]="'Объявления о начале скидки'"
    [url]="'some-url'"
  />

  <products-section
    [heading]="'Для тебя'"
    [url]="'some-url'"
  />

  <banner />

  <products-section
    [heading]="'Скидки рядом'"
    [url]="'some-url'"
  />

  <products-section
    [heading]="'Последние просмотренные объявления'"
    [url]="'some-url'"
  />

  <partners/>

  <products-section
    [heading]="'Остановленные объявления'"
    [url]="'some-url'"
  />

  <download-app />
</main>
