@import "variables";
@import "mixins";

.footer {
  margin-top: 1.5rem;
  padding: 1.5rem 0;
  background-color: $background-grey-color;
  color: $secondary-black-color;
  font-size: 0.875rem;
}

.footer-grid {
  @include grid(repeat(3, 1fr), 2rem)
}

.footer-desc {
  padding-top: 1.5rem;
}

.footer-logo {
  display: block;
  text-align: center;
  width: 200px;
  aspect-ratio: 606/140;
}

.footer-col-heading {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: $dialog-title-black;
}

.footer-info {
  @include flex-center(0.5rem);
  margin-bottom: 0.75rem;
}

.footer-info-value {
  color: $green-color;
}

.footer-socials {
  padding-top: 1rem;

  .footer-col-heading {
    margin-bottom: 0.5rem;
  }
}

.footer-socials-item {
  width: 2rem;
  aspect-ratio: 1;
  flex-shrink: 0;
  @include flex-center-center;
  border: 1px solid $border-grey-color;
  border-radius: 50%;

  .mat-icon {
    width: 1rem;
  }

  &.facebook .mat-icon {
    height: 1rem;
  }
}

.footer-socials-list {
  @include flex-center(0.5rem)
}

.footer-app-links {
  @include grid(repeat(3, 1fr), 0.5rem)
}

.footer-app-link {
  @include flex-center-center;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: $dialog-title-black;

  img-wrapper {
    width: 50%;
  }

  &.app-store img-wrapper {
    width: 45%;
  }
}

@include media(1080px) {
  .footer {
    margin-top: 1rem;
    padding: 1rem 0;
  }

  .footer-grid {
    @include grid(repeat(2, 1fr), 2rem);
  }

  .footer-col.contact {
    order: 1
  }

  .footer-col-heading {
    margin-bottom: 1rem;
  }

  .footer-app-links {
    @include grid(repeat(2, 1fr), 0.5rem);
  }
}

@include media(780px) {
  .footer-grid {
    @include grid(repeat(1, 1fr), 2rem);
  }

  .footer-app-links {
    @include grid(repeat(3, 1fr), 0.5rem);
  }

  .footer-desc {
    text-align: center;
  }
}

@include media(480px) {
  .footer-app-links {
    @include grid(repeat(2, 1fr), 0.5rem);
  }
}
