@import 'variables';
@import 'general';

.header-top {
   background-color: $background-grey-color;
}

.header-top-inner {
   @extend .flex-center;
   justify-content: space-between;
   padding: 0.25rem 0;
}

.header-top-right {
   @extend .flex-center;
}

.header-top-links {
   margin-right: 1.5rem;
}
