<div class="header-top">
    <div class="container">
        <div class="header-top__inner">
            <div class="header-top__inner-location location">
                <mat-icon class="location__icon" svgIcon="icon:location"></mat-icon>
                <span class="location__text">Ташкент</span>
                <mat-icon class="location__arrow" svgIcon="icon:arrow-down"></mat-icon>
            </div>

            <div class="header-top__inner-link links">
                <a class="links__item" href="#">Вопрос-ответ</a>
                <a class="links__item" href="#">Мои заказы</a>
            </div>
        </div>
    </div>
</div>
