<div class="product-details-tabs">
  <div class="product-details-tabs-header">
    @for (tab of tabs; track tab) {
      <div
        class="product-details-tabs-label"
        [class.active]="selectedTab === tab.id"
        (click)="changeTab(tab.id)"
      >
        {{ tab.title| translate }}
        @if (tab.id === 'comments' && comments.length) {
          <span>( {{ comments.length| number }} )</span>
        }
      </div>
    }
  </div>

  <div class="product-details-tabs-body">
    <div class="product-details-tabs-inner" scrollbar>
      @switch (selectedTab) {
        @case ('about') {
          <ng-container
            *ngTemplateOutlet="productDetailsTabsAbout"
          />
        }
        @case ('comments') {
          <ng-container
            *ngTemplateOutlet="productDetailsTabsComments"
          />
        }
      }
    </div>
  </div>
</div>

<ng-template #productDetailsTabsAbout>

  <div class="product-details-tabs-about">
    {{ details.desc }}
  </div>
</ng-template>

<ng-template #productDetailsTabsComments>
  @if (loading) {
    <spinner-loader/>
  }

  @if (showCommentForm && currentUser) {
    <form
      class="product-details-tabs-comment-form" [formGroup]="commentForm" (ngSubmit)="leaveComment()">
      <textarea
        class="product-details-tabs-comment-input"
        type="text"
        [placeholder]="'enter.your.comment'| translate"
        trim
        maxlength="160"
        [formControlName]="'text'"
      ></textarea>

      <div class="product-details-tabs-comment-submit">
        <div>{{ commentForm.get('text').value.length }} / 160</div>
        <button
          class="product-details-tabs-comment-form-button save"
          type="submit"
        >{{ 'save'| translate }}
        </button>
      </div>
    </form>
  }

  @if (this.comments?.length && !loading) {
    <ul class="product-details-tabs-comments">
      @for (comment of comments; track comment) {
        <li class="product-details-tabs-comment">
          <div class="product-details-tabs-comment-owner-img">
            {{ comment.user_fullname.charAt(0) }}
          </div>

          <div class="product-details-tabs-comment-body">
            <div class="product-details-tabs-comment-owner-name">
              <div>{{ comment.user_fullname }}</div>
              <time>{{ comment.created_at| date: 'dd.MM.YYYY HH:mm' }}</time>
            </div>

            <p class="product-details-tabs-comment-text">
              {{ comment.text }}
            </p>
          </div>

          <button
            class="product-details-tabs-comment-dots"
            mat-ripple
            #commentActionButton
            (click)="overlayPanel.openPanel()"
          >
            <mat-icon [svgIcon]="'icon:dots'"></mat-icon>
          </button>

          <overlay-panel [originElement]="commentActionButton" #overlayPanel>
            <div
              overlay-content
              class="product-details-tabs-comment-actions"
            >
              <div class="product-details-tabs-comment-actions-item" mat-ripple>
                <div class="product-details-tabs-comment-actions-item-inner complaining">
                  <mat-icon [svgIcon]="'icon:flag'"/>

                  <span>{{ 'complaining'| translate }}</span>
                </div>
              </div>

              @if (comment.user === currentUser?.pk) {
                <div
                  class="product-details-tabs-comment-actions-item"
                  mat-ripple
                  (click)="deleteComment(comment.pk, overlayPanel)"
                >
                  <div class="product-details-tabs-comment-actions-item-inner delete">
                    <mat-icon [svgIcon]="'icon:trash'"/>

                    <span>{{ 'delete'| translate }}</span>
                  </div>
                </div>
              }
            </div>
          </overlay-panel>
        </li>
      }
    </ul>
  }

  @if (!this.comments?.length && !loading && !showCommentForm) {
    <div class="product-details-tabs-no-comments">
      <img class="product-details-tabs-no-comments-icon" [ngSrc]="'/assets/empty-list-icons/message.svg'" [width]="113"
           [height]="104" [alt]="''">
      <p class="product-details-tabs-no-comments-text">{{ 'there.are.no.comments'| translate }}</p>

      <ui-button
        (click)="openCommentForm()"
        [type]="'red'"
        [text]="'leave.comment'"
      />
    </div>
  }
</ng-template>
