<div class="product-details-tabs">
  <div class="product-details-tabs-header">
    @for (tab of tabs; track tab) {
      <div
        class="product-details-tabs-label"
        [class.active]="selectedTab === tab.id"
        (click)="changeTab(tab.id)"
      >
        {{ tab.title| translate }}
        @if (tab.id === 'comments') {
          <span>25</span>
        }
      </div>
    }
  </div>

  <div class="product-details-tabs-body">
    <div class="product-details-tabs-inner" scrollbar>
      @switch (selectedTab) {
        @case ('about') {
          <ng-container
            *ngTemplateOutlet="productDetailsTabsAbout"
          />
        }
        @case ('characteristics') {
          <ng-container
            *ngTemplateOutlet="productDetailsTabsCharacteristics"
          />
        }
        @case ('comments') {
          <ng-container
            *ngTemplateOutlet="productDetailsTabsComments"
          />
        }
      }
    </div>
  </div>
</div>

<ng-template #productDetailsTabsAbout>

  <div class="product-details-tabs-about">
    {{ details.desc }}
  </div>
</ng-template>

<ng-template #productDetailsTabsCharacteristics>
  <ul class="product-details-tabs-characteristics">
    @for (character of characteristics; track character) {
      <li class="product-details-tabs-characteristics-item">
        <div class="product-details-tabs-characteristics-name">{{ character.name }}</div>
        <div class="product-details-tabs-characteristics-dashes"></div>
        <div class="product-details-tabs-characteristics-value">{{ character.value }}</div>
      </li>
    }
  </ul>
</ng-template>

<ng-template #productDetailsTabsComments>
  @if (loading) {
    <spinner-loader/>
  }

  @if (this.comments.length && !loading) {
    <ul class="product-details-tabs-comments">
      @for (comment of comments; track comment) {
        <li class="product-details-tabs-comment">
          <div class="product-details-tabs-comment-header">
            <div class="product-details-tabs-comment-owner-time">
              <div class="product-details-tabs-comment-owner-img">
                {{ comment.user_fullname.charAt(0) }}
              </div>

              <div class="product-details-tabs-comment-owner-name">
                <div>{{ comment.user_fullname }}</div>
                <time>{{ comment.created_at| date: 'dd.MM.YYYY HH:mm' }}</time>
              </div>
            </div>

            <button class="product-details-tabs-comment-dots" mat-ripple>
              <mat-icon [svgIcon]="'icon:dots'"></mat-icon>
            </button>
          </div>

          <div class="product-details-tabs-comment-body">
            <p class="product-details-tabs-comment-text">
              {{ comment.text }}
            </p>

            <div class="product-details-tabs-comment-reply">
              <!--<button class="product-details-tabs-comment-reply-button">Ответить</button>-->
            </div>
          </div>
        </li>
      }

      @if (!showCommentForm) {
        <div class="product-details-tabs-leave-comment-btn">
          <button
            (click)="showCommentForm = true"
            class="product-details-tabs-leave-comment">
            {{ 'leave.comment'| translate }}
          </button>
        </div>
      }
    </ul>
  }

  @if (!this.comments.length && !loading && !showCommentForm) {
    <div class="product-details-tabs-no-comments">
      <img class="product-details-tabs-no-comments-icon" [ngSrc]="'/assets/empty-list-icons/message.svg'" [width]="113"
           [height]="104" [alt]="''">
      <p class="product-details-tabs-no-comments-text">{{ 'there.are.no.comments'| translate }}</p>
      <button
        (click)="showCommentForm = true"
        class="product-details-tabs-leave-comment">
        {{ 'leave.comment'| translate }}
      </button>
    </div>
  }

  @if (showCommentForm) {
    <form
      class="product-details-tabs-comment-form" [formGroup]="commentForm" (ngSubmit)="leaveComment()">
      <input
        class="product-details-tabs-comment-input"
        type="text"
        [placeholder]="'enter.your.comment'| translate"
        trim
        maxlength="255"
        [formControlName]="'text'"
      >

      <div class="product-details-tabs-comment-samples">
        @for (commonComment of commonComments; track commonComment) {
          <button
            (click)="setCommonComment(commonComment[currentLang])"
            class="product-details-tabs-comment-sample" type="button">
            {{ commonComment[currentLang] }}
          </button>
        }
      </div>

      <div class="product-details-tabs-comment-form-actions">
        <button
          class="product-details-tabs-comment-form-button cancel"
          type="button"
          (click)="showCommentForm = false"
        >{{ 'cancel'| translate }}
        </button>
        <button
          class="product-details-tabs-comment-form-button save"
          type="submit"
        >{{ 'save'| translate }}
        </button>
      </div>
    </form>
  }
</ng-template>
