<form class="register">
  <h2 class="register-heading">Разместить объявление</h2>

  <fieldset class="register-fieldset">
    <p class="register-info">
      Заполните свою личную и юридическую информацию и нажмите кнопку «Сохранить», чтобы получить доступ к личному
      кабинету продавца Aksiyamix. Дополнительную информацию см. <a href="#">в инструкциях</a>.
    </p>
  </fieldset>

  <fieldset class="register-fieldset">
    <div class="register-main-fields">
      <label class="form-label">
        <span class="form-label-text">Фамилия</span>
        <input class="form-input" type="text" placeholder="Введите фамилия">
      </label>

      <label class="form-label">
        <span class="form-label-text">Имя</span>
        <input class="form-input" type="text" placeholder="Введите Имя">
      </label>

      <label class="form-label">
        <span class="form-label-text">Отчество</span>
        <input class="form-input" type="text" placeholder="Введите отчество">
      </label>

      <label class="form-label">
        <span class="form-label-text">Номер телефона</span>
        <input class="form-input" type="text" placeholder="Введите номер телефона">
      </label>

      <label class="form-label">
        <span class="form-label-text">Электрон почта</span>
        <input class="form-input" type="text" placeholder="Введите электронную почту">
      </label>
    </div>
  </fieldset>

  <fieldset class="register-fieldset">
    <div class="register-legend">Форма регистрации</div>

    <div class="register-company-info">
      <div class="register-company-info-top">
        <div class="register-company-info-fields">
          <label class="form-label">
            <span class="form-label-text">Название фирма</span>
            <input class="form-input" type="text" placeholder="Введите название">
          </label>

          <label class="form-label">
            <span class="form-label-text">Короткое название</span>
            <input class="form-input" type="text" placeholder="Введите короткое название">
          </label>

          <label class="form-label">
            <span class="form-label-text">Рабочее время</span>
            <div class="register-work-times">
              <mat-select class="register-work-times-select solid-select" [value]="1" [hideSingleSelectionIndicator]="true">
                <mat-option [value]="1">Пн</mat-option>
                <mat-option [value]="2">Вт</mat-option>
                <mat-option [value]="3">Ср</mat-option>
                <mat-option [value]="4">Чт</mat-option>
                <mat-option [value]="5">Пт</mat-option>
                <mat-option [value]="6">Сб</mat-option>
                <mat-option [value]="7">Вс</mat-option>
              </mat-select>
              <input class="register-work-times-input form-input" type="text" placeholder="00:00" [mask]="'Hh:m0'">
              <mat-select class="solid-select" [value]="1" [hideSingleSelectionIndicator]="true">
                <mat-option [value]="1">Пн</mat-option>
                <mat-option [value]="2">Вт</mat-option>
                <mat-option [value]="3">Ср</mat-option>
                <mat-option [value]="4">Чт</mat-option>
                <mat-option [value]="5">Пт</mat-option>
                <mat-option [value]="6">Сб</mat-option>
                <mat-option [value]="7">Вс</mat-option>
              </mat-select>
              <input class="register-work-times-input form-input" type="text" placeholder="00:00" [mask]="'Hh:m0'">
            </div>
          </label>

          <label class="form-label">
            <span class="form-label-text">Выберите категория</span>

            <mat-select class="solid-select" [value]="1" [hideSingleSelectionIndicator]="true">
              <mat-option [value]="1">Лучшие объявления</mat-option>
              <mat-option [value]="2">Объявления о начале скидки</mat-option>
              <mat-option [value]="3">Для тебя</mat-option>
              <mat-option [value]="4">Скидки рядом</mat-option>
              <mat-option [value]="5">Последние просмотренные объявления</mat-option>
              <mat-option [value]="6">Остановленные объявления</mat-option>
            </mat-select>
          </label>


          <label class="form-label">
            <span class="form-label-text">Доставка</span>

            <mat-radio-group class="register-delivery-type">
              <mat-radio-button
                class="form-radio"
                [color]="'primary'">Да</mat-radio-button>
              <mat-radio-button
                class="form-radio"
                [color]="'primary'"
              >Нет</mat-radio-button>
            </mat-radio-group>
          </label>

          <label class="form-label">
            <span class="form-label-text">Номер телефона</span>
            <input class="form-input" type="text" placeholder="Введите номер телефона">
          </label>

          <label class="form-label">
            <span class="form-label-text">Введите слоган (UZ)</span>
            <input class="form-input" type="text" placeholder="Введите слоган">
          </label>

          <label class="form-label">
            <span class="form-label-text">Введите слоган (RU)</span>
            <input class="form-input" type="text" placeholder="Введите слоган">
          </label>
        </div>

        <div class="register-company-upload-logo" (click)="logoFileInput.click()">
          <div class="register-company-logo-preview">
            <p class="register-company-logo-requirements">До 5 МБ (512x512)</p>
          </div>
          <button class="register-company-logo-button" type="button">
            <span>Загрузить</span>

            <mat-icon [svgIcon]="'icon:camera'"/>
          </button>
          <input #logoFileInput class="register-company-logo-file-input" type="file">
        </div>
      </div>

      <div class="register-company-descriptions">
        <label class="form-label">
          <span class="form-label-text">Описание (UZ)</span>
          <textarea class="form-textarea" placeholder="Введите Описание"></textarea>
        </label>

        <label class="form-label">
          <span class="form-label-text">Описание (UZ)</span>
          <textarea class="form-textarea" placeholder="Введите Описание"></textarea>
        </label>
      </div>
    </div>
  </fieldset>

  <img style="width: 100%; margin-top: 1rem" src="/assets/banner/map.svg" alt="Map image">

  <div class="register-submit">
    <button class="register-submit-button">Сохранять</button>
  </div>
</form>
