<section class="banner">
  <div class="container">
    <div class="banner-wrapper">
      <div class="banner-carousel">
        <ng-container *ngTemplateOutlet="carousel"></ng-container>
      </div>
      <div class="banner-right banner-right-top">
        <img src="/assets/banner/top.jpg" alt="">
      </div>
      <div class="banner-right banner-right-bottom">
        <img src="/assets/banner/bottom.jpg" alt="">
      </div>
    </div>
  </div>
</section>


<ng-template #carousel>
  <owl-carousel-o [options]="customOptions">
    @for (imgUrl of carouselImages; track imgUrl) {
      <ng-template carouselSlide>
        <div class="banner-slide">
          <img [src]="imgUrl" [alt]="imgUrl" [height]="952">
        </div>
      </ng-template>
    }
  </owl-carousel-o>
</ng-template>


