@import "mixins";

.profile-empty-list {
  @include flex-column(1.5rem);
  padding: 4rem 0;
  align-items: center;
}

.profile-empty-list-icon {
  position: relative;
  width: 10rem;
  aspect-ratio: 1;
}

.profile-empty-list-text {
  font-size: 1rem;
  text-align: center;
}
