<div class="toaster">
  <div class="toaster-inner">
    <div [class]="'toaster-decoration ' + data.type"></div>

    <mat-icon class="toaster-icon" [svgIcon]="'icon:toaster-' + data.type"/>

    <div class="toaster-body">
      @if (data.title) {
        <div class="toaster-title">{{ data.title }}</div>
      }

      <p class="toaster-text">{{ data.message }}</p>
    </div>

    <icon-button
      class="toaster-close"
      [buttonType]="'icon-secondary'"
      [iconWidth]="0.75"
      (click)="dismissSnackbar()"
    />
  </div>

  <div
    [class]="'toaster-progress ' + data.type +
        (data.dismissible ? ' progress-' + data.duration / 1000 : '')
    "
  ></div>
</div>
