@import "mixins";

.section-header {
  @include flex-center(1rem);
  margin-bottom: 1rem;

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .mat-icon {
    width: 0.75rem;
  }

  &.clickable {
    cursor: pointer;
  }
}

@include media(1080px) {
  .section-header {
    margin-bottom: 0.5rem;

    h2 {
      font-size: 1.125rem;
    }
  }
}
