<div class="product-details-info-block">
  <div class="product-details-info-header">
    <div class="product-details-date-view">
      <div class="product-details-date-view-item">
        ID: {{ details.pk }}
      </div>

      <div class="product-details-date-view-item">
        <mat-icon [svgIcon]="'icon:calendar'"></mat-icon>

        <span>{{ details.end_date| date: 'dd.MM.YYYY' }}</span>
      </div>

      <div class="product-details-date-view-item views">
        <mat-icon [svgIcon]="'icon:eye'"></mat-icon>

        <span>{{ details.views }}</span>
      </div>
    </div>

    <button
      class="product-details-info-heart"
      mat-icon-button
      (click)="wishlist()"
    >
      @if (details.user_wishlist) {
        <mat-icon [svgIcon]="'icon:solid-heart'"></mat-icon>
      } @else {
        <mat-icon [svgIcon]="'icon:outlined-heart'"></mat-icon>
      }
    </button>
  </div>

  <h2 class="product-details-product-title">{{ details.title }}</h2>

  <div class="product-details-price-change">
    <div class="product-details-price-old">
      <del>{{ details.price| number }} {{ (details.currency === 1 ? 'sum': 'dollar')| translate }}</del>

      @if (details.discount_amount_is_percent) {
        <div class="product-details-price-discount">{{ details.discount_amount| number }}%</div>
      }
    </div>

    <strong class="product-details-price-new">
      @if (details.discount_amount_is_percent) {
        {{ (+details.price * (100 - +details.discount_amount) / 100)| number }}
      } @else {
        {{ (+details.price - +details.discount_amount)| number }}
      } {{ (details.currency === 1 ? 'sum': 'dollar')| translate }}
    </strong>
  </div>

  <div class="product-details-dates-like-report">
    <div class="product-details-dates">
      <div class="product-details-dates-title">{{ 'start.and.end.date'| translate }}:</div>

      <div class="product-details-dates-interval">
        <span>{{ details.start_date| date: 'dd.MM.YYYY' }}</span> - <strong>{{ details.end_date| date: 'dd.MM.YYYY' }}</strong>
      </div>
    </div>

    <div class="product-details-like-report">
      <div class="product-details-like-dislike">
        <button
          class="product-details-like-button"
          [class.active]="details.user_like"
          [disabled]="loading"
          (click)="like()">
          <mat-icon [svgIcon]="'icon:like'"></mat-icon>

          @if (+details.likes) {
            <span>{{ details.likes }}</span>
          }
        </button>

        <div class="product-details-like-dislike-divider"></div>

        <button
          class="product-details-dislike-button"
          [class.active]="details.user_dislike"
          [disabled]="loading"
          (click)="dislike()"
        >
          <mat-icon [svgIcon]="'icon:dislike'"></mat-icon>
        </button>
      </div>

      <button class="product-details-report-button">
        <span>{{ 'complaining'| translate }}</span>

        <mat-icon [svgIcon]="'icon:exclamation'"></mat-icon>
      </button>
    </div>
  </div>

  <div class="product-details-characteristics">
    <h3 class="product-details-characteristics-heading">{{ 'product.features'| translate }}</h3>
    <div class="product-details-characteristics-list" scrollbar>
      @for (feature of details.features; track feature) {
        <div class="product-details-characteristics-item">
          {{ feature.name }}:
          @for(item of feature.values; track item; let i = $last) {
            {{ item.value }}{{ feature.type ? ' ' + feature.type : '' }}{{ !i ? ',' : '' }}
          }
        </div>
      }
    </div>
  </div>
</div>
