<div class="product-details-info-block">
  <div class="product-details-info-header">
    <div class="product-details-date-view">
      <div class="product-details-date-view-item">
        ID: {{ details.pk }}
      </div>

      <div class="product-details-date-view-item">
        <mat-icon [svgIcon]="'icon:calendar'"></mat-icon>

        <span>{{ details.end_date| date: 'dd.MM.YYYY' }}</span>
      </div>

      <div class="product-details-date-view-item views">
        <mat-icon [svgIcon]="'icon:eye'"></mat-icon>

        <span>{{ details.views }}</span>
      </div>
    </div>

    <button class="product-details-info-heart" mat-icon-button>
      <mat-icon [svgIcon]="'icon:heart'"></mat-icon>
    </button>
  </div>

  <h2 class="product-details-product-title">{{ details.title }}</h2>

  <div class="product-details-price-change">
    <div class="product-details-price-old">
      <del class="">15 000 000 сум</del>

      <div class="product-details-price-discount">10%</div>
    </div>

    <strong class="product-details-price-new">13 499 000 сум</strong>
  </div>

  <div class="product-details-characteristics">
    <div class="product-details-characteristics-item">
      <div class="product-details-characteristics-label">Встроенная память (ROM)</div>
      <div class="product-details-characteristics-options">
        <div class="product-details-characteristics-option">64 ГБ</div>
        <div class="product-details-characteristics-option">128 ГБ</div>
        <div class="product-details-characteristics-option">256 ГБ</div>
        <div class="product-details-characteristics-option">512 ГБ</div>
        <div class="product-details-characteristics-option">1024 ГБ</div>
      </div>
    </div>

    <div class="product-details-characteristics-item">
      <div class="product-details-characteristics-label">Цвет товара: Черный</div>
      <div class="product-details-characteristics-options">
        <div class="product-details-characteristics-color"></div>
        <div class="product-details-characteristics-color"></div>
        <div class="product-details-characteristics-color"></div>
        <div class="product-details-characteristics-color"></div>
      </div>
    </div>

    <div class="product-details-characteristics-item">
      <div class="product-details-characteristics-label">Слот для SIM:</div>
      <div class="product-details-characteristics-options">
        <div class="product-details-characteristics-option">1 SIM</div>
        <div class="product-details-characteristics-option">2 SIM</div>
        <div class="product-details-characteristics-option">3 SIM</div>
        <div class="product-details-characteristics-option">4 SIM</div>
        <div class="product-details-characteristics-option">eSIM</div>
      </div>
    </div>
  </div>

  <div class="product-details-dates-like-report">
    <div class="product-details-dates">
      <div class="product-details-dates-title">{{ 'start.and.end.date'| translate }}</div>

      <div class="product-details-dates-interval">
        <span>{{ details.start_date| date: 'dd.MM.YYYY' }}</span> - <strong>{{ details.end_date| date: 'dd.MM.YYYY' }}</strong>
      </div>
    </div>

    <div class="product-details-like-report">
      <div class="product-details-like-dislike">
        <button
          #likeButton
          class="product-details-like-button"
          [class.active]="details.user_like"
          (click)="like()">
          <mat-icon [svgIcon]="'icon:like'"></mat-icon>

          @if (+details.likes) {
            <span>{{ details.likes }}</span>
          }
        </button>

        <div class="product-details-like-dislike-divider"></div>

        <button
          #dislikeButton
          class="product-details-dislike-button"
          [class.active]="details.user_dislike"
          (click)="dislike()"
        >
          <mat-icon [svgIcon]="'icon:dislike'"></mat-icon>
        </button>
      </div>

      <button class="product-details-report-button">
        <span>Жалоба</span>

        <mat-icon [svgIcon]="'icon:exclamation'"></mat-icon>
      </button>
    </div>
  </div>
</div>
