@import "variables";
@import "mixins";

.gradient-button {
   height: 48px;
   padding-left: 32px;
   padding-right: 32px;
   line-height: 48px;
   border-radius: 8px;
   background-image: linear-gradient(249deg, $gradient-red-first 3.2%, $gradient-red-second 44.56%, $gradient-orange-color 100%);
   font-family: "Inter", Arial, sans-serif;
   font-weight: 600;
   color: $white-color;
   cursor: pointer;
   transition: 0.05s outline-width ease;
}

.blue-button {
   height: 2.75rem;
   padding-left: 2rem;
   padding-right: 2rem;
   border-radius: 0.5rem;
   background-color: $primary-blue-color;
   font-family: "Inter", Arial, sans-serif;
   font-weight: 500;
   color: $white-color;
}

.gradient-button:hover {
   background: linear-gradient(249deg, $gradient-orange-color 3.2%, $gradient-red-first 44.56%, $gradient-red-second 100%);
}

.carousel-navigation-button {
  @include flex-center-center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba($logo-black-color, 0.4);
  border-radius: 50%;
  color: $white-color;

  .mat-icon {
    width: 0.6rem;
  }
}
