@import "variables";
@import "mixins";

/*
  HTML TAGS STYLES
*/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1;
  color: #000000;
}

label {
  font-family: "Inter", Arial, sans-serif;
}

input, textarea {
  font-family: "Inter", Arial, sans-serif;
  border: none;

  &:focus {
    outline: none;
  }
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}


/*
  OWN CSS CLASSES
*/

.container {
  max-width: 92rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.section {
  padding-top: 2rem;
}

.form-label {
  position: relative;
  display: block;
}

.form-label-text {
  display: block;
  margin-bottom: 0.35rem;
  font-size: 0.875rem;
  color: $dialog-label-text-black;
}

.form-input {
  display: block;
  width: 100%;
  height: 2.75rem;
  padding: 0 0.875rem;
  border-radius: 0.5rem;
  background-color: $input-background;
  border: 1px solid $input-background;
  font-size: 0.875rem;
  color: $dialog-title-black;

  &:focus {
    background-color: $white-color;
    border: 1px solid $border-grey-color;
  }

  &.invalid {
    border: 1px solid $primary-red-color;
    color: $primary-red-color;
  }
}

.form-textarea {
  display: block;
  width: 100%;
  height: 10rem;
  padding: 0.75rem 0.875rem;
  border-radius: 0.5rem;
  background-color: $input-background;
  border: 1px solid $input-background;
  font-size: 0.875rem;
  color: $dialog-title-black;
  resize: none;

  &:focus {
    background-color: $white-color;
    border: 1px solid $border-grey-color;
  }

  &.invalid {
    border: 1px solid $primary-red-color;
    color: $primary-red-color;
  }
}

.form-radio {
  .mdc-form-field {
    width: 100%;
    height: 2.75rem;
    padding: 0 0.25rem;
    border-radius: 0.5rem;
    background-color: $input-background;
    font-size: 0.875rem;
    color: $dialog-title-black;
  }

  .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:not(:checked) + .mdc-radio__background .mdc-radio__outer-circle {
    border-color: $border-grey-color;
  }

  .mdc-label {
    @include flex-center;
    flex-grow: 1;
    height: 100%;
    padding-left: 0;
    cursor: pointer;
  }

  .mdc-radio__outer-circle {
    border-width: 1px;
  }
}

.form-error {
  display: block;
  padding-top: 0.25rem;
  font-size: 0.75rem;
  color: $primary-red-color;
  @include line-clamp(1)
}

.carousel-navigation-button {
  @include flex-center-center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba($logo-black-color, 0.4);
  border-radius: 50%;
  color: $white-color;

  .mat-icon {
    width: 0.6rem;
  }
}

/*
  MAT-DIALOG
*/

.cdk-overlay-dark-backdrop {
  background: rgba(178, 183, 208, 0.30);
  backdrop-filter: blur(3px);
}

.mat-mdc-dialog-container {
  .mdc-dialog__surface {
    background-color: $white-color !important;
    border-radius: 0.5rem !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.10), 0 29px 65px 0 rgba(0, 0, 0, 0.10), 0 118px 118px 0 rgba(0, 0, 0, 0.09) !important;
  }

  .mdc-dialog__content {
    line-height: 1 !important;
  }
}

.mdc-dialog .mdc-dialog__content {
  padding: 0 !important;
}

/*
  MAT-SELECT
*/

.mat-mdc-option {
  font-family: "Inter", Arial, sans-serif !important;
  font-size: 0.875rem !important;

  &.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
    background-color: $background-grey-color !important;
  }

  &:focus.mdc-list-item {
    background-color: transparent !important;
  }

  &.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: $primary-text-color !important;
  }

  .mdc-list-item__primary-text {
    @include line-clamp(1);
  }
}

div.mat-mdc-select-panel {
  @include no-scrollbar;
  box-shadow: 0 0.25rem 1.5rem 0 rgba(51, 51, 51, 0.12) !important;
}

.mat-mdc-select-arrow-wrapper {
  width: 0.75rem;
  background-image: url("/assets/icons/arrow-down.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.mat-mdc-select-arrow {
  display: none;
}

.mat-mdc-select-trigger {
  height: 2.75rem;
  padding: 0 0.875rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: $dialog-title-black;
}

.solid-select {
  .mat-mdc-select-trigger {
    background-color: $input-background;
    border: 1px solid $input-background;
  }

  &[aria-expanded="true"] .mat-mdc-select-trigger {
    background-color: $white-color;
    border: 1px solid $border-grey-color;
  }

  &.invalid .mat-mdc-select-trigger {
    border: 1px solid $primary-red-color
  }
}

.outlined-select .mat-mdc-select-trigger {
  border: 1px solid $border-grey-color;
}

/*
  MAT-SPINNER
*/

.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: currentColor !important;
}

/*
  MAT-PSEUDO-CHECKBOX
*/
.mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-full.mat-pseudo-checkbox-indeterminate {
  background-color: $primary-blue-color !important;
  border-color: $primary-blue-color !important;
}
