@import "variables";

@mixin line-clamp($row-count) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: $row-count;
}

@mixin flex-center($gap: 0) {
  display: flex !important;
  align-items: center !important;
  gap: $gap !important;
  flex-wrap: wrap;
}

@mixin flex-start($gap: 0) {
  display: flex;
  align-items: start;
  gap: $gap;
}

@mixin flex-center-center($gap: 0) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center-end($gap: 0) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: $gap;
}

@mixin flex-end-between($gap: 0) {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: $gap;
}

@mixin flex-end($gap: 0) {
  display: flex;
  align-items: flex-end;
  gap: $gap;
}

@mixin flex-start-between($gap: 0) {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: $gap;
}

@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin grid($grid-template-columns, $grid-gap: 0) {
  display: grid;
  grid-template-columns: $grid-template-columns;
  grid-gap: $grid-gap;
  min-width: 0;
  min-height: 0;

  & > * {
    min-width: 0;
  }
}

@mixin custom-scrollbar {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $border-grey-color;
    border-radius: 2px;
  }
}

@mixin no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  * {
    scrollbar-width: none;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin gradient-button {
  height: 2.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(249deg, $gradient-red-first 3.2%, $gradient-red-second 44.56%, $gradient-orange-color 100%);
  font-family: "Inter", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: $white-color;

  &:hover {
    background: linear-gradient(249deg, $gradient-orange-color 3.2%, $gradient-red-first 44.56%, $gradient-red-second 100%);
  }
}

@mixin blue-button {
  height: 2.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.5rem;
  background-color: $primary-blue-color;
  font-family: "Inter", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: $white-color;
}
