$primary-brand-color: #FF034C;
$primary-text-color: #000000;
$secondary-text-color: #94A3B8;
$placeholder-grey-color: #CBD5E1;
$border-grey-color: #D9DBE8;
$gradient-red-first: #F50951;
$gradient-red-second: #FD3A7E;
$gradient-orange-color: #FF9B06;
$background-grey-color: #F8FAFC;
$white-color: #FFFFFF;
