$primary-red-color: #FF034C;
$primary-text-color: #000000;
$secondary-black-color: #475569;
$dialog-title-black: #0F172A;
$dialog-label-text-black: #1E293B;
$primary-blue-color: #0CA4FA;
$logo-black-color: #010101;
$secondary-text-color: #94A3B8;
$placeholder-grey-color: #CBD5E1;
$border-grey-color: #D9DBE8;
$gradient-red-first: #F50951;
$gradient-red-second: #FD3A7E;
$gradient-orange-color: #FF9B06;
$background-grey-color: #F8FAFC;
$white-color: #FFFFFF;
$input-background: #F1F5F9;
$background-heart-button: #B2B7D0;
$old-price-text-color: #3D3D3D;
$seller-description-color: #334155;
$dashed-border-color: #E2E8F0;
$green-color: #00BFAF;
$success-green: #06BB54;
$warning-color: #FFC900;
$scrollbar-bg: #E2E8F0;
$global-search-text: #64748B;
