@import "variables";
@import "general";

.header-bottom-ul {
  @extend .flex-center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.header-bottom-li {
  margin-right: 30px;
}

.header-bottom-link {
  color: $secondary-black-color;
  font-size: 0.875rem;
  font-weight: 500;

  &.active {
    color: $primary-blue-color;
  }
}