<nav class="header-bottom-nav">
   <div class="container">
      <ul class="header-bottom-ul">
         <li class="header-bottom-li">
            <a class="header-bottom-link" href="#">Категории</a>
         </li>
         <li class="header-bottom-li">
            <a class="header-bottom-link" href="#">Лучшие объявления</a>
         </li>
         <li class="header-bottom-li">
            <a class="header-bottom-link" href="#">Объявления о начале скидки</a>
         </li>
         <li class="header-bottom-li">
            <a class="header-bottom-link active" href="#">Для тебя</a>
         </li>
         <li class="header-bottom-li">
            <a class="header-bottom-link" href="#">Скидки рядом</a>
         </li>
         <li class="header-bottom-li">
            <a class="header-bottom-link" href="#">Последние просмотренные объявления</a>
         </li>
         <li class="header-bottom-li">
            <a class="header-bottom-link" href="#">Остановленные объявления</a>
         </li>
      </ul>
   </div>
</nav>