<button
  class="notifications-button"
  #notificationButton
  (click)="overlayPanel.openPanel()"
>
  <mat-icon class="notifications-icon" [svgIcon]="'icon:bell'"></mat-icon>
</button>
<overlay-panel [originElement]="notificationButton" #overlayPanel>
  <div
    overlay-content
    class="notifications-overlay"
  >
    @if (true) {
      <ng-container
        *ngTemplateOutlet="notificationsList"
      />
    }
    @if (false) {
      <div class="notifications-empty">
        <div class="notifications-empty-img">
          <img [ngSrc]="'/assets/icons/gradient-bell.svg'" [fill]="true" [alt]="'Gradient bell'">
        </div>

        <p class="notifications-empty-text">На данный момент отсутствуют уведомления.</p>
      </div>
    }
  </div>
</overlay-panel>

<ng-template #notificationsList>
  <ul class="notifications-list">
    @for (index of [ 1, 2, 3, 4, 5, 6, 7, 8 ]; track index) {
      <ng-container
        *ngTemplateOutlet="notificationsItem; context: { $implicit: index }"
      />
    }
  </ul>
</ng-template>

<ng-template #notificationsItem let-index>
  <li class="notifications-item" mat-ripple>
    <div class="notifications-item-inner">
      <div class="notifications-img">
        <img [ngSrc]="'https://picsum.photos/64/72?rand=' + index" [fill]="true" [alt]="">
      </div>

      <div class="notifications-info">
        <h3 class="notifications-title">Macbro объявляет о скидке 10% на продукцию iPhone 14 sit amet.</h3>

        <div class="notifications-brand">
          <div class="notifications-brand-logo">
            <img [ngSrc]="'/assets/logos/mac-bro.svg'" [fill]="true" [alt]="">
          </div>

          <div class="notifications-brand-name">Macbro</div>
        </div>
      </div>
    </div>
  </li>
</ng-template>
