<form class="register" [formGroup]="registerStoreForm" (ngSubmit)="registerStore()">
  <h2 class="register-heading">{{ 'store.registration'| translate }}</h2>

  <fieldset class="register-fieldset">
    <p class="register-info">{{ 'store.registration.description'| translate }}</p>
  </fieldset>

  <fieldset class="register-fieldset">
    <div class="register-legend">{{ 'store.owner.information'| translate }}</div>
    <div class="register-main-fields">
      <label class="form-label">
        <span class="form-label-text">{{ 'surname'| translate }} *</span>
        <input
          class="form-input"
          [class.invalid]="registerStoreForm.get('owner_lastname').invalid && registerStoreForm.get('owner_lastname').touched"
          type="text"
          [placeholder]="'enter.your.surname'| translate"
          [formControlName]="'owner_lastname'"
          [mask]="'XXXXXXXXXXXXXXXXXXXXXXXXX'"
          [patterns]="customPatterns"
          [validation]="false"
        >

        <ng-container
          *ngTemplateOutlet="requiredErrors; context: { $implicit: 'owner_lastname' }"
        />
      </label>

      <label class="form-label">
        <span class="form-label-text">{{ 'name'| translate }} *</span>
        <input
          class="form-input"
          [class.invalid]="registerStoreForm.get('owner_firstname').invalid && registerStoreForm.get('owner_firstname').touched"
          type="text"
          [placeholder]="'enter.your.name'| translate"
          [formControlName]="'owner_firstname'"
          [mask]="'XXXXXXXXXXXXXXXXXXXXXXXXX'"
          [patterns]="customPatterns"
          [validation]="false"
        >
        <ng-container
          *ngTemplateOutlet="requiredErrors; context: { $implicit: 'owner_firstname' }"
        />
      </label>

      <label class="form-label">
        <span class="form-label-text">{{ 'middlename'| translate }} *</span>
        <input
          class="form-input"
          [class.invalid]="registerStoreForm.get('owner_fathername').invalid && registerStoreForm.get('owner_fathername').touched"
          type="text"
          [placeholder]="'enter.your.middlename'| translate"
          [formControlName]="'owner_fathername'"
          [mask]="'XXXXXXXXXXXXXXXXXXXXXXXXX'"
          [patterns]="customPatterns"
          [validation]="false"
        >
        <ng-container
          *ngTemplateOutlet="requiredErrors; context: { $implicit: 'owner_fathername' }"
        />
      </label>

      <label class="form-label">
        <span class="form-label-text">{{ 'phone.number'| translate }} *</span>
        <input
          class="form-input"
          [class.invalid]="registerStoreForm.get('owner_phone_number').invalid && registerStoreForm.get('owner_phone_number').touched"
          type="text"
          [mask]="' 00 000 00 00'"
          [prefix]="'+998'"
          [formControlName]="'owner_phone_number'"
        >
        <ng-container
          *ngTemplateOutlet="requiredErrors; context: { $implicit: 'owner_phone_number' }"
        />
      </label>
    </div>
  </fieldset>

  <fieldset class="register-fieldset">
    <div class="register-legend">{{ 'store.information'| translate }}</div>

    <div class="register-company-info">
      <div class="register-company-info-top">
        <div class="register-company-info-fields">
          <label class="form-label">
            <span class="form-label-text">{{ 'store.name'| translate }} *</span>
            <input
              class="form-input"
              type="text"
              trim
              [maxlength]="255"
              [placeholder]="'enter.store.name'| translate"
              [class.invalid]="registerStoreForm.get('name_uz').invalid && registerStoreForm.get('name_uz').touched"
              [formControlName]="'name_uz'"
            >
            <ng-container
              *ngTemplateOutlet="requiredErrors; context: { $implicit: 'name_uz' }"
            />
          </label>

          <div class="register-company-shortname">
            <label class="form-label">
              <span class="form-label-text">{{ 'short.name.of.store'| translate }} *</span>
              <input
                class="form-input"
                [class.invalid]="(registerStoreForm.get('shortname').invalid && registerStoreForm.get('shortname').touched) || !registerStoreForm.get('is_shortname_free').value"
                type="text"
                [maxlength]="20"
                [placeholder]="'enter.short.name'| translate"
                [formControlName]="'shortname'"
                [mask]="'YYYYYYYYYYYYYYYYYYYY'"
                [patterns]="customPatterns"
                [validation]="false"
                (input)="checkShortname()"
              >
              @if (registerStoreForm.get('shortname').touched) {
                @if (registerStoreForm.get('shortname').hasError('required')) {
                  <span class="form-error">{{ 'required.field'| translate }}</span>
                }
                @if (!registerStoreForm.get('shortname').hasError('required') && registerStoreForm.get('shortname').invalid) {
                  <span
                    class="form-error"
                    [title]="'shortname.requirements'| translate"
                  >{{ 'shortname.requirements'| translate }}</span>
                }
              }
            </label>
            @if (!registerStoreForm.get('is_shortname_free').value) {
              <div class="register-company-shortname-error">
                <mat-icon
                  class="register-company-shortname-error-icon"
                  [svgIcon]="'icon:info'"
                  #shortNameErrorIcon
                  (click)="overlayPanel.openPanel()"
                />

                <overlay-panel [originElement]="shortNameErrorIcon._elementRef.nativeElement" #overlayPanel>
                  <div
                    class="register-company-shortname-error-panel"
                    overlay-content
                  >
                    <div class="register-company-shortname-error-info">
                      <mat-icon
                        [svgIcon]="'icon:info'"
                      />
                      <p>{{ 'name.is.reserved.you.can.report'| translate }}</p>
                    </div>
                    <div class="register-company-shortname-error-report">
                      <ui-button
                        [text]="'complaining'"
                        (click)="openShortnameComplainingModal()"
                      />
                    </div>

                  </div>
                </overlay-panel>
              </div>
            }
          </div>

          <div class="form-label">
            <span class="form-label-text">{{ 'working.time'| translate }}</span>
            <div class="register-work-times">
              <mat-select
                class="register-work-times-select solid-select"
                [hideSingleSelectionIndicator]="true"
                [formControlName]="'working_day_start'"
              >
                @for (weekday of weekdays; track weekday) {
                  <mat-option [value]="weekday.id">{{ weekday.name | translate }}</mat-option>
                }
              </mat-select>
              <input
                class="register-work-times-input form-input"
                [class.invalid]="registerStoreForm.get('working_time_start').invalid && registerStoreForm.get('working_time_start').touched"
                type="text"
                placeholder="00:00"
                [mask]="'Hh:m0'"
                [formControlName]="'working_time_start'"
              >
              <mat-select
                class="solid-select"
                [hideSingleSelectionIndicator]="true"
                [formControlName]="'working_day_end'"
              >
                @for (weekday of weekdays; track weekday) {
                  <mat-option [value]="weekday.id">{{ weekday.name | translate }}</mat-option>
                }
              </mat-select>
              <input
                class="register-work-times-input form-input"
                [class.invalid]="registerStoreForm.get('working_time_end').invalid && registerStoreForm.get('working_time_end').touched"
                type="text"
                placeholder="00:00"
                [mask]="'Hh:m0'"
                [formControlName]="'working_time_end'"
                [leadZero]="true"
              >
            </div>
          </div>

          <label class="form-label">
            <span class="form-label-text">{{ 'category'| translate }}</span>

            <mat-select
              class="solid-select"
              [formControlName]="'category'"
            >
              @for (category of categories; track category) {
                <mat-option [value]="category.id">{{ category| showByLang: activeLang }}</mat-option>
              }
            </mat-select>
          </label>

          <label class="form-label">
            <span class="form-label-text">{{ 'delivery'| translate }}</span>

            <mat-radio-group class="register-delivery-type" [formControlName]="'delivery'">
              <mat-radio-button
                class="form-radio"
                [color]="'primary'"
                [value]="true"
              >
                {{ 'yes'| translate }}
              </mat-radio-button>
              <mat-radio-button
                class="form-radio"
                [color]="'primary'"
                [value]="false"
              >{{ 'no'| translate }}
              </mat-radio-button>
            </mat-radio-group>
          </label>

          <label class="form-label">
            <span class="form-label-text">{{ 'phone.number'| translate }} *</span>
            <input
              class="form-input"
              [class.invalid]="registerStoreForm.get('main_phone_number').invalid && registerStoreForm.get('main_phone_number').touched"
              type="text"
              [mask]="' 00 000 00 00'"
              [prefix]="'+998'"
              [formControlName]="'main_phone_number'"
            >
            <ng-container
              *ngTemplateOutlet="requiredErrors; context: { $implicit: 'main_phone_number' }"
            />
          </label>

          <label class="form-label">
            <span class="form-label-text">{{ 'slogan'| translate }} (uz)</span>
            <input
              class="form-input"
              [class.invalid]="registerStoreForm.get('slogan_uz').hasError('maxlength')"
              type="text"
              trim
              [placeholder]="'enter.slogan'| translate"
              [maxlength]="255"
              [formControlName]="'slogan_uz'"
            >
            @if (registerStoreForm.get('slogan_uz').hasError('maxlength')) {
              <span class="form-error">{{ 'up.to.n.characters.can.be.entered'| translate: { maxlength: 255 } }}</span>
            }
          </label>

          <label class="form-label">
            <span class="form-label-text">{{ 'slogan'| translate }} (ru)</span>
            <input
              class="form-input"
              [class.invalid]="registerStoreForm.get('slogan_ru').hasError('maxlength')"
              type="text"
              trim
              [placeholder]="'enter.slogan'| translate"
              [maxlength]="255"
              [formControlName]="'slogan_ru'"
            >
            @if (registerStoreForm.get('slogan_ru').hasError('maxlength')) {
              <span class="form-error">{{ 'up.to.n.characters.can.be.entered'| translate: { maxlength: 255 } }}</span>
            }
          </label>
        </div>

        <div class="register-company-upload-logo" (click)="logoFileInput.click()">
          <div
            class="register-company-logo-preview"
            [class.invalid]="registerStoreForm.get('logo').hasError('required') && registerStoreForm.get('logo').touched"
          >
            @if (logoBuffer) {
              <img [src]="logoBuffer" [alt]="">
            } @else {
              <p class="register-company-logo-requirements" [innerHTML]="'store.logo.requirements'| translate"></p>
            }
          </div>

          @if (registerStoreForm.get('logo').hasError('required') && registerStoreForm.get('logo').touched) {
            <span class="form-error">{{ 'required.field'| translate }}</span>
          }

          <ui-button
            [type]="'gray-outline'"
            [text]="'upload'"
            [icon]="'icon:camera'"
          />

          <input
            class="register-company-logo-file-input"
            #logoFileInput
            type="file"
            (change)="onLogoSelected($event)"
            [accept]="'.jpg, .jpeg, .png, .svg'"
          >
        </div>
      </div>

      <div class="register-company-address">
        <div class="register-company-info-fields">
          <label class="my-information-label form-label">
            <span class="my-information-label-text form-label-text">{{ 'region'| translate }} *</span>

            <mat-select
              class="solid-select"
              [class.invalid]="registerStoreForm.get('region').invalid && registerStoreForm.get('region').touched"
              [formControlName]="'region'"
              [placeholder]="'region'| translate"
              (selectionChange)="onRegionSelected()"
            >
              @for (region of regions; track region) {
                <mat-option [value]="region.id">{{ region.name| translate }}</mat-option>
              }
            </mat-select>

            <ng-container
              *ngTemplateOutlet="requiredErrors; context: { $implicit: 'region' }"
            />
          </label>

          <label class="my-information-label form-label">
            <span class="my-information-label-text form-label-text">{{ 'district'| translate }} *</span>

            <mat-select
              class="solid-select"
              [class.invalid]="registerStoreForm.get('district').invalid && registerStoreForm.get('district').touched"
              [formControlName]="'district'"
              [placeholder]="'district'| translate"
              (click)="onClickDistrictsSelect()"
            >
              @for (district of districts; track district) {
                <mat-option [value]="district.pk">{{ district | showByLang: activeLang }}</mat-option>
              }
            </mat-select>

            <ng-container
              *ngTemplateOutlet="requiredErrors; context: { $implicit: 'district' }"
            />
          </label>
        </div>

        <label class="form-label">
          <span class="form-label-text">{{ 'address'| translate }} *</span>
          <input
            class="form-input"
            type="text"
            trim
            [maxlength]="255"
            [placeholder]="'enter.address'| translate"
            [class.invalid]="registerStoreForm.get('address').invalid && registerStoreForm.get('address').touched"
            [formControlName]="'address'"
          >
          <ng-container
            *ngTemplateOutlet="requiredErrors; context: { $implicit: 'address' }"
          />
        </label>
      </div>

      <div class="register-company-descriptions">
        <label class="form-label">
          <span class="form-label-text">{{ 'description'| translate }} (uz) *</span>
          <textarea
            class="form-textarea"
            [class.invalid]="registerStoreForm.get('desc_uz').touched && (registerStoreForm.get('desc_uz').hasError('required') || registerStoreForm.get('desc_uz').hasError('maxlength'))"
            trim
            [maxlength]="1500"
            [placeholder]="'enter.description'| translate"
            [formControlName]="'desc_uz'"
          ></textarea>
          @if (registerStoreForm.get('desc_uz').touched) {
            @if (registerStoreForm.get('desc_uz').hasError('required') && !registerStoreForm.get('desc_uz').hasError('maxlength')) {
              <span class="form-error">{{ 'required.field'| translate }}</span>
            }
            @if (!registerStoreForm.get('desc_uz').hasError('required') && registerStoreForm.get('desc_uz').hasError('maxlength')) {
              <span class="form-error">{{ 'up.to.n.characters.can.be.entered'| translate: { maxlength: 1500 } }}</span>
            }
          }
        </label>

        <label class="form-label">
          <span class="form-label-text">{{ 'description'| translate }} (ru)</span>
          <textarea
            class="form-textarea"
            [class.invalid]="registerStoreForm.get('desc_ru').touched && registerStoreForm.get('desc_ru').hasError('maxlength')"
            trim
            [maxlength]="1500"
            [placeholder]="'enter.description'| translate"
            [formControlName]="'desc_ru'"
          ></textarea>
          @if (registerStoreForm.get('desc_ru').touched && registerStoreForm.get('desc_ru').hasError('maxlength')) {
            <span class="form-error">{{ 'up.to.n.characters.can.be.entered'| translate: { maxlength: 1500 } }}</span>
          }
        </label>
      </div>

      <div class="form-label">
        <span class="form-label-text">{{ 'location'| translate }}</span>
        <div class="register-map" id="map"></div>
      </div>
    </div>
  </fieldset>

  <div class="register-submit">
    <ui-button
      [actionType]="'submit'"
      [loading]="registerStoreForm.disabled"
    />
  </div>
</form>

<ng-template #requiredErrors let-controlName>
  @if (registerStoreForm.get(controlName).invalid && registerStoreForm.get(controlName).touched) {
    <span class="form-error">{{ 'required.field'| translate }}</span>
  }
</ng-template>
