@import "variables";
@import "mixins";


.register {
  padding: 1.25rem;
  border-radius: 0.5rem;
  border: 1px solid $border-grey-color;
}

.register-heading {
  font-size: 1.25rem;
  font-weight: 500;
}

.register-fieldset {
  margin: 0;
  padding: 1.25rem 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $border-grey-color;
}

.register-info {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $dialog-title-black;

  a {
    color: $primary-red-color;
    text-decoration: underline;
  }
}

.register-main-fields {
  @include grid(repeat(3, 1fr), 1rem);
}

.register-legend {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: $dialog-title-black;
}

.register-company-info {
  @include flex-column(1rem);
}

.register-company-info-top {
  @include grid(2fr 1fr, 1rem);
}

.register-company-info-fields {
  @include grid(1fr 1fr, 1rem);
}

.register-work-times {
  @include grid(repeat(4, 1fr), 0.5rem);
}

.register-work-times-input {
  text-align: center;
}

.register-delivery-type {
  @include grid(1fr 1fr, 0.5rem);
}

.register-company-upload-logo {
  @include flex-column(1rem);
  align-items: center;
  cursor: pointer;
}

.register-company-logo-preview {
  @include flex-center-center;
  width: 60%;
  aspect-ratio: 1;
  background-color: $background-grey-color;
  border-radius: 50%;
}

.register-company-logo-requirements {
  padding: 1.5rem;
  font-size: 0.75rem;
  color: $secondary-text-color;
  text-align: center;
}

.register-company-logo-file-input {
  @include visually-hidden;
}

.register-company-descriptions {
  @include grid(1fr 1fr, 1rem);
}

.register-map {
  aspect-ratio: 2.5;
  border-radius: 0.5rem;
  overflow: auto;
}

.register-submit {
  @include flex-center-end();
  padding-top: 1rem;
}
