<form class="register" [formGroup]="registerStoreForm">
  <h2 class="register-heading">{{ 'store.registration'| translate }}</h2>

  <fieldset class="register-fieldset">
    <p class="register-info">{{ 'store.registration.description'| translate }}</p>
  </fieldset>

  <fieldset class="register-fieldset">
    <div class="register-legend">{{ 'store.owner.information'| translate }}</div>
    <div class="register-main-fields">
      <label class="form-label">
        <span class="form-label-text">{{ 'surname'| translate }} *</span>
        <input
          class="form-input"
          [class.invalid]="registerStoreForm.get('owner_lastname').invalid && registerStoreForm.get('owner_lastname').touched"
          type="text"
          [placeholder]="'enter.your.surname'| translate"
          [formControlName]="'owner_lastname'"
        >

        <ng-container
          *ngTemplateOutlet="nameErrors; context: { $implicit: 'owner_lastname' }"
        />
      </label>

      <label class="form-label">
        <span class="form-label-text">{{ 'name'| translate }} *</span>
        <input
          class="form-input"
          [class.invalid]="registerStoreForm.get('owner_firstname').invalid && registerStoreForm.get('owner_firstname').touched"
          type="text"
          [placeholder]="'enter.your.name'| translate"
          [formControlName]="'owner_firstname'"
        >
        <ng-container
          *ngTemplateOutlet="nameErrors; context: { $implicit: 'owner_firstname' }"
        />
      </label>

      <label class="form-label">
        <span class="form-label-text">{{ 'middlename'| translate }} *</span>
        <input
          class="form-input"
          [class.invalid]="registerStoreForm.get('owner_fathername').invalid && registerStoreForm.get('owner_fathername').touched"
          type="text"
          [placeholder]="'enter.your.middlename'| translate"
          [formControlName]="'owner_fathername'"
        >
        <ng-container
          *ngTemplateOutlet="nameErrors; context: { $implicit: 'owner_fathername' }"
        />
      </label>

      <label class="form-label">
        <span class="form-label-text">{{ 'phone.number'| translate }} *</span>
        <input
          class="form-input"
          [class.invalid]="registerStoreForm.get('owner_phone_number').invalid && registerStoreForm.get('owner_phone_number').touched"
          type="text"
          [mask]="' 00 000 00 00'"
          [prefix]="'+998'"
          [formControlName]="'owner_phone_number'"
        >
        <ng-container
          *ngTemplateOutlet="requiredErrors; context: { $implicit: 'owner_phone_number' }"
        />
      </label>
    </div>
  </fieldset>

  <fieldset class="register-fieldset">
    <div class="register-legend">{{ 'store.information'| translate }}</div>

    <div class="register-company-info">
      <div class="register-company-info-top">
        <div class="register-company-info-fields">
          <label class="form-label">
            <span class="form-label-text">{{ 'store.name'| translate }} *</span>
            <input
              class="form-input"
              type="text"
              [placeholder]="'enter.store.name'| translate"
              [class.invalid]="registerStoreForm.get('name_uz').invalid && registerStoreForm.get('name_uz').touched"
              [formControlName]="'name_uz'"
            >
            <ng-container
              *ngTemplateOutlet="requiredErrors; context: { $implicit: 'name_uz' }"
            />
          </label>

          <div class="register-company-shortname">
            <label class="form-label">
              <span class="form-label-text">{{ 'short.name.of.store'| translate }} *</span>
              <input
                class="form-input"
                [class.invalid]="registerStoreForm.get('shortname').invalid && registerStoreForm.get('shortname').touched"
                type="text"
                [placeholder]="'enter.short.name'| translate"
                [formControlName]="'shortname'"
              >
              @if (registerStoreForm.get('shortname').touched) {
                @if (registerStoreForm.get('shortname').hasError('required')) {
                  <span class="form-error">{{ 'required.field'| translate }}</span>
                }

                @if (!registerStoreForm.get('shortname').hasError('required') && registerStoreForm.get('shortname').hasError('invalidShortname')) {
                  <span class="form-error">{{ 'shortname.requirements'| translate }}</span>
                }
              }
            </label>
            @if (!registerStoreForm.get('is_shortname_free').value) {
              <div class="register-company-shortname-error">
                <mat-icon
                  class="register-company-shortname-error-icon"
                  [svgIcon]="'icon:info'"
                  #shortNameErrorIcon
                  (click)="overlayPanel.openPanel()"
                />

                <overlay-panel [originElement]="shortNameErrorIcon._elementRef.nativeElement" #overlayPanel>
                  <div
                    class="register-company-shortname-error-panel"
                    overlay-content
                  >
                    <div class="register-company-shortname-error-info">
                      <mat-icon
                        [svgIcon]="'icon:info'"
                      />
                      <p>{{ 'name.is.reserved.you.can.report'| translate }}</p>
                    </div>
                    <div class="register-company-shortname-error-report">
                      <ui-button
                        [text]="'complaining'"
                        (click)="openShortnameComplainingModal()"
                      />
                    </div>

                  </div>
                </overlay-panel>
              </div>
            }
          </div>

          <div class="form-label">
            <span class="form-label-text">{{ 'working.time'| translate }}</span>
            <div class="register-work-times">
              <mat-select class="register-work-times-select solid-select" [value]="1"
                          [hideSingleSelectionIndicator]="true">
                <mat-option [value]="1">{{ 'mon'| translate }}</mat-option>
                <mat-option [value]="2">{{ 'tue'| translate }}</mat-option>
                <mat-option [value]="3">{{ 'wed'| translate }}</mat-option>
                <mat-option [value]="4">{{ 'thu'| translate }}</mat-option>
                <mat-option [value]="5">{{ 'fri'| translate }}</mat-option>
                <mat-option [value]="6">{{ 'sat'| translate }}</mat-option>
                <mat-option [value]="7">{{ 'sun'| translate }}</mat-option>
              </mat-select>
              <input class="register-work-times-input form-input" type="text" placeholder="00:00" [mask]="'Hh:m0'">
              <mat-select class="solid-select" [value]="1" [hideSingleSelectionIndicator]="true">
                <mat-option [value]="1">{{ 'mon'| translate }}</mat-option>
                <mat-option [value]="2">{{ 'tue'| translate }}</mat-option>
                <mat-option [value]="3">{{ 'wed'| translate }}</mat-option>
                <mat-option [value]="4">{{ 'thu'| translate }}</mat-option>
                <mat-option [value]="5">{{ 'fri'| translate }}</mat-option>
                <mat-option [value]="6">{{ 'sat'| translate }}</mat-option>
                <mat-option [value]="7">{{ 'sun'| translate }}</mat-option>
              </mat-select>
              <input class="register-work-times-input form-input" type="text" placeholder="00:00" [mask]="'Hh:m0'">
            </div>
          </div>

          <label class="form-label">
            <span class="form-label-text">{{ 'category'| translate }}</span>

            <mat-select class="solid-select" [value]="1" [hideSingleSelectionIndicator]="true">
            </mat-select>
          </label>

          <label class="form-label">
            <span class="form-label-text">{{ 'delivery'| translate }}</span>

            <mat-radio-group class="register-delivery-type">
              <mat-radio-button
                class="form-radio"
                [color]="'primary'">{{ 'yes'| translate }}
              </mat-radio-button>
              <mat-radio-button
                class="form-radio"
                [color]="'primary'"
              >{{ 'no'| translate }}
              </mat-radio-button>
            </mat-radio-group>
          </label>

          <label class="form-label">
            <span class="form-label-text">{{ 'phone.number'| translate }}</span>
            <input class="form-input" type="text" [placeholder]="'enter.phone.number'| translate">
          </label>

          <label class="form-label">
            <span class="form-label-text">{{ 'slogan'| translate }} (uz)</span>
            <input class="form-input" type="text" [placeholder]="'enter.slogan'| translate">
          </label>

          <label class="form-label">
            <span class="form-label-text">{{ 'slogan'| translate }} (ru)</span>
            <input class="form-input" type="text" [placeholder]="'enter.slogan'| translate">
          </label>
        </div>

        <div class="register-company-upload-logo" (click)="logoFileInput.click()">
          <div class="register-company-logo-preview">
            <p class="register-company-logo-requirements" [innerHTML]="'store.logo.requirements'| translate"></p>
          </div>

          <ui-button
            [type]="'gray-outline'"
            [text]="'upload'"
            [icon]="'icon:camera'"
          />
          <input #logoFileInput class="register-company-logo-file-input" type="file">
        </div>
      </div>

      <div class="register-company-descriptions">
        <label class="form-label">
          <span class="form-label-text">{{ 'description'| translate }} (uz)</span>
          <textarea class="form-textarea" [placeholder]="'enter.description'| translate"></textarea>
        </label>

        <label class="form-label">
          <span class="form-label-text">{{ 'description'| translate }} (ru)</span>
          <textarea class="form-textarea" [placeholder]="'enter.description'| translate"></textarea>
        </label>
      </div>

      <div class="form-label">
        <span class="form-label-text">{{ 'location'| translate }}</span>
        <div class="register-map" id="map"></div>
      </div>
    </div>
  </fieldset>

  <div class="register-submit">
    <ui-button
      [actionType]="'submit'"
    />
  </div>
</form>

<ng-template #nameErrors let-controlName>
  @if (registerStoreForm.get(controlName).touched) {
    @if (registerStoreForm.get(controlName).hasError('required') && !registerStoreForm.get(controlName).hasError('invalidName')) {
      <span class="form-error">{{ 'required.field'| translate }}</span>
    }

    @if (!registerStoreForm.get(controlName).hasError('required') && registerStoreForm.get(controlName).hasError('invalidName')) {
      <span class="form-error">{{ 'enter.correct.information'| translate }}</span>
    }
  }
</ng-template>

<ng-template #requiredErrors let-controlName>
  @if (registerStoreForm.get(controlName).invalid && registerStoreForm.get(controlName).touched) {
    <span class="form-error">{{ 'required.field'| translate }}</span>
  }
</ng-template>
