@if (loading) {
  <spinner-loader/>
}

@if (!loading && wishlist.length) {
  <products-section
    [heading]="'wishlist'"
    [products]="wishlist"
  />
  <div class="container">
    <mat-paginator
      [pageSize]="params.page_size"
      [pageIndex]="params.page"
    />
  </div>
}

@if (!loading && !wishlist.length) {
  <div class="wish-list-empty">
    <div class="wish-list-empty-img">
      <img [ngSrc]="'/assets/empty-list-icons/wishlist.svg'" [fill]="true" [alt]="">
    </div>

    <h2 class="wish-list-empty-heading">{{ 'there.is.nothing.here.for.now'| translate }}</h2>
    <p class="wish-list-empty-text">{{ 'click.heart.icon.and.add.your.favorites.here'| translate }}</p>

    <ui-button [text]="'Перейти в каталог товаров'"/>
  </div>

}
