@import "variables";
@import "mixins";

:host {
  @include flex-column;
  flex-grow: 1;
}

.wish-list {
  padding-top: 1.5rem;
}

.wish-list-grid {
  @include grid(repeat(4, 1fr), 1.5rem);
}

.wish-list-empty {
  @include flex-column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 2rem;
  text-align: center;
}

.wish-list-empty-img {
  position: relative;
  width: 12rem;
  aspect-ratio: 10/9;
  margin-bottom: 3rem;
}

.wish-list-empty-heading {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: $dialog-title-black;
}

.wish-list-empty-text {
  margin-bottom: 2rem;
  font-size: 0.875rem;
  color: $secondary-black-color;
}
