@if (loading) {
  <spinner-loader/>
}

@if (!loading && wishlist.length) {
  <div class="wish-list container">
    <section-header
      class="wish-list-header"
      [heading]="'wishlist'"
    />

    <div class="wish-list-grid">
      @for (product of wishlist; track product) {
        <product-card
          [product]="product"
        />
      }
    </div>

    <mat-paginator
      class="wish-list-paginator"
      [pageSize]="params.page_size"
      [pageIndex]="params.page"
      [length]="params.total"
      (page)="onPageChange($event)"
      [hidePageSize]="true"
    />
  </div>
}

@if (!loading && !wishlist.length) {
  <div class="wish-list-empty">
    <div class="wish-list-empty-img">
      <img [ngSrc]="'/assets/empty-list-icons/wishlist.svg'" [fill]="true" [alt]="">
    </div>

    <h2 class="wish-list-empty-heading">{{ 'there.is.nothing.here.for.now'| translate }}</h2>
    <p class="wish-list-empty-text">{{ 'click.heart.icon.and.add.your.favorites.here'| translate }}</p>

    <ui-button
      [routerLink]="['/']"
      [text]="'go.to.classifieds.directory'"/>
  </div>

}
