@import "variables";
@import "mixins";

.categories-carousel-wrapper {
  position: relative;
}

.categories-carousel-navs {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  @include flex-center-between;
  width: calc(100% + 2.5rem);
  margin: 0 -1.25rem;
}

.categories-slide {
  position: relative;
  height: 7rem;
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: red;
  box-shadow: 0 4px 16px 0 rgba(151, 150, 240, 0.04);
  overflow: hidden;
  cursor: pointer;

  &.gradient-1 {
    background: linear-gradient(90deg, rgba(151, 150, 240, 0.70) 0%, rgba(251, 199, 212, 0.70) 100%);
  }

  &.gradient-2 {
    background: linear-gradient(90deg, rgba(230, 92, 0, 0.70) 0%, rgba(249, 212, 35, 0.70) 100%);
  }

  &.gradient-3 {
    background: linear-gradient(90deg, rgba(172, 182, 229, 0.70) 0%, rgba(134, 253, 232, 0.70) 100%);
  }

  &.gradient-4 {
    background: linear-gradient(90deg, rgba(229, 93, 135, 0.70) 0%, rgba(95, 195, 228, 0.70) 100%);
  }

  &.gradient-5 {
    background: linear-gradient(90deg, rgba(29, 151, 108, 0.70) 0%, rgba(147, 249, 185, 0.70) 100%);
  }

  &.gradient-6 {
    background: linear-gradient(90deg, rgba(71, 118, 230, 0.70) 0%, rgba(142, 84, 233, 0.70) 100%);
  }

  &.gradient-7 {
    background: linear-gradient(90deg, #8E9EAB 0%, #EEF2F3 100%);
  }
}

.categories-slide-heading {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  color: $white-color;
}

.categories-slide-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40% !important;
  height: auto;
}
