<section class="download-app section">
  <div class="container">
    <div class="download-app-inner">

      <div class="download-app-left">
        <h2 class="download-app-heading">Покупайте товары с лучшими скидками через Aksiyamix</h2>

        <img class="download-app-qr-code" [ngSrc]="'/assets/download-app/qr-code.svg'" [width]="160" [height]="160" alt="QR Code image">
      </div>

      <div class="download-app-right">
        <img src="/assets/download-app/mobila-app.png" alt="">
      </div>

      <img class="download-app-decoration" src="/assets/bg-images/looper.svg" alt="">
    </div>
  </div>
</section>


