<div class="product-details-map">

  <h2 class="product-details-map-heading">Адрес</h2>

  <div class="product-details-map-body">
    <div style="position:relative;overflow:hidden;">
      <a href="https://yandex.uz/maps/org/42674301933/?utm_medium=mapframe&utm_source=maps"
         style="color:#eee;font-size:12px;position:absolute;top:0px;">Oziq-ovqatlar do'koni</a><a
      href="https://yandex.uz/maps/10335/tashkent/category/food_hypermarket/215839062375/?utm_medium=mapframe&utm_source=maps"
      style="color:#eee;font-size:12px;position:absolute;top:14px;">Oziq-ovqat gipermarketi Toshkentda</a>
      <iframe
        src="https://yandex.uz/map-widget/v1/?ll=69.267789%2C41.306776&mode=poi&poi%5Bpoint%5D=69.269421%2C41.307977&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D42674301933&z=15.71"
        width="708" height="448" allowfullscreen="true" style="position:relative;"></iframe>
    </div>
  </div>
</div>
