@import 'variables';
@import 'mixins';

.product-details-map {
  @include flex-column(0.75rem);
}

.product-details-map-heading {
  height: 3.4rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 3.4rem;
}

.product-details-map-body {
  height: 25rem;
  border-radius: 0.5rem;
  border: 1px solid $border-grey-color;
  overflow: hidden;
}

@include media(1080px) {
  .product-details-map-heading {
    font-size: 1rem;
  }
}

@include media(900px) {
  .product-details-map-heading {
    height: auto;
    line-height: 1;
  }
}



