@import 'variables';
@import 'mixins';

.product-details-map {
  @include flex-column(0.75rem);
}

.product-details-map-heading {
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 4rem;
}

.product-details-map-body {
  height: 25rem;
  border-radius: 0.5rem;
  border: 1px solid $border-grey-color;
  overflow: hidden;
}




