@import "variables";
@import "mixins";

.wish-list-button {
  @include flex-center-center;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.5rem;

  &:hover, &.active {
    background-color: rgba($primary-blue-color, 0.1);
    color: $primary-blue-color;
  }
}

.wish-list-icon {
  width: 1.5rem;
}
